.contents-box
	@extend $sidepadding
	&.trend
		h1,h2
			color contents
		.contents-box__ttl--sub
			color contents
			&:before
				background-color contents
	&.interview
		h1,h2
			color tag_
		.contents-box__ttl--sub
			color tag_
			&:before
				background-color tag_
	&.skill
		h1,h2
			color secondary_
		.contents-box__ttl--sub
			color secondary_
			&:before
				background-color secondary_
	&.career
		h1,h2
			color tag
		.contents-box__ttl--sub
			color tag
			&:before
				background-color tag
	&.chopsticks
		h1,h2
			color tag__
		.contents-box__ttl--sub
			color tag__
			&:before
				background-color tag__
	&.qa
		h1,h2
			color secondary
		.contents-box__ttl--sub
			color secondary
			&:before
				background-color secondary
.contents-box__ttl,
.contents-box__ttl--sub
	color contents
.contents-box__ttl--sub
	padding-left: 12px
	position: relative
	&:before
		content ''
		display block
		position: absolute
		width 7px
		height 1em
		left 0
		top 4px
		background-color contents
.contents-box__text
	color text
	strong
		font-weight bold

.contents-box__img
	margin-left -15px
	margin-right -15px
	img
		width 100%
.contents-box__caption
	@extend $sidepadding
	color text
	> a
		&:link
			color disable
.contents-box--social
	display flex
	justify-content space-between
	align-items flex-end

.contents-box--social__list
	width 24%
	display block
	.u-fs--xs--contents
		+below(321px)
			font-size: 1rem

.contents-box__num
	text-align right
	color text
	.c-icon--eye
		position: relative
		top 1px
		margin-right: 2px

.contents-box--recruit__top
	width 100%
	.-recruit__top__inner
		@extend $sidepadding
	.-recruit__top__ttl
		color text
		padding-top 10px
		padding-bottom 10px
		@extend $sidepadding
		background-color back
	.-recruit__top__subTtl
		color primary
		

.contents-box--recruit__middle
	@extend $sidepadding
	.c-tag--secret--detail
		margin-right: 5px
		margin-bottom: 5px
.contents-box--recruit__ttl
	color base

.contents-box--recruit__attention
	border 1px solid base
	position relative
	padding 30px 15px 15px
	.c-tag--new--flow
		position absolute
		top 0
		left 0
	.-recruit__attention__img
		width 40%
	.-recruit__attention__top
		display flex
		width 100%
	.-recruit__attention__img
		width 38%
		margin-right 4%
	.-recruit__attention__ttl
		color base
		width 68%
		lineClamp(100%,4)
	.-recruit__attention__interview__ttl
		color #df5780
		width 68%
		lineClamp(100%,4)
	.-recruit__attention__text
		color text
.contents-box--interview
	border 1px solid #df5780
.contents-box__contents__topImg
	width 100%
	> img
		width 100%
.contents-box__overview
	padding: 10px
	background-color back
	color text
.contents-box__ttl--sub--interview
	color tag_
	
.contents-box__ttl--border
	padding-bottom: 5px
	border-bottom 2px solid tag_

._contents__ttl--concept
	padding-left: 16px
	color base
	text-align left
	position: relative
	&:before
		content ''
		display block
		position: absolute
		top 0
		left 0
		width 8px
		height 25px
		background-color base
	> span
		display block
	+below(321px)
		font-size: 1.5rem !important
		> span
			font-size: 2rem !important

._contents__detail__block--flex
	display flex
	align-items center
._contents__detail__l,
._contents__detail__r
	width 50%

._contents__detail__l
	> img
		width 100%
._contents__detail__r
	margin-left: 15px
	text-align left

._contents__detail__block
	.contents-box__text
		text-align left

._contents__detail__block--flex
	border-top 1px solid line
	padding 20px 0
	&:nth-last-of-type(1)
		border-bottom 1px solid line
		
.contents-box__qa
	.contents-box__qa__text
		color text
		
.contents-box__overview__otherTtl
	color secondary
	
._contents__qa__adviser__block
	border-top 1px solid secondary
	border-bottom 1px solid secondary
	padding: 20px
	._contents__qa__adviser__top
		display flex
		justify-content space-between
		align-items center
	._contents__qa__adviser__ttl,
	._contents__qa__adviser__subTtl
		color secondary
	._contents__qa__adviser__l
		margin-right: 15px
		figure
			width 112px
		img
			border-radius 80px
	._contents__qa__adviser,
	._contents__qa__adviser__text
		color text
	._contents__overview__btnBlock
		display flex
		justify-content space-between
		.c-button-square--qa
			width 48%

.contents-box__balloon
	position relative
	text-align center
	&:after
		display block
		content ''
		width 20px
		height 20px
		background-color back
		margin -17px auto 0
		transform rotate(45deg)
._balloon__inner
	position relative
	display inline-block
	background-color back
	font-weight bold
	width 100%
	padding 10px
	z-index 2


