//.nav-box
//	.nav-box__list

.nav-box
	background-color primary__
	.nav-box__list
		position: relative
		&:after
			content ''
			display block
			position absolute
			bottom 0
			height 1px
			background-color line
			width 100%
			left 0
		&:nth-last-of-type(1)
			&:after
				display none
		//.c-icon--triangle
		//	margin-left: auto
	.nav-box__list--top
		padding 12px 15px 11px
		background-color back
		border-bottom 1px solid primary
		display flex
		justify-content space-between
		align-items center
		._list--top__r
			color text
		.c-icon--close
			display block
			margin 0 auto
	.nav-box__list--selected
		display flex
		margin 0 -20px
		padding 15px 20px
		align-items center
		background menu
		color base
	.nav-box__list__link
		display flex
		padding 15px
		align-items center
		background primary__
		color text
		.nav-box__text
			display block
			width 90px
		.nav-box__search__history
			color base
			display block
			@extend $ellipsis
			width 150px
			&.is-empty
				color text
	.nav-box__list__icon
		width 25px
		display block
		text-align center
		margin-right: 5px
	.nav-box__list__back
		background-color back
		.c-icon--triangle
			margin-left: auto
	.c-icon--l
		margin-right: 10px
	&.is-disable
		display none


//bottom vcategory nav
.nav-box--category__ttl
	border-top 1px solid menu
	color text
	background primary__
	padding 20px 0 0
	margin-bottom: 10px
	.c-icon--circle--text__ttl
		margin-right: 2px
		position: relative
		top: 1px
	> span
		display block
		padding-left: 15px
.nav-box--category
	margin-bottom: 20px
	width 100%
	display flex
	flex-wrap wrap
	.nav-box__list
		height 52px
		width 50%
		position: relative
		border-top 1px solid line
		border-right 1px solid line
		&:nth-of-type(5),
		&:nth-of-type(6)
			border-bottom 1px solid line
		&:nth-of-type(even)
			border-right none
		.c-icon--triangle
			padding-right: 7px
	.nav-box__list__link
		padding-left: 30px
		display flex
		height: 100%
		align-items center
		background primary__
		color text
		justify-content space-between
	.nav-box__list__icon
		width 25px
		height 21px
		display flex
		align-items center
		text-align center
		margin-right: 5px
		margin-left: 20px
	.nav-box__list--selected
		display flex
		align-items center
		justify-content space-between
		background menu
		color base
		height 100%
		position relative
		padding-left: 30px
	.nav-box__list__arrow
		display block
		position absolute
		right 20px
		top 18px
		margin auto

.nav-box--left
	@extend .nav-box
	.nav-box__list
		&:nth-last-of-type(1)
			border-bottom 1px solid line

.overlay
	position: absolute
	top: 0
	left: 0
	bottom: 0
	right: 0
	z-index: 10000
	background: rgba(0,0,0,0.3)
	display none
	&.is-open
		display block

//.globalmenu__wrap.is-open
//	-webkit-transform: translate3d(-270px, 0, 0);
//	transform: translate3d(-270px, 0, 0);
//	overflow: hidden;

.globalmenu__wrap
	position: relative;
	-webkit-transition: all .4s;
	transition: all .4s;
	&.is-open
		-webkit-transform: translate3d(-270px, 0, 0);
		transform: translate3d(-270px, 0, 0);
	&.is-open--left
		-webkit-transform: translate3d(270px, 0, 0);
		transform: translate3d(270px, 0, 0);
.nav-box
	transition: all .4s;
	right -270px
	position fixed
	top 0
	width 270px
	z-index: 100
	height 100%
	overflow-x: hidden
	display block
	&.is-open
		-webkit-transform: translate3d(-270px, 0, 0);
		transform: translate3d(-270px, 0, 0);
.nav-box--left
	transition: all .4s;
	left -270px
	position: absolute
	top 0
	width 270px
	z-index: 100
	overflow-x: hidden
	height 100%
	&.is-open
		-webkit-transform: translate3d(270px, 0, 0);
		transform: translate3d(270px, 0, 0);
.is-noClick
	pointer-events none

.nav-horizontal
	overflow: hidden
	height: 54px
	width: 100%
	background-color back

.nav-horizontal__mask
	height: 74px
	width: 100%
	overflow-x: auto
	-webkit-overflow-scrolling: touch

.nav-horizontal__list
	display: inline-table
	max-width: 100%
	height 100%

.nav-horizontal__lists
	display: table-cell
	vertical-align top
	white-space: nowrap
	padding-right 25px
	padding-left: 10px
	height: 54px
	padding-top: 21px
	color text













