- var page = 'concept'
- var title = '食べるんだ'
- var domain = '../'
- var description = ''
- var keywords = ''
- var heading = 'true'
doctype html
html(lang='ja')
	head
		include ../partial/_head
	body

		include ../partial/_header
		.primary-box
			.breadcrumb.u-fs--xxs
				a(href="#")
					span HOME
				span.breadcrumb__arrow__text.u-arrow__text &gt;
					span 食べるんだとは
			.primary-box__inner.u-mt20(data-target-maincolumn="target")
				.column-left.column-left--bg(data-target-leftcolumn="target")
					article.column-box__contents
						.column-box__contents__topImg
							img(src="#{domain}img/concept/main.jpg" alt="もっと多くの人たちに“食”の業界で働く魅力を伝えたい！")
						._contents__detail__block
							p.column-box_contents__text.u-fs--lh--contents.u-mt25
								|飲食業界は、いつも人手が不足しています。
								|そんな飲食業界の人手不足問題を解消するため、もっともっと多くの人たちに飲食業界で働く楽しさを知ってほしいと思っています。
							p.column-box_contents__text.u-fs--lh--contents.u-mt25
								|“食べるんだ”を通じて、飲食業界の魅力を、飲食に関わる人たちだけでなく、食べることが好きという一般の人たちにも、
								|情報発信して行きたいと考えています。
						._contents__detail__block--flex.u-mt40
							._contents__detail__l
								img(src="#{domain}img/concept/concept-01.jpg" alt="")
							._contents__detail__r
								h2._contents__ttl--concept.u-fs--xxl.u-fwb 食べるんだとは？
								p.column-box_contents__text.u-fs--lh--contents.u-mt15
									|食べるんだは、食に関係する求人と情報コンテンツがひとつにまとまった“飲食”業界初のキュレーションサイトです。
						._contents__detail__block--flex
							._contents__detail__l
								h2._contents__ttl--concept.u-fs--xxl.u-fwb
									|求人掲載件数は、
									span.u-fs--xxl--contents 約00,000件
								p.column-box_contents__text.u-fs--lh--contents.u-mt15
									| サービス・販売スタッフはもちろん、バリスタ・ブランジェ・ピッツァイオーロなど、掲載割合の少ない専門職も一括で検索できます。
							._contents__detail__r
								img(src="#{domain}img/concept/concept-02.jpg" alt="")
						._contents__detail__block--flex
							._contents__detail__l
								img(src="#{domain}img/concept/concept-03.jpg" alt="")
							._contents__detail__r
								h2._contents__ttl--concept.u-fs--xxl.u-fwb 食に関する、多彩な情報コンテンツ
								p.column-box_contents__text.u-fs--lh--contents.u-mt15
									| 就職・転職に役立つ情報をはじめ、最新食トレンドや労務Q&Aなど多彩なお役立ちコンテンツを発信。食の最新情報をチェックできます。

				.column-right
					.column-right__inner(data-target-rightcolumn="target")
						.column-box--rightTop
							include ../partial/column_right/_column_rightTop
						ul.nav-box.u-fs--xs.u-mt30
							include ../partial/_nav
						.column-box--right__search.u-mt30
							include ../partial/form/_quick_search_right
		include ../partial/_footer
		script(src='#{domain}js/app.js')


