- var page = 'contents_trend'
- var title = '食べるんだ'
- var domain = '../../'
- var description = ''
- var keywords = ''
- var heading = 'true'

doctype html
html(lang='ja')
	head
		include ../../partial/_head
	body
		.globalmenu__wrap(data-target-wrap='hamburger')
			include ../../partial/_header
			.primary-box--noPadding
				.primaryImg-box(style="background-image:url(#{domain}img/media/trend-01.jpg)")
					span.u-fs--xs--contents.c-tag--interview--l--contents インタビュー
				.contents-box.interview
					h1.contents-box__ttl.u-fs--xlh--contents.u-mt30.u-fwb 今が食べごろ！ふわっとやわらかな春キャベツの魅力
					ul.contents-box--social.u-mt10
						li.contents-box--social__list
							a(href="#").c-button-square--social.c-facebook
								i.c-font-icon--facebook._social__block__icon.u-fs--xxxl
						li.contents-box--social__list
							a(href="#").c-button-square--social.c-twitter.u-mt10
								i.c-font-icon--twitter._social__block__icon.u-fs--xxxl
						li.contents-box--social__list
							a(href="#").c-button-square--social.c-line.u-mt10
								i.c-font-icon--line._social__block__icon.u-fs--xxxxl
						li.contents-box--social__list
							a(href="#").c-button-square--social.c-hatena.u-mt10
								i.c-font-icon--hatebu._social__block__icon.u-fs--xxxl
					.contents-box__num.u-mt10
						span.c-icon--eye
						span.u-fs--xxs 2368
					.contents-box__overview.u-mt20.u-fs--mh
						h3.u-fwb
							|ジャパンフードサービス株式会社
							br
							|代表取締役 社長　小嶋 雄治
						ul
							li 「八丁堀バル 873」「入谷海岸 湘南食堂」、9月1日に開店する新店舗「kamakura house」と都内に3店舗のお店を構える、オーナーの小嶋雄治さんに、お話しを伺いました。
					h2.contents-box__ttl--border.u-fs--xlh--contents.u-fwb.u-mt35 飲食業界で働こうと思った、きっかけを教えてください。
					h3.contents-box__ttl--sub--interview.u-fs--xlh.u-fwb.u-mt30
						| ――18歳で大学進学のために上京された当時、将来飲食店を経営するとイメージしていましたか？
					p.contents-box__text.u-fs--mh.u-mt15
						|ほほ1 年中目にするキャベツは球型でしっかりと葉が巻いている「寒玉」です。これに対して比較的暖かい産地で春先に出荷される品種が「春玉」。葉の巻きが緩やかでやわらかく、生で食べても甘味を感じます。
						|大きな野菜ではありますが、ほんのひと工夫すればたっぷりと、おいしく食べきれます。春こそ、新しいキャベツ料理にチャレンジしませんか？
					p.contents-box__text.u-fs--mh.u-mt15
						| ほほ1 年中目にするキャベツは球型でしっかりと葉が巻いている「寒玉」です。これに対して比較的暖かい産地で春先に出荷される品種が「春玉」。葉の巻きが緩やかでやわらかく、生で食べても甘味を感じます。
						| 大きな野菜ではありますが、ほんのひと工夫すればたっぷりと、おいしく食べきれます。春こそ、新しいキャベツ料理にチャレンジしませんか？

					h3.contents-box__ttl--sub--interview.u-fs--xlh.u-fwb.u-mt30
						| ――なぜ料理を本格的にやっていこうと思ったのですか。
					p.contents-box__text.u-fs--mh.u-mt15
						|ロールキャベツはタネ作りに少し手聞がかかるイメージがあります。でも薄切り肉を使えばもっと簡単！
						|春キャベツは生のまま、適当な大きさに切って薄切り肉を巻きます。火の通りも早いのでサッと煮こむのはもちろん、
						|焼いたり蒸したり、衣をつけて揚げたりすれば、お好みのロールキャベツに。食感も楽しい新感覚の口ールキャベツをお試しください。
					figure.contents-box__img.u-mt15
						img(src="#{domain}img/media/trend-02.jpg" alt="")
					h3.contents-box__ttl--sub--interview.u-fs--xlh.u-fwb.u-mt30
						|――最後に、9月1日に新しくリニューアルオープンされますが、今後の展望や未来像があれば教えてください。
					p.contents-box__text.u-fs--mh.u-mt15
						|ロールキャベツはタネ作りに少し手聞がかかるイメージがあります。でも薄切り肉を使えばもっと簡単！
						|春キャベツは生のまま、適当な大きさに切って薄切り肉を巻きます。火の通りも早いのでサッと煮こむのはもちろん、焼いたり蒸したり、
						|衣をつけて揚げたりすれば、お好みのロールキャベツに。食感も楽しい新感覚の口ールキャベツールキャベツをお試しください。
					.contents-box__overview.u-mt20.u-fs--mh
						h3.u-fwb [店舗情報]
						ul
							li 店舗:クロスカーサ
							li 住所:東京都新宿区歌舞伎町1-23-13　第一大滝ビルB1
							li アクセス:JR新宿駅東口から徒歩3分　西武新宿線から徒歩1分
							li TEL:03-6380-3661
							li URL:http://r.gnavi.co.jp/jep0000/
							li 生ハム食べ放題会員も募集中
							li http://hogehoge.com/
					.contents-box__overview.u-mt20.u-fs--mh
						h3.u-fwb [会社概要]
						ul
							li 称号:株式会社スペースワン
							li 代表者:代表取締役　松林大吾
							li 所在地:〒150-0043　東京都道玄坂1-22-8-5F
							li 設立: 2006(平成18)12月


				h3.column-box--new__ttl.u-fs--xs--contents.u-fwb.u-mt20
					i.c-icon--star
					| 新着コンテンツ
				ul.column-box--new__list
					li.column-box--new__lists
						a(href="#")
							.-new__list__img(style="background-image:url(#{domain}img/media/media-m01.jpg)")
								span.c-icon--circle--m
									span.u-fwb NEW
							.-new__list__right
								p.-new__list__text.u-fs--sh--contents.u-fwb
									| 世界の料理をアルファベット順にご紹介！第13弾”M”「モモ」「マフェ」って知ってますか？
								._list__right__bottom
									span._list__right__tag.c-tag--career--l.u-fs--xs.u-fwb
										| 労務Q&A
									._right__bottom__num
										span.c-icon--eye
										span.u-fs--xxs 2368
					li.column-box--new__lists
						a(href="#")
							.-new__list__img(style="background-image:url(#{domain}img/media/media-m01.jpg)")
								span.c-icon--circle--m
									span.u-fwb NEW
							.-new__list__right
								p.-new__list__text.u-fs--sh--contents.u-fwb
									| 世界では“板チョコ革命”が起きていた？！チョコレートの本当の美味しさを届ける「Bean to bar（ビーン・トゥ・バー）」
								._list__right__bottom
									span._list__right__tag.c-tag--trend--l.u-fs--xs.u-fwb
										| 食トレンド
									._right__bottom__num
										span.c-icon--eye
										span.u-fs--xxs 2368
					li.column-box--new__lists
						a(href="#")
							.-new__list__img(style="background-image:url(#{domain}img/media/media-m01.jpg)")
								span.c-icon--circle--m
									span.u-fwb NEW
							.-new__list__right
								p.-new__list__text.u-fs--sh--contents.u-fwb
									| 世界の料理をアルファベット順にご紹介！第13弾”M”「モモ」「マフェ」って知ってますか？
								._list__right__bottom
									span._list__right__tag.c-tag--skill--l.u-fs--xs.u-fwb
										| スキルアップ
									._right__bottom__num
										span.c-icon--eye
										span.u-fs--xxs 2368
					li.column-box--new__lists
						a(href="#")
							.-new__list__img(style="background-image:url(#{domain}img/media/media-m01.jpg)")
								span.c-icon--circle--m
									span.u-fwb NEW
							.-new__list__right
								p.-new__list__text.u-fs--sh--contents.u-fwb
									| 世界の料理をアルファベット順にご紹介！第13弾”M”「モモ」「マフェ」って知ってますか？テストテストテストテストテスト
								._list__right__bottom
									span._list__right__tag.c-tag--interview--l.u-fs--xs.u-fwb
										| インタビュー
									._right__bottom__num
										span.c-icon--eye
										span.u-fs--xxs 2368
					li.column-box--new__lists
						a(href="#")
							.-new__list__img(style="background-image:url(#{domain}img/media/media-m01.jpg)")
								span.c-icon--circle--m
									span.u-fwb NEW
							.-new__list__right
								p.-new__list__text.u-fs--sh--contents.u-fwb
									| 世界の料理をアルファベット順にご紹介！第13弾”M”「モモ」「マフェ」って知ってますか？テストテストテストテストテスト
								._list__right__bottom
									span._list__right__tag.c-tag--career--l.u-fs--xs.u-fwb
										| 就食ノウハウ
									._right__bottom__num
										span.c-icon--eye
										span.u-fs--xxs 2368
				h3.column-box--new__ttl.u-fs--xs--contents.u-fwb.u-mt20
					i.c-icon--heart
					| 人気コンテンツ
				ul.column-box--new__list
					li.column-box--new__lists
						a(href="#")
							.-new__list__img(style="background-image:url(#{domain}img/media/media-m01.jpg)")
								span.c-icon--tag
									span.u-fwb 人気
							.-new__list__right
								p.-new__list__text.u-fs--sh--contents.u-fwb
									| 世界の料理をアルファベット順にご紹介！第13弾”M”「モモ」「マフェ」って知ってますか？
								._list__right__bottom
									span._list__right__tag.c-tag--trend--l.u-fs--xs.u-fwb
										| 食トレンド
									._right__bottom__num
										span.c-icon--eye
										span.u-fs--xxs 2368
					li.column-box--new__lists
						a(href="#")
							.-new__list__img(style="background-image:url(#{domain}img/media/media-m01.jpg)")
								span.c-icon--tag
									span.u-fwb 人気
							.-new__list__right
								p.-new__list__text.u-fs--sh--contents.u-fwb
									| 世界では“板チョコ革命”が起きていた？！チョコレートの本当の美味しさを届ける「Bean to bar（ビーン・トゥ・バー）」
								._list__right__bottom
									span._list__right__tag.c-tag--trend--l.u-fs--xs.u-fwb
										| 食トレンド
									._right__bottom__num
										span.c-icon--eye
										span.u-fs--xxs 2368
					li.column-box--new__lists
						a(href="#")
							.-new__list__img(style="background-image:url(#{domain}img/media/media-m01.jpg)")
								span.c-icon--tag
									span.u-fwb 人気
							.-new__list__right
								p.-new__list__text.u-fs--sh--contents.u-fwb
									| 世界の料理をアルファベット順にご紹介！第13弾”M”「モモ」「マフェ」って知ってますか？
								._list__right__bottom
									span._list__right__tag.c-tag--trend--l.u-fs--xs.u-fwb
										| 食トレンド
									._right__bottom__num
										span.c-icon--eye
										span.u-fs--xxs 2368
					li.column-box--new__lists
						a(href="#")
							.-new__list__img(style="background-image:url(#{domain}img/media/media-m01.jpg)")
								span.c-icon--tag
									span.u-fwb 人気
							.-new__list__right
								p.-new__list__text.u-fs--sh--contents.u-fwb
									| 世界の料理をアルファベット順にご紹介！第13弾”M”「モモ」「マフェ」って知ってますか？テストテストテストテストテスト
								._list__right__bottom
									span._list__right__tag.c-tag--trend--l.u-fs--xs.u-fwb
										| 食トレンド
									._right__bottom__num
										span.c-icon--eye
										span.u-fs--xxs 2368
					li.column-box--new__lists
						a(href="#")
							.-new__list__img(style="background-image:url(#{domain}img/media/media-m01.jpg)")
								span.c-icon--tag
									span.u-fwb 人気
							.-new__list__right
								p.-new__list__text.u-fs--sh--contents.u-fwb
									| 世界の料理をアルファベット順にご紹介！第13弾”M”「モモ」「マフェ」って知ってますか？テストテストテストテストテスト
								._list__right__bottom
									span._list__right__tag.c-tag--trend--l.u-fs--xs.u-fwb
										| 食トレンド
									._right__bottom__num
										span.c-icon--eye
										span.u-fs--xxs 2368
				h3.nav-box--category__ttl.u-fs--xs--contents.u-fwb
					span
						i.c-icon--circle--text__ttl
						|コンテンツカテゴリー
				ul.nav-box--category.u-fs--s.u-mt10
					include ../../partial/_footerNav
			include ../../partial/_footer
			.overlay(data-target-close="target")
		ul.nav-box.u-fs--xs(data-target-hamburgermenu='hamburger')
			include ../../partial/_nav
		//下記必要なくなるかも
		ul.nav-box--left.u-fs--xs(data-target-searchmenu='search')
			include ../../partial/_leftNav
		include ../../partial/modal/_login
		script(src='#{domain}js/app.js')






































