.column-box
	width 100%
	overflow hidden
	padding 15px 20px 0
	background primary__
	border-radius 2px
	.column-box__ttl
		color text
	.column-box__ttl__tag
		margin-left 10px

//search
.column-box--search
	@extend .column-box
	.column-box__ttl
		padding-bottom: 10px
		border-bottom 1px solid line
	.column-box__list
		display table
		margin 15px 0 30px
	.column-box__list__ttl
		width 100px
		border-right 1px solid line
	.column-box__list__ttl,
	.column-box__list__right
		display table-cell
	.column-box__list__right
		padding-left: 20px
		ul
			margin-bottom: -15px
		li
			display inline-block
			padding 0 10px 15px 12px
			position relative
	//.column-box__list__icon
	.c-icon--triangle
		position absolute
		top 3px
		left 2px
	.column-box__list--first
		color base
	.column-box__list--second
		color secondary
	.column-box__list--third
		color secondary_

//media
.column-box--media
	@extend .column-box
	.column-box--media__lists
		margin-bottom: 20px
		float left
		width 206px
		margin-right 16px
		&:nth-of-type(3n)
			margin-right: 0
		> a
			display block
			width 100%
			height 100%
			&:hover
				text-decoration none
				opacity .7
	.column-box--media__img
		background-size cover
		background-position center
		background-repeat no-repeat
		height 157px
		width 206px
	.-media__img__text
		display block
		color base
		margin-top: 5px
	.column-box--media__detail
		@extend $ellipsis
		width 200px
		color text_
		dt,dd
			display inline
			color text_
		dt
			color base
	.column-box__ttl
		padding-bottom 10px

//new
.column-box--new__ttl
	color text
.column-box--new
	width 100%
	background-color primary__
	.column-box__ttl
		color text
		margin-bottom: 10px
	.column-box--new__lists
		overflow: hidden
		border-bottom 1px solid line
		background-color primary__
		> a
			display block
			width 100%
			height 100%
			&:hover
				opacity .7
		//> a
		//  .-new__list__text
		//		&:hover
		//			text-decoration underline
	.-new__list__img
		float left
		position relative
		width 276px
		height 166px
		background-size cover
		background-position center
		background-repeat no-repeat
	.-new__list__right
		width 60%
		float left
		padding 20px
	.c-icon--circle--m
		display block
		position: absolute
		left 10px
		top 10px
		text-align: center
		color primary__
		padding-top 14px
	.c-icon--eye--l
		position relative
		top 2px
		left -2px
	.-new__list__text
		color text
		margin-bottom: 10px
		lineClamp(92px,3)
	.-new__list__interview__text
		color text
		margin-bottom: 10px
		lineClamp(55px,2)
	.-interview__list__subTtl
		color #727171
		padding 0 0 10px 0
	._list__right__bottom
		display flex
	._right__bottom__num
		margin-left: auto
		color text
	.column-box--new__lists
		&:last-of-type
			border none


//contents

.column-box__contents
	background-color primary__
	.column-box__contents__topImg
		position: relative
		width 100%
		img
			width 100%
		.c-tag--trend--l--contents,
		.c-tag--career--l--contents,
		.c-tag--skill--l--contents,
		.c-tag--interview--l--contents,
		.c-tag--qa--l--contents,
		.c-tag--chopsticks--l--contents
			position: absolute
			top 0
			left 0
	._contents__top__block,
	._contents__detail__block
		width 100%
		padding-left 20px
		padding-right 20px
	.c-button-square--social
		margin-right: 10px
		&:nth-of-type(3)
			margin-right: 0
	.column-box__contents__ttl
		color contents
		position: relative
	.column-box_contents__subTtl
		color contents
		position: relative
		padding-left: 20px
		&:before
			content ''
			display block
			position: absolute
			width 10px
			height 21px
			background-color contents
			left 0
			top 5px
	.column-box_contents__subTtl--interview
		color tag_
	.column-box_contents__text
		color text
		strong
			font-weight: bold
	._contents__social__block
		color primary__
		display flex
		align-items center
		margin-top: 25px
	._contents__social__block--border
		@extend .column-box__contents ._contents__social__block
		border-bottom 1px solid line
		padding-bottom: 30px
	._social__block__right
		color text
		margin-left: auto
		.c-icon--eye--l
			position: relative
			top: 2px
			right 5px
	._contents__img_text
		color disable
	._contents__bottom__block--info
		color text
	._contents__detail__map
		position: relative
		padding-bottom: 65%
		height: 0
		overflow: hidden
		iframe
			position: absolute
			top: 0
			left: 0
			width: 100% !important
			height: 100% !important
	._contents__img__block
		margin-bottom 25px
		width 100%
		> img
			width 100%
	._contents__overview
		padding: 20px
		color:text
		background-color:back
		._contents__overview__otherTtl
			color secondary
	._contents__overview__btnBlock
		display flex
		.c-button-square--qa
			margin-right: 10px
		//justify-content space-between
	._contents__qa__adviser__block
		border-top 1px solid secondary
		border-bottom 1px solid secondary
		padding: 20px
		._contents__qa__adviser__top
			display flex
			justify-content space-between
			align-items center
		._contents__qa__adviser__ttl,
		._contents__qa__adviser__subTtl
			color secondary
		._contents__qa__adviser__l
			margin-right: 15px
			figure
				width 112px
			img
				border-radius 80px
		._contents__qa__adviser__text,
		._contents__qa__adviser
			color text
			
	&.trend
		h1,h2
			color contents
		.column-box_contents__subTtl
			&:before
				background-color contents
	&.interview
		h1,h2
			color tag_
		.column-box_contents__subTtl
			&:before
				background-color tag_
	&.skill
		h1,h2
			color secondary_
		.column-box_contents__subTtl
			&:before
				background-color secondary_
	&.career
		h1,h2
			color tag
		.column-box_contents__subTtl
			&:before
				background-color tag
	&.chopsticks
		h1,h2
			color tag__
		.column-box_contents__subTtl
			&:before
				background-color tag__
	&.qa
		h1,h2
			color secondary
		.column-box_contents__subTtl
			&:before
				background-color secondary
	.column-box_contents__ttl--border
		padding-bottom: 5px
		border-bottom 2px solid tag_
//secret
.column-box__secret
	background-color primary__
	padding 20px 20px 40px
	._secret__heading__left
		color text
		width 325px
		float: left
	._heading__left__company
		color primary
	._secret__heading__right
		width 325px
		float: left
		text-align right
		> span
			margin-right: 5px
			&:last-of-type(1)
				margin-right: 0
	._secret__heading__ttl
		color base
		clear both
		padding-top 10px
	._secret__text__ttl
		color base
	._secret__text
		color text

._secret__tag
	.c-tag--secret--detail
		margin-right: 5px
		margin-bottom: 5px
		&:last-of-type(1)
			margin-right: 0
._secret__notice
	border 1px solid base
	padding 15px
	overflow: hidden
	._secret__notice__img
		background-size cover
		background-position center
		background-repeat no-repeat
		width 232px
		height 174px
		float: left
	._secret__notice__right
		float: right
		width 367px
	._secret__notice__ttl
		color base
	._secret__notice__text
		lineClamp(108px,6)
		overflow: hidden
		color text
		
._secret__interview__notice
	border 1px solid #df5780
	padding 15px
	overflow: hidden
	._secret__notice__img
		background-size cover
		background-position center
		background-repeat no-repeat
		width 232px
		height 174px
		float: left
	._secret__notice__right
		float: right
		width 367px
	._secret__notice__ttl
		color #df5780
	._secret__notice__text
		lineClamp(108px,6)
		overflow: hidden
		color text

._secret__social__block
	color primary__
	display flex
	justify-content: center
	align-items center
	.c-button-square--social
		&:nth-of-type(1)
			margin-right: 10px

.column-box__secret--table
	background primary__
._secret__detail__tab
	border-bottom 1px solid line
	display flex
	align-items flex-end
	justify-content flex-start
	._detail__tab__inner
		width 150px
		height 40px
		line-height: 40px !important
		border-radius 3px 3px 0 0
		color base
		border 1px solid line
		border-bottom none
		position: relative
		top 1px
		z-index 1
		background-color menu
		text-align center
		cursor pointer
		&:nth-of-type(1)
			margin 0 5px 0 20px
		&:nth-of-type(2)
			width 200px
		&.is-active
			background primary__
._secret__detail--recruit
	padding 30px 20px

//secret table
._secret__detail--recruit
	&.is-disable
		display none

._secret__detail__table--wrap
	padding: 30px 20px
	&.is-disable
		display none
	._detail__table--header
		margin-bottom: 15px
._secret__detail__table
	width 100%
	border 1px solid line
	table-layout fixed
	border-bottom none
	border-collapse: collapse
	tr
		border-bottom 1px solid line
	.c-tag--detail--table
		margin-right: 5px
		margin-bottom: 5px
	&.is-disable
		display none
		
._detail__table__left
	width 120px
	text-align center
	color text
	background-color back
	min-height: 50px
._detail__table__right
	width 530px
	color text
	padding 20px
	word-break break-all
._detail__table__map
	position: relative
	padding-bottom: 65%
	height: 0
	overflow: hidden
	iframe
		position: absolute
		top: 0
		left: 0
		width: 100% !important
		height: 100% !important
.column-box__secret__btnBLock
	display flex
	align-items center
	justify-content center
	padding-bottom 40px
	.c-font-icon--attachment
		margin-right: 10px
	> div
		margin-right: 10px
		
//secret bottomブロック
.column-box__secret--bottom
	background primary__
	padding: 20px 20px 0
	color text
._secret--bottom__heading
	padding-bottom: 15px
._secret--bottom__list
	border-top 1px solid line
	position: relative
	padding 20px 0 20px 20px
	&:before
		content ''
		display block
		position: absolute
		top 0
		bottom 0
		left 0
		margin auto
		@extend .c-icon--triangle
		width 0
		height 0
.-bottom__list__header
	color base
//normal
.column-box--normal__ttl
	padding-left 20px
	padding-right: 20px
	background-color #fff
	color text_
.column-box--normal
	@extend .column-box--new
	.column-box--normal__list
		border-top 1px solid line
	.column-box--normal__lists
		@extend .column-box--new .column-box--new__lists
	.-normal__list__img
		@extend .column-box--new .-new__list__img
	.-normal__list__right
		@extend .column-box--new .-new__list__right
	.-normal__list__text
		@extend .column-box--new .-new__list__text



//heading
.column-left__heading
	display table
	width 100%
.column-left__ttl
	display table-cell
	vertical-align middle
	color primary_
	border-right 1px solid primary_
	padding-right 20px
	white-space nowrap
	.column-left__ttl__inner
		display block
	.column-left__text
		display block
	.fix-kana
		margin-left: -0.3em
	&.trend
		color contents
		border-right-color contents
	&.career
		color tag
		border-right-color tag
	&.skill
		color secondary_
		border-right-color color secondary_
	&.interview
		color tag_
		border-right-color tag_
	&.qa
		color secondary
		border-right-color secondary
	&.chopsticks
		color tag__
		border-right-color tag__

.column-left__ttl__right
	display table-cell
	vertical-align middle
	padding-left: 20px
	color text
.column-left__ttl__right--border
	@extend .column-left__ttl__right
	border-left 1px solid line
.column-left__info
	display flex
	align-items center
	.column-left__info__text
		margin-right auto
		color text
		white-space nowrap
		> span
			color base
			display inline-block
			margin-right: 5px
	.pager
		margin-left auto

.column-left__heading--normal
	@extend .column-left__heading
	padding 3px 0
.column-left__ttl--normal
	@extend .column-left__ttl
	color text
	border-right none
	width: 50%
.column-left__ttl__right--normal
	display block
	padding-left: 20px
	border-left 1px solid line
	._ttl__right__num,
	._ttl__right__name
		display block
	._ttl__right__num
		color text_
		> span
			color base
			display inline-block
			margin-right: 5px
	._ttl__right__name
		color text
	.c-icon--people
		position: relative
		top 2px
		margin-right 5px

.column-box--wide
	.column-box--wide__list
		padding 20px
		background-color primary__
	.column-box--wide__list__new
		padding 10px 20px
		background-color primary__
	.-wide__list__ttl
		color base
		padding-right 85px
		position: relative
		lineClamp()
		.c-tag--new--flow
			position absolute
			right 0
			top 4px
	.-wide__list__ttl--multiTag
		display flex
		._list__multiTag__text,
		._list__multiTag__block
			display block
		._list__multiTag__text
			color base
			width 100%
			margin-right: auto
			lineClamp()
			@media all and (-ms-high-contrast:none)
				max-height 52px
		._list__multiTag__block
			text-align right
			display none
			span
				&:nth-of-type(2)
					margin-left: 5px

	.-wide__list__subTtl
		color text
		@extend $ellipsis
		@media all and (-ms-high-contrast:none)
			line-height: 1.5
	.-wide__list__bottom
		overflow: hidden
		position: relative
		.-wide__list__img
			width 280px
			height 214px
			background-size cover
			background-position center
			background-repeat no-repeat
			float: left
		.-wide__list__img__new
			width 200px
			height 153px
			background-size cover
			background-position center
			background-repeat no-repeat
			float: left
	.-wide__list__details
		display block
		float right
		width 348px
		span
			color #727171
		._list__detail__title
			color base
			white-space nowrap
		li:nth-of-type(1)
			margin-top: -3px
		@media all and (-ms-high-contrast:none)
			li:nth-of-type(1)
				margin-top: 0
	.-wide__list__details__new
		display block
		float right
		width 430px
		span
			color #727171
		._list__detail__title
			color base
			white-space nowrap
		li:nth-of-type(1)
			margin-top: -3px
		a:hover
			text-decoration none
		h2
			line-height 2.6rem
		.-wide__list__subTtl__new
			color #7e7d7d
			padding 10px 0
		@media all and (-ms-high-contrast:none)
			li:nth-of-type(1)
				margin-top: 0
	.-wide__list__detail--multiline
		lineClamp()
		@media all and (-ms-high-contrast:none)
			lineClamp()
	.-wide__list__detail
		@extend $ellipsis
	._list__button__block
		position: absolute
		bottom 22px
		right 0
		.c-button-square--mm,
		.c-button-square--mm--gray
			display block
			text-align center
			line-height 40px
			float: left
		.c-button-square--mm--gray
			margin-right 8px
	.-wide__list__footer
		clear both
		text-align right
		padding-top 10px
		color text
	._show__more__right
		float right
		color #7e7d7d
		text-decoration underline
._show__more
	color #7e7d7d
	text-decoration underline

//.column-left__heading--single

//concept
._contents__ttl--concept
	padding-left: 5px
	color base
	border-left 10px solid base

._contents__detail__block--flex
	//@exrends .column-box__contents ._contents__detail__block
	display flex
	justify-content space-between
	align-items center
	padding 40px 0
	margin-right: 20px
	margin-left: 20px
	border-top 1px solid line

._contents__detail__l
	margin-right: 20px


.column-box--bnr
	display block
	&:hover
		opacity .7







