if page === 'contents_trend'
	li.nav-box__list.is-selected
		p.nav-box__list--selected.u-fwb
			span 食トレンド
			i.c-icon--triangle
else
	li.nav-box__list
		a.nav-box__list__link.u-fwb(href="#")
			span 食トレンド
			i.c-icon--triangle
li.nav-box__list
	a.nav-box__list__link.u-fwb(href="#")
		span インタビュー
		i.c-icon--triangle
li.nav-box__list
	a.nav-box__list__link.u-fwb(href="#")
		span スキルアップ
		i.c-icon--triangle
li.nav-box__list
	a.nav-box__list__link.u-fwb(href="#")
		span 労務Q&A
		i.c-icon--triangle
li.nav-box__list
	a.nav-box__list__link.u-fwb(href="#")
		span 就食ノウハウ
		i.c-icon--triangle
li.nav-box__list
	a.nav-box__list__link.u-fwb(href="#")
		span しゃべるんだ
		i.c-icon--triangle
