li.nav-box__list--top
	.c-button-square--s(data-modal-trigger="login")
		span ログイン
	._list--top__r(data-target-close="target")
		i.c-icon--close
		span.u-fs--xxxs MENU
li.nav-box__list.u-fs--s.u-fwb
	a.nav-box__list__link(href="#")
		span.nav-box__list__icon
			i.c-icon--home
		span HOME
li.nav-box__list.u-fs--s.u-fwb
	a.nav-box__list__link(href="#")
		span.nav-box__list__icon
			i.c-icon--secret
		span シークレット求人
li.nav-box__list.u-fs--s.u-fwb
	a.nav-box__list__link(href="#")
		span.nav-box__list__icon
			i.c-icon--content
		span コンテンツ一覧
li.nav-box__list.u-fs--xs.u-fwb
	a.nav-box__list__link.nav-box__list__back(href="#")
		i.c-icon--l
		span.nav-box__list__icon
			i.c-icon--trend
		span 食トレンド
		i.c-icon--triangle
li.nav-box__list.u-fs--xs.u-fwb
	a.nav-box__list__link.nav-box__list__back(href="#")
		i.c-icon--l
		span.nav-box__list__icon
			i.c-icon--interview
		span インタビュー
		i.c-icon--triangle
li.nav-box__list.u-fs--xs.u-fwb
	a.nav-box__list__link.nav-box__list__back(href="#")
		i.c-icon--l
		span.nav-box__list__icon
			i.c-icon--skill
		span スキルアップ
		i.c-icon--triangle
li.nav-box__list.u-fs--xs.u-fwb
	a.nav-box__list__link.nav-box__list__back(href="#")
		i.c-icon--l
		span.nav-box__list__icon
			i.c-icon--work
		span 労務Q&A
		i.c-icon--triangle
li.nav-box__list.u-fs--xs.u-fwb
	a.nav-box__list__link.nav-box__list__back(href="#")
		i.c-icon--l
		span.nav-box__list__icon
			i.c-icon--career
		span 就食ノウハウ
		i.c-icon--triangle
li.nav-box__list.u-fs--xs.u-fwb
	a.nav-box__list__link.nav-box__list__back(href="#")
		i.c-icon--l
		span.nav-box__list__icon
			i.c-icon--chopsticks
		span しゃべるんだ
		i.c-icon--triangle
li.nav-box__list
	a.nav-box__list__link(href="#")
		i.c-icon--triangle.u-mr5
		span 食べるんだとは
li.nav-box__list
	a.nav-box__list__link(href="#")
		i.c-icon--triangle.u-mr5
		span お問い合わせ
li.nav-box__list
	a.nav-box__list__link(href="#")
		i.c-icon--triangle.u-mr5
		span 運営会社
li.nav-box__list
	a.nav-box__list__link(href="#")
		i.c-icon--triangle.u-mr5
		span プライバシーポリシー


