.support-bnr
    .support-bnr__inner
        p.support-bnr__txt
            img(src='#{domain}img/banner/txt-support-01.png', alt='無料 キャリアコンシェルジュが、あなたの転職をサポート')
        .support-bnr__img
        .support-bnr__btn-box
            .c-button-square--ss--orange.u-fs--xs
                a(href='#{domain}support/')
                    span.c-icon--mobile
                    |ウェブでお申し込み
            .c-button-square--ss.u-fs--xs
                a(href='tel:0120907365')
                    span.c-icon--phone
                    |電話でお申し込み
