ul.tab__block.u-mt25
	li.tab__block__button.u-fs--xs.is-active(data-trigger-tab="trigger") 職種で検索
	li.tab__block__button.u-fs--xs(data-trigger-tab="trigger")  こだわりで検索
.tab__block__inner(data-target-tabinner="target")
	ul.tab__block--top
		li.tab__block__category.u-fs--xs 調理
		li
			ul.tab__block__lists.u-fwb.u-fs--s
				li
					a(href="#")
						|シェフ・キッチン
					span.c-icon--triangle
				li
					a(href="#") パティシエ
					span.c-icon--triangle
				li
					a(href="#") ソムリエ
					span.c-icon--triangle
				li
					a(href="#") バーテンダー
					span.c-icon--triangle
				li
					a(href="#") ブランジェ・製パン
					span.c-icon--triangle
				li
					a(href="#") バリスタ
					span.c-icon--triangle
				li
					a(href="#") ピッツアイオーロ
					span.c-icon--triangle
				li
					a(href="#") 寿司職人
					span.c-icon--triangle
				li
					a(href="#") 製造・加工
					span.c-icon--triangle
				li
					a(href="#") その他
					span.c-icon--triangle
	ul.tab__block--middle
		li.tab__block__category.u-fs--xs 接客・販売
		li
			ul.tab__block__lists.u-fwb.u-fs--s
				li
					a(href="#") 店長・マネージャー
					span.c-icon--triangle
				li
					a(href="#") ホールスタッフ
					span.c-icon--triangle
				li
					a(href="#") 販売スタッフ
					span.c-icon--triangle
				li
					a(href="#") デリバリースタッフ
					span.c-icon--triangle
				li
					a(href="#") レセプショニスト
					span.c-icon--triangle
				li &nbsp;
	ul.tab__block--bottom
		li.tab__block__category.u-fs--xs 企画・運営
		li
			ul.tab__block__lists.u-fwb.u-fs--s
				li
					a(href="#") 経営幹部
					span.c-icon--triangle
				li
					a(href="#") SV・営業
					span.c-icon--triangle
				li
					a(href="#") 本部スタッフ
					span.c-icon--triangle
				li
					a(href="#") 栄養士・管理栄養士
					span.c-icon--triangle
.tab__block__inner.is-disable(data-target-tabinner="target")
	ul.tab__block--top
		li.tab__block__category.u-fs--xs 応募条件
		li
			ul.tab__block__lists.u-fwb.u-fs--s
				li
					a(href="#") 未経験OK
					span.c-icon--triangle
				li
					a(href="#") 年齢不問
					span.c-icon--triangle
				li
					a(href="#") 外国人歓迎
					span.c-icon--triangle
				li
					a(href="#") WワークOK
					span.c-icon--triangle
	ul.tab__block--middle
		li.tab__block__category.u-fs--xs 待遇
		li
			ul.tab__block__lists.u-fwb.u-fs--s
				li
					a(href="#") 社会保険あり
					span.c-icon--triangle
				li
					a(href="#") 寮・社宅あり
					span.c-icon--triangle
				li
					a(href="#") 各種手当充実
					span.c-icon--triangle
				li
					a(href="#") 交通費支給
					span.c-icon--triangle
				li
					a(href="#") 研修あり
					span.c-icon--triangle
				li
					a(href="#") 制服貸与
					span.c-icon--triangle
				li
					a(href="#") 週休2日
					span.c-icon--triangle
				li
					a(href="#") 社員登用あり
					span.c-icon--triangle
	ul.tab__block--bottom
		li.tab__block__category.u-fs--xs 特徴
		li
			ul.tab__block__lists.u-fwb.u-fs--s
				li
					a(href="#") オープニング
					span.c-icon--triangle
				li
					a(href="#") 高収入
					span.c-icon--triangle
				li
					a(href="#") 定休日あり
					span.c-icon--triangle
				li
					a(href="#") 服装自由
					span.c-icon--triangle
				li
					a(href="#") まかないあり
					span.c-icon--triangle
				li
					a(href="#") 個人経営
					span.c-icon--triangle
				li
					a(href="#") 海外勤務あり
					span.c-icon--triangle
				li
					a(href="#") リゾート
					span.c-icon--triangle
				li
					a(href="#") 独立希望者歓迎
					span.c-icon--triangle
				li &nbsp;