header.header--primary
	div.header--primary__inner.u-cf
		.header--primary__search(data-trigger-quicksearch='quicksearch')
			i.c-icon--search
			span.-primary__search__text SEARCH
		.header--primary__right
			.nav--hamburger(data-trigger-hamburgermenu='hamburger')
				span.nav--hamburger__list
				span.nav--hamburger__list
				span.nav--hamburger__list
				span.nav--hamburger__text MENU








