footer
	.footer__inner
		span(data-trigger-totop="target").u-fs--s._inner__button--toTop.c-button-square--toTop
			i._button--toTop__icon.c-icon--triangle--top
			| 上に戻る
		ul.footer__nav
			li.u-fs--xxs._inner__block--left
				ul.footer__inner__list
					li.footer__inner__list__item--colmun-1
						span.u-arrow__text &gt;
						a(href="#")
							|HOME
					li.footer__inner__list__item--colmun-1
						span.u-arrow__text &gt;
						a(href="#")
							|シークレット求人
					li.footer__inner__list__item--colmun-1
						span.u-arrow__text &gt;
						a(href="#")
							|コンテンツまとめ
			li.u-fs--xxs._inner__block--middle
				p._inner__block__title.u-fwb コンテンツカテゴリー
				ul.footer__inner__rows.footer__inner__list
					li.footer__inner__list__item--colmun-2
						span.u-arrow__text &gt;
						a(href="#")
							| 食トレンド
					li.footer__inner__list__item--colmun-2
						span.u-arrow__text &gt;
						a(href="#")
							| 労務Q&A
					li.footer__inner__list__item--colmun-2
						span.u-arrow__text &gt;
						a(href="#")
							| インタビュー
					li.footer__inner__list__item--colmun-2
						span.u-arrow__text &gt;
						a(href="#")
							| 就食ノウハウ
					li.footer__inner__list__item--colmun-2
						span.u-arrow__text &gt;
						a(href="#")
							| スキルアップ
					li.footer__inner__list__item--colmun-2
						span.u-arrow__text &gt;
						a(href="#")
							|しゃべるんだ
			li.u-fs--xxs._inner__block--right
				p._inner__block__title.u-fwb 食べるんだについて
				ul.footer__inner__rows.footer__inner__list
					li.footer__inner__list__item--colmun-2
						span.u-arrow__text &gt;
						a(href="#")
							|食べるんだとは
					li.footer__inner__list__item--colmun-2
						span.u-arrow__text &gt;
						a(href="#")
							|お問い合わせ
					li.footer__inner__list__item--colmun-2
						span.u-arrow__text &gt;
						a(href="#")
							|運営会社
					li.footer__inner__list__item--colmun-2
						span.u-arrow__text &gt;
						a(href="#")
							|プライバシーポリシー
					li.footer__inner__list__item--colmun-2
						span.u-arrow__text &gt;
						a(href="#")
							|ログイン/新規登録
					li.footer__inner__list__item--colmun-2
						span.u-arrow__text &gt;
						a(href="/salesinfo-lp/" target="_blank")
							| 人材をお探しの企業様へ
			li.footer__social__block
				a(href="#").c-button-square--social.c-facebook
					i.c-font-icon--facebook._social__block__icon.u-fs--xxl
					span.u-fs--l シェア
				a(href="#").c-button-square--social.c-twitter.u-mt10
					i.c-font-icon--twitter._social__block__icon.u-fs--xxl
					span.u-fs--l ツイート
				p._social__block__text.u-mt20 &copy;2016 Wiz Co.,Ltd.




