title #{title}
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(charset='UTF-8')
meta(content = '#{description}', name='description')
meta(content='#{keywords}', name='keywords')
meta(name="viewport" content="width=device-width,initial-scale=1,user-scalable=no")
link(rel='stylesheet', href='#{domain}css/app.css')
link(rel="shortcut icon", href="/ico/favicon.ico")
link(rel="icon" type="image/png" href="/ico/favicon.png" sizes="32x32")
//link(rel="apple-touch-icon-precomposed" href='#{domain}img/clipicon.png')
//script.
//    (function (i, s, o, g, r, a, m) {
//        i['GoogleAnalyticsObject'] = r;
//        i[r] = i[r] || function () {
//                    (i[r].q = i[r].q || []).push(arguments)
//                }, i[r].l = 1 * new Date();
//        a = s.createElement(o),
//                m = s.getElementsByTagName(o)[0];
//        a.async = 1;
//        a.src = g;
//        m.parentNode.insertBefore(a, m)
//    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
//    ga('create', 'UA-31867051-1', '012grp.co.jp');
//    ga('require', 'linkid', 'linkid.js');
//    ga('send', 'pageview');




