if page === 'home'
	li.nav-box__list.is-selected
		p.nav-box__list--selected
			span.nav-box__list__icon
				i.c-icon--home
			span HOME
else
	li.nav-box__list
		a.nav-box__list__link(href="#")
			span.nav-box__list__icon
				i.c-icon--home
			span HOME
if page === 'secret'
	li.nav-box__list
		p.nav-box__list--selected
			span.nav-box__list__icon
				i.c-icon--secret
			span シークレット求人
else
	li.nav-box__list
		a.nav-box__list__link(href="#")
			span.nav-box__list__icon
				i.c-icon--secret
			span シークレット求人
if page === 'contents'
	li.nav-box__list
		p.nav-box__list--selected
			span.nav-box__list__icon
				i.c-icon--content
			span コンテンツまとめ
else
	li.nav-box__list
		a.nav-box__list__link(href="#")
			span.nav-box__list__icon
				i.c-icon--content
			span コンテンツまとめ
if page === 'contents_trend'
	li.nav-box__list.is-selected
		p.nav-box__list--selected
			i.c-icon--l
			span.nav-box__list__icon
				i.c-icon--trend
			span 食トレンド
else
	li.nav-box__list
		a.nav-box__list__link(href="#")
			i.c-icon--l
			span.nav-box__list__icon
				i.c-icon--trend
			span 食トレンド
li.nav-box__list
	a.nav-box__list__link(href="#")
		i.c-icon--l
		span.nav-box__list__icon
			i.c-icon--interview
		span インタビュー
li.nav-box__list
	a.nav-box__list__link(href="#")
		i.c-icon--l
		span.nav-box__list__icon
			i.c-icon--skill
		span スキルアップ
li.nav-box__list
	a.nav-box__list__link(href="#")
		i.c-icon--l
		span.nav-box__list__icon
			i.c-icon--work
		span 労務Q&A
li.nav-box__list
	a.nav-box__list__link(href="#")
		i.c-icon--l
		span.nav-box__list__icon
			i.c-icon--career
		span 就食ノウハウ
li.nav-box__list
	a.nav-box__list__link(href="#")
		i.c-icon--l
		span.nav-box__list__icon
			i.c-icon--chopsticks
		span しゃべるんだ
li.nav-box__list
	a.nav-box__list__link(href="/salesinfo-lp/" target="_blank")
		i.c-icon--triangle
		span 人材をお探しの企業様へ
