if page === 'contents_trend'
	li.nav-box__list.is-selected
		p.nav-box__list--selected
			span.nav-box__list__icon
				i.c-icon--trend
			span 食トレンド
			span.nav-box__list__arrow.u-fs--xs
				| &gt;
else
	li.nav-box__list
		a.nav-box__list__link(href="#")
			span.nav-box__list__icon
				i.c-icon--trend
			span 食トレンド
			span.nav-box__list__arrow.u-fs--xs
				| &gt;
li.nav-box__list
	a.nav-box__list__link(href="#")
		span.nav-box__list__icon
			i.c-icon--skill
		span スキルアップ
		span.nav-box__list__arrow.u-fs--xs
			| &gt;
li.nav-box__list
	a.nav-box__list__link(href="#")
		span.nav-box__list__icon
			i.c-icon--career
		span 就食ノウハウ
		span.nav-box__list__arrow.u-fs--xs
			| &gt;
li.nav-box__list
	a.nav-box__list__link(href="#")
		span.nav-box__list__icon
			i.c-icon--interview
		span インタビュー
		span.nav-box__list__arrow.u-fs--xs
			| &gt;
li.nav-box__list
	a.nav-box__list__link(href="#")
		span.nav-box__list__icon
			i.c-icon--work
		span 労務Q&A
		span.nav-box__list__arrow.u-fs--xs
			| &gt;
li.nav-box__list
	a.nav-box__list__link(href="#")
		span.nav-box__list__icon
			i.c-icon--chopsticks
		span しゃべるんだ
		span.nav-box__list__arrow.u-fs--xs
			| &gt;
