if page === 'home'
	ul.topImg-box.topImg-box--center
		li.topImg-box__list.topImg-box__list--side(style="background-image:url(#{domain}img/topimg/taberunda_topimage1.jpg)")
		li.topImg-box__list.topImg-box__list--center(style="background-image:url(#{domain}img/topimg/taberunda_topimage2.jpg)")
		li.topImg-box__list.topImg-box__list--side(style="background-image:url(#{domain}img/topimg/taberunda_topimage3.jpg)")
else if page === 'contents'
	ul.topImg-box
		li.topImg-box__list(style="background-image:url(#{domain}img/topimg/test_img.jpg)")
			a.topImg-box__link(href="")
				p.topImg-box__list__inner
					span.topImg-box__list__text.u-fs--xlh
						| まるでNYのリノベーションホテルのようなレストランにて、コース料理からウェディング
		li.topImg-box__list(style="background-image:url(#{domain}img/topimg/test_img.jpg)")
			a.topImg-box__link(href="")
				p.topImg-box__list__inner
					span.topImg-box__list__text.u-fs--xlh
						| まるでNYのリノベーションホテルのようなレストランにて、コース料理からウェディング
		li.topImg-box__list(style="background-image:url(#{domain}img/topimg/test_img.jpg)")
			a.topImg-box__link(href="")
				p.topImg-box__list__inner
					span.topImg-box__list__text.u-fs--xlh
						| まるでNYのリノベーションホテルのようなレストランにて、コース料理からウェディング


