.column-box--rightContents.u-mt30
	h3.column-box__ttl.u-fs--l.u-fwb
		i.column-box__ttl__icon.c-icon--heart
		| 人気コンテンツ
	.column-box--rightContents__list
		a(href="#")
			.-rightContents__list__img(data-normal="bg" data-layzr-bg="#{domain}img/media/media-s01.jpg")
				span.c-icon--tag
					span.u-fwb 人気
			.-rightContents__list__right
				p.-rightContents__list__text.u-fs--sh
					| 保存期間1ヶ月！作り置きに便利なみかんをたっ
				span._list__right__tag.c-tag--trend.u-fs--xxxs.u-fwb
					| 食トレンド
				span.c-icon--eye
				span.u-fs--xxs 2368
	.column-box--rightContents__list
		a(href="#")
			.-rightContents__list__img(data-normal="bg" data-layzr-bg="#{domain}img/media/media-s01.jpg")
				span.c-icon--tag
					span.u-fwb 人気
			.-rightContents__list__right
				p.-rightContents__list__text.u-fs--sh
					| 保存期間1ヶ月！作り置きに便利なみかんをたっ
				span._list__right__tag.c-tag--interview.u-fs--xxxs.u-fwb
					| インタビュー
				span.c-icon--eye
				span.u-fs--xxs 2368
	.column-box--rightContents__list
		a(href="#")
			.-rightContents__list__img(data-normal="bg" data-layzr-bg="#{domain}img/media/media-s01.jpg")
				span.c-icon--tag
					span.u-fwb 人気
			.-rightContents__list__right
				p.-rightContents__list__text.u-fs--sh
					| 保存期間1ヶ月！作り置きに便利なみかんをたったったったったったったったっ
				span._list__right__tag.c-tag--trend.u-fs--xxxs.u-fwb
					| 食トレンド
				span.c-icon--eye
				span.u-fs--xxs 2368
	.column-box--rightContents__list
		a(href="#")
			.-rightContents__list__img(data-normal="bg" data-layzr-bg="#{domain}img/media/media-s01.jpg")
				span.c-icon--tag
					span.u-fwb 人気
			.-rightContents__list__right
				p.-rightContents__list__text.u-fs--sh
					| 保存期間1ヶ月！作り置きに便利なみかんをたっ
				span._list__right__tag.c-tag--skill.u-fs--xxxs.u-fwb
					| スキルアップ
				span.c-icon--eye
				span.u-fs--xxs 2368
	.column-box--rightContents__list
		a(href="#")
			.-rightContents__list__img(data-normal="bg" data-layzr-bg="#{domain}img/media/media-s01.jpg")
				span.c-icon--tag
					span.u-fwb 人気
			.-rightContents__list__right
				p.-rightContents__list__text.u-fs--sh
					| 保存期間1ヶ月！作り置きに便利なみかんをたっ
				span._list__right__tag.c-tag--interview.u-fs--xxxs.u-fwb
					| インタビュー
				span.c-icon--eye
				span.u-fs--xxs 2368
