.column-box--rightContents.u-mt30
	h3.column-box__ttl.u-fs--l.u-fwb
		i.column-box__ttl__icon.c-icon--star
		| 新着コンテンツ
	.column-box--rightContents__list
		a(href="#")
			.-rightContents__list__img(data-normal="bg" data-layzr-bg="#{domain}img/media/media-s01.jpg")
				span.c-icon--circle--s
					span.u-fwb NEW
			.-rightContents__list__right
				p.-rightContents__list__text.u-fs--sh
					| 保存期間1ヶ月！作り置きに便利なみかんをたっ
				span._list__right__tag.c-tag--trend.u-fs--xxxs.u-fwb
					| 食トレンド
				span.c-icon--eye
				span.u-fs--xxs 2368
	.column-box--rightContents__list
		a(href="#")
			.-rightContents__list__img(data-normal="bg" data-layzr-bg="#{domain}img/media/media-s01.jpg")
				span.c-icon--circle--s
					span.u-fwb NEW
			.-rightContents__list__right
				p.-rightContents__list__text.u-fs--sh
					| 保存期間1ヶ月！作り置きに便利なみかんをたっ
				span._list__right__tag.c-tag--interview.u-fs--xxxs.u-fwb
					| インタビュー
				span.c-icon--eye
				span.u-fs--xxs 2368
	.column-box--rightContents__list
		a(href="#")
			.-rightContents__list__img(data-normal="bg" data-layzr-bg="#{domain}img/media/media-s01.jpg")
				span.c-icon--circle--s
					span.u-fwb NEW
			.-rightContents__list__right
				p.-rightContents__list__text.u-fs--sh
					| 保存期間1ヶ月！作り置きに便利なみかんをたっ
				span._list__right__tag.c-tag--career.u-fs--xxxs.u-fwb
					| 就食ノウハウ
				span.c-icon--eye
				span.u-fs--xxs 2368
	.column-box--rightContents__list
		a(href="#")
			.-rightContents__list__img(data-normal="bg" data-layzr-bg="#{domain}img/media/media-s01.jpg")
				span.c-icon--circle--s
					span.u-fwb NEW
			.-rightContents__list__right
				p.-rightContents__list__text.u-fs--sh
					| 保存期間1ヶ月！作り置きに便利なみかんをたっ
				span._list__right__tag.c-tag--chopsticks.u-fs--xxxs.u-fwb
					| しゃべるんだ
				span.c-icon--eye
				span.u-fs--xxs 2368
	.column-box--rightContents__list
		a(href="#")
			.-rightContents__list__img(data-normal="bg" data-layzr-bg="#{domain}img/media/media-s01.jpg")
				span.c-icon--circle--s
					span.u-fwb NEW
			.-rightContents__list__right
				p.-rightContents__list__text.u-fs--sh
					| 保存期間1ヶ月！作り置きに便利なみかんをたっ
				span._list__right__tag.c-tag--qa.u-fs--xxxs.u-fwb
					| 労務Q&A
				span.c-icon--eye
				span.u-fs--xxs 2368
