//list
.list--primary
	background primary__
.list--primary__row
	@extend $sidepadding
	border-bottom 1px solid line
	display block
	&:nth-last-child(1)
		border-bottom none
	> h3
		color base
.list--primary__row__new
	padding: 15px
li.list--primary__row__new
	&:first-child
		border-top none
.list--primary__text
	padding-bottom 15px
	color text
.list__ttl--normal
	color text
.list--primary__text--nopadding
	color text

//.column-box--wide
.column-box--wide__list
	padding 20px 15px 15px
	background-color primary__
.-wide__list__ttl
	//padding-top 10px
	color base
	//padding-right 85px
	//position: relative
	lineClamp(100%,3)
	//.c-tag--new--flow
	//	position absolute
	//	right 0
	//	top 4px
.-wide__list__subTtl
	color text
	@extend $ellipsis
.-wide__list__bottom
	overflow: hidden
	.-wide__list__img
		width 48%
		height 124px
		background-repeat no-repeat
		background-size cover
		background-position center
		float left
		margin-right: 4%
	.-wide__list__img__new
		width 38%
		height 100px
		background-repeat no-repeat
		background-size cover
		background-position center
		float left
		margin-right: 4%
.-wide__list__details
	display block
	width 48%
	float: left
	margin-top -3px
	span
		color #727171
	._list__detail__title
		color base
.-wide__list__details__new
	display block
	width 56%
	float: left
	margin-top -3px
	._list__detail__title
		color base
.-wide__list__details__new--multiline
	margin-bottom: 4px
	line-height: 1.4
	white-space: normal
	lineClamp(34px,2)
.-wide__list__detail--multiline
	margin-bottom: 4px
	lineClamp()
.-wide__list__detail
	@extend $ellipsis
._list__button__block
	width: 100%
	display flex
	justify-content space-between
	.c-button-square--mm,
	.c-button-square--mm--gray
		display block
		text-align center
		line-height 45px
		float: left
	.c-button-square--mm--gray
		margin-right 8px
.-wide__list__footer
	clear both
	text-align right
	color text

.-wide__list__tagBlock
	overflow hidden
	.-wide__list__tagBlock--l
		width 80%
		float: left
		> span
			margin-right: 5px
			margin-bottom: 5px
	.-wide__list__tagBlock--r
		width 20%
		float: right
		text-align right

//.list__flowBlock
.list__flowBlock__ttl
	margin-top 14px

._flowBlock__ttl__inner
	font-weight bold
	font-size 1.8rem
	padding-left 5px
	vertical-align middle

.list__flowBlock__txt
	border-bottom 1px solid line
	font-size 1.4rem
	line-height 2rem
	margin-top 12px
	padding-bottom 12px
	&:last-of-type
		border-bottom none
