.pager
	@extend $sidepadding
	padding-top 20px
	padding-bottom 20px
	.pager__lists
		display flex
		justify-content space-between
		text-align center
		align-items center
	.pager__list
		display inline-block
		background-color primary__
		color text
		> a
			display block
			width 100%
			height 100%
			padding 5px 10px
		&.is-disable
			padding 5px 10px
			color disable
		&.is-selected
			padding 5px 10px
			background-color menu
	.pager__list__num
		display inline-block
		color text




