.support-bnr
  height 75px
  width 100%
  background-size contain
  position fixed
  bottom 0
  left 0
  z-index 10
.support-bnr__inner
  padding 0 15px 10px
  background-color rgba(255, 255, 255, .9)
  box-shadow 0 -2px 2px 0 #cdcdcd

.support-bnr__txt
  img
    height 14px
    width auto
    margin 8px 0

.support-bnr__img
  background url("../img/banner/bg-support-01.png") no-repeat bottom right
  background-size contain
  width 93px
  height 97px
  position absolute
  right 0
  bottom 0

.support-bnr__btn-box
  display flex
  position relative
  padding-right 10.7%
  *[class^='c-button']
    margin-left 15px
    &:first-of-type
      margin-left 0
    *[class^='c-icon']
      margin-right 5px
	  
.support-bnr__btn-box
	.u-fs--xs
		+below(321px)
			font-size: 1rem	
	