- var page = ''
- var title = '食べるんだ'
- var domain = '../'
- var description = ''
- var keywords = ''
- var heading = 'true'
- var search = 'true'

doctype html
html(lang='ja')
	head
		include ../partial/_head
	body
		.globalmenu__wrap(data-target-wrap='hamburger')
			include ../partial/_header
			.primary-box--noPadding
				.contents-box--recruit__top
					h1.-recruit__top__ttl.u-fwb.u-fs--xl--contents Liquor Importers株式会社
						br
						.-recruit__top__subTtl.u-mt10.u-fs--xs World Liquor Importers株式会社
					.-recruit__top__inner
						.-wide__list__tagBlock.u-mt20
							.-wide__list__tagBlock--l
								span.u-fs--xxs.c-tag--secret--flow シークレット
								span.u-fs--xxs.c-tag--celebration 入社お祝い金1万円
							.-wide__list__tagBlock--r
								span.u-fs--xxs.c-tag--new--flow NEW
						h2.contents-box--recruit__ttl.u-fs--xlh.u-mt10.u-fwb
							|まさにグローバル！世界のクラフトビールと世界各国の料理を提供する新たなレストラン5/20 銀座新店舗オープニング大募集
					.column-box__secret__slider.u-mt15
						._secret__slider__main(data-target-slider="target")
							._slider__main__img
								img(src='#{domain}img/slider/slider_01.jpg', alt='')
							._slider__main__img
								img(src='#{domain}img/slider/slider_02.jpg', alt='')
							._slider__main__img
								img(src='#{domain}img/slider/slider_03.jpg', alt='')
				.contents-box--recruit__middle.u-mt15
					span.c-tag--secret--detail.u-fs--xs 未経験OK！
					span.c-tag--secret--detail.u-fs--xs 未経験OK！
					span.c-tag--secret--detail.u-fs--xs 未経験OK！
					h2.contents-box--recruit__ttl.u-fs--xlh.u-mt20.u-fwb
						| 海外ビールの輸入販売を手がける専門商社が手がける、新しいコンセプトのグローバルなレストラン。5/20注目のNEWOPEN！
					p.contents-box__text.u-fs--mh.u-mt15
						| ロールキャベツはタネ作りに少し手聞がかかるイメージがあります。でも薄切り肉を使えばもっと簡単！
						| 春キャベツは生のまま、適当な大きさに切って薄切り肉を巻きます。火の通りも早いのでサッと煮こむのはもちろん、
						| 焼いたり蒸したり、衣をつけて揚げたりすれば、お好みのロールキャベツに。食感も楽しい新感覚の口ールキャベツをお試しください。
					h2.contents-box--recruit__ttl.u-fs--xlh.u-mt25.u-fwb
						| キッチン職希望の方へ！
					p.contents-box__text.u-fs--mh.u-mt15
						| シェフ（料理長）をめざしていただくことも可能です。シェフになると、メニュー開発、原価や売上などの数値管理、
						|スタッフの採用ならびに育成、仕入先との折衝業務など、多岐に渡っておまかせします。
						|ご利用になるすべての方にとって、居心地の良い空間になるような料理・サービスを心がけています。
					.contents-box--recruit__attention.u-mt10
						span.c-tag--new--flow.u-fs--xxs.u-fwb 注目ポイント！
						.-recruit__attention__top
							figure.-recruit__attention__img
								img(src="#{domain}img/secret/recruit.jpg")
							h3.-recruit__attention__ttl.u-fs--mh--contents.u-fwb
								|国内最大級のビールの祭典である「スーパーオクトーバーフェスト」の主催・企画・運営なども手掛ける当社。
						p.-recruit__attention__text.u-fs--sh--recruit.u-mt10
							|やる気次第で、どんどん活躍の場が広がる環境です。今後も様々な事業を展開する当社で、あなたもチャンスを掴みませんか？
							|とにかくお酒に興味のある方大集合！海外とのつながりもあるので、国内ではまだ出回っていないホットな情報を知ることもできます。
							|ビアテイスター、ビアジャッジの取得したいという方には、積極的にサポートしますよ！

				.column-box__secret--table.u-mt20
					ul._secret__detail__tab
						li._detail__tab__inner.is-active.u-fs--xs(data-trigger-tab="0") 募集情報
						li._detail__tab__inner.u-fs--xs(data-trigger-tab="1") 企業・店舗情報
					._secret__detail--recruit
						table._secret__detail__table.u-fs--sh--recruit(data-target-tabinner="target")
							tbody
								tr
									td._detail__table__left
										| 職種
									td._detail__table__right
										ul._detail__table__text--list
											li イタリアン
											li 創作・ダイニング
											li パール・バー
								tr
									td._detail__table__left
										| 職種
									td._detail__table__right
										span.c-tag--detail--table
											| バーテンダー
										span.c-tag--detail--table
											| 店長・マネージャー
										span.c-tag--detail--table
											| 販売スタッフ
								tr
									td._detail__table__left
										| 雇用形態
									td._detail__table__right
										p._detail__table__text
											span.c-tag--detail--table
												| 正社員
											span.c-tag--detail--table
												| アルバイト
								tr
									td._detail__table__left
										| 仕事内容
									td._detail__table__right
										p._detail__table__text
										| 独占輸入の樽生ビール、世界のクラフトビール生Tap15種～30種！日本地ビール、激レアビールも！季節のビールなども含む50種以上を提供するビアレストランが、この度、【マロニエゲート銀座】にNEW　OPEN！
										| 店内は、ベルギーやロンドン、ヨークシャーなどの若者でごった返す「ビアハウス」を再現！世界のお酒の輸入を手がける弊社だからこそ運営できる専門店です。
								tr
									td._detail__table__left
										| 給与
									td._detail__table__right
										ul._detail__table__text--list
											li 【正社員】 月給 180,000円以上
											li ※※正社員平均月収:200,000円〜350,000円
										ul._detail__table__text--list
											li 【アルバイト・パート】 時給 920円〜2,000円

											li ※※パート・アルバイト平均日収:6,800円〜12,500円
								tr
									td._detail__table__left
										| 応募資格
									td._detail__table__right
										ul._detail__table__text--list
											li ●オープニングスタッフ希望者
											li ●飲食店未経験者も歓迎
											li ●調理が好きな方 、世界の料理を学びたい方、外国語に触れたい方！
											li ●調理経験者（特に、イタリアン、ビストロ、カフェ等の洋食調理経験者大歓迎！）他ジャンルの経験をお持ちの方ももちろんOK！
											li ●飲食店でのサービス経験者（ジャンル不問）
											li ●ビールやワイン好きな方、ビアテイスターやソムリエを目指したい方
											li などなど
								tr
									td._detail__table__left
										| 勤務地
									td._detail__table__right
										ul._detail__table__text--list
											li 【東京エリア】
											li 新宿三丁目、秋葉原、日本橋、とうきょうスカイツリー駅 or 押上駅
											li ※姉妹店：神谷町、日本橋、東京（新丸ビル）、浜松町、銀座、新宿、赤坂、銀座、御茶ノ水、六本木、表参道他
											li.u-mt15
												| [ &nbsp;
												a._detail__table__map(href="#")
													span.c-icon--map
													| GoogleMapで確認する&nbsp;
												| ]
								tr
									td._detail__table__left
										| アクセス
									td._detail__table__right
										ul._detail__table__text--list
											li 「WAKANUI GRILL DINING■BAR■TOKYO」
											li 東京都港区芝公園3-4-30 32芝公園ビル10階
											li 都営三田線　御成門駅「A1出口」から徒歩6分
											li 都営大江戸線　赤羽橋駅「赤羽橋口」から徒歩7分
											li 東京メトロ日比谷線　神谷町駅「1番出口」から徒歩8分
										ul._detail__table__text--list.u-mt20
											li 「WAKANUI LAMB CHOP■BAR■JUBAN」
											li 東京都港区東麻布2-23-14　トワ・イグレッグB1F
											li 東京メトロ南北線・都営大江戸線　麻布十番駅から徒歩4分
								tr
									td._detail__table__left
										| 待遇・
										br
										|福利厚生
									td._detail__table__right
										ul._detail__table__text--list
											li ★賞与年1回（2014年度実績　3万円～105万円）
											li ★昇給年1回　
											li ★社会保険完備　
											li ★研修・資格支援制度
											li ・ドイツ＆フランスワイナリー海外研修制度
											li ・月1回のワインテイスティング会　月1回のソムリエによる講習会
											li ・調理士・ソムリエ、ビアテイスター、ビアジャッジャー資格支援制度
											li ・独立支援（のれんわけ）グループ内独立制度（ＦＣ特別融資制度）完備
											li ★交通費支給（当社規定による）
											li ★制服貸与
											li ★食事（一部負担）
											li ★新入社員資金支援サポート制度
											li 引越し資金、敷金・礼金　当社負担
											li 2年間の家賃80％を弊社が負担します。（家賃上限有）
											li （東京、千葉、神奈川、埼玉県以外在住者限定）
											li ★研修・試用期間有
								tr
									td._detail__table__left
										| 休日休暇
									td._detail__table__right
										ul._detail__table__text--list
											li 月７日（交代制）、その他連休あり、年次有給休暇
								tr
									td._detail__table__left
										| 応募・選考
										br
										| について
									td._detail__table__right
										ul._detail__table__text--list
											li 【1】食べるんだの応募フォームよりご応募
											li ↓
											li 【2】書類選考後、面接のご案内
											li ↓
											li 【3】担当者と面接
											li ↓
											li 【4】採用決定
											li &nbsp;
											li  ※採用方法が変更となる場合もございますので、ご了承ください。
						._secret__detail__table--wrap.is-disable(data-target-tabinner="target")
							h3._contents__ttl--concept._detail__table--header.u-fs--xlh.u-fwb 店舗情報
							table._secret__detail__table.u-fs--sh--recruit.u-mt15
								tbody
									tr
										td._detail__table__left
											| 店名
										td._detail__table__right
											| WAKANUI GRILL DINING■BAR■TOKYO
									tr
										td._detail__table__left
											| ジャンル
										td._detail__table__right
											ul._detail__table__text--list
												li イタリアン
												li 創作・ダイニング
												li バール・バー
									tr
										td._detail__table__left
											| 事業所
										td._detail__table__right
											| 東京都品川区東品川2-3-10 シーフォートスクエア1F
									tr
										td._detail__table__left
											| 営業時間
										td._detail__table__right
											ul._detail__table__text--list
												li 【月～金】
												li 17:00〜翌2:00
											ul._detail__table__text--list.u-mt20
												li 【土】
												li 17:00〜23:00
									tr
										td._detail__table__left
											| 定休日
										td._detail__table__right
											| 土・日・祝
									tr
										td._detail__table__left
											| 客単価
										td._detail__table__right
											| 3500円～4500円位
									tr
										td._detail__table__left
											| 席数
										td._detail__table__right
											| 20席
									tr
										td._detail__table__left
											| 定休日
										td._detail__table__right
											| 不定休
									tr
										td._detail__table__left
											| URL
										td._detail__table__right
											a(href="#") https://runda-taberu.jp/
							h3._contents__ttl--concept._detail__table--header.u-fs--xlh.u-fwb.u-mt20 企業情報
							table._secret__detail__table.u-fs--sh--recruit.u-mt15
								tbody
									tr
										td._detail__table__left
											| 企業名
										td._detail__table__right
											| イタリアン
									tr
										td._detail__table__left
											| 代表名
										td._detail__table__right
											| 代表取締役社長 山田 太郎
									tr
										td._detail__table__left
											| 事業内容
										td._detail__table__right
											ul._detail__table__text--list
												li ホテル施設の企画 ・ 運営事業
												li レストラン施設の企画 ・ 運営事業
												li ウェディング施設の企画 ・ 運営事業
												li 宴会施設の企画 ・ 運営事業
									tr
										td._detail__table__left
											| 所在地
										td._detail__table__right
											| 東京都豊島区南大塚2-25-15
									tr
										td._detail__table__left
											| URL
										td._detail__table__right
											a(href="#") https://runda-taberu.jp/
						//table._secret__detail__table.u-fs--sh--recruit.is-disable(data-target-tabinner="target")
						//	tbody
						//		tr
						//			td._detail__table__left
						//				| ジャンル
						//			td._detail__table__right
						//				| イタリアン
						//		tr
						//			td._detail__table__left
						//				| 住所
						//			td._detail__table__right
						//				| 東京都品川区東品川2-3-10 シーフォートスクエア1F
						//		tr
						//			td._detail__table__left
						//				| アクセス
						//			td._detail__table__right
						//				ul._detail__table__text--list
						//					li 東京モノレール 天王洲アイル駅天王洲シーフォートスクエア内りんかい線 天王洲アイル駅 徒歩5分
						//				._detail__table__map.u-mt10
						//					<iframe data-normal="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13122.11578146955!2d135.5071726!3d34.6918364!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x549e50d7757f5c9f!2z44OO44O844K544K344On44Ki!5e0!3m2!1sja!2sjp!4v1466668259297" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
						//				a(href="#") GoogleMapで確認する
						//		tr
						//			td._detail__table__left
						//				| 客単価
						//			td._detail__table__right
						//				| 3500円～4500円位
						//		tr
						//			td._detail__table__left
						//				| 席数
						//			td._detail__table__right
						//				| 20席
						//		tr
						//			td._detail__table__left
						//				| 定休日
						//			td._detail__table__right
						//				| 不定休
						//		tr
						//			td._detail__table__left
						//				| HP
						//			td._detail__table__right
						//				ul
						//					li
						//						a(href="#") ワールドリカーインポーターズ株式会社　企業HP
						//					li
						//						a(href="#") クラフトビールタップ　HP
			.column-box__secret--bottom.u-mb20
				h3._secret--bottom__heading.u-fs--xl--contents.u-fwb この企業が募集しているほかの求人
				ul._secret--bottom__list.u-fwb
					a(href="")
						li._secret--bottom__lists.-bottom__list__header.u-fs--sh--recruit マロニエゲート赤坂店/Liquor Importers株式会社
						li._secret--bottom__lists.u-fs--sh--recruit シェフ・キッチン/まさにグローバル！世界のクラフトビールと世界各国の料理を提供する新たなレストラン5/20 銀座新店舗　オープニング大募集
				ul._secret--bottom__list.u-fwb
					a(href="")
						li._secret--bottom__lists.-bottom__list__header.u-fs--sh--recruit マロニエゲート赤坂店/Liquor Importers株式会社
						li._secret--bottom__lists.u-fs--sh--recruit シェフ・キッチン/まさにグローバル！世界のクラフトビールと世界各国の料理を提供する新たなレストラン5/20 銀座新店舗　オープニング大募集
			.column-box__secret__btnBLock
				.c-button-square--l--gray.u-fs--xxl.u-fs--xs
					span.c-font-icon--attachment
					| キープする
				.c-button-square--l.u-fs--xxl.u-fs--xs
					| 応募する

			include ../partial/_footer
			.overlay(data-target-close="target")
		ul.nav-box.u-fs--xs(data-target-hamburgermenu='hamburger')
			include ../partial/_nav
		//下記必要なくなるかも
		ul.nav-box--left.u-fs--xs(data-target-searchmenu='search')
			include ../partial/_leftNav
		include ../partial/modal/_login
		script(src='#{domain}js/app.js')
