- var page = 'notfound'
- var title = '食べるんだ'
- var domain = './'
- var description = ''
- var keywords = ''
doctype html
html(lang='ja')
	head
		include partial/_head
	body
		.globalmenu__wrap(data-target-wrap='hamburger')
			include partial/_header
			.primary-box
				.primary-box--full__inner(data-return="target")
					.primary-box--full__content.-full__content--high
						h2
							| Comming
							br
							| Soon
						p.u-fs--mh.u-mt15
							| 食べるんだコミュニティは“しゃべるんだ”は、
							br
							| 飲食業界で働く人が自由にお話しできるコミュニティコンテンツです。
							br
							| 会員登録すれば、誰でも気の合う仲間でコミュニティを作成することも可能です。
							br
							| 同じ業界で働く皆さんが集まり情報共有や共通の悩み相談ができる、
							br
							| 働く側のためのコミュニティです。
						.c-button-square--l.u-fs--l.u-fwb.u-mt15
							a(href="#") HOMEへ戻るんだ
		include partial/_footer
		.overlay(data-target-close="target")
	ul.nav-box.u-fs--xs(data-target-hamburgermenu='hamburger')
		include partial/_nav
	ul.nav-box--left.u-fs--xs(data-target-searchmenu='search')
		include partial/_leftNav
	include partial/modal/_login
	script(src='#{domain}js/app.js')





