- var page = 'home'
- var title = '食べるんだ'
- var domain = './'
- var description = ''
- var keywords = ''
doctype html
html(lang='ja')
	head
		include partial/_head
	body
		//.insert__screen(data-target-insert='target')
		//	figure.insert__screen__img
		//		img.primary-box__logo(src="img/svg/logo.svg" alt="ロゴ")
		.globalmenu__wrap(data-target-wrap='hamburger')
			include partial/_topHeader
			figure.top__image
				img.primary-box__logo(src="img/svg/logo.svg" alt="ロゴ")
			.topSearch-box.u-mt25
				form.quick-search
					.quick-search__inner
						include partial/form/_quick_search
					button(type="submit").c-button-square--m.u-fs--l.u-mt10
						span.button-inner カンタン検索
			.primary-box.u-pb55
				.primary-box__inner
					include partial/_tab
			include partial/_supportBnr
			include partial/_footer
			.overlay(data-target-close="target")
		ul.nav-box.u-fs--xs(data-target-hamburgermenu='hamburger')
			include partial/_nav
		//下記必要なくなるかも
		ul.nav-box--left.u-fs--xs(data-target-searchmenu='search')
			include partial/_leftNav
		include partial/modal/_login
		script(src='./js/app.js')





































