.u-fs--xxxl
  font-size: 3rem
.u-fs--xxxl--contents
  font-size: 3.2rem
.u-fs--xxxl--recruit
  font-size: 3rem
.u-fs--xxxlh--interview
  font-size: 2.8rem
  line-height: 4rem
.u-fs--xxl--contents
  font-size: 2.6rem
.u-fs--xxxlh--contents
  font-size: 2.4rem
  line-height: 3.6rem
.u-fs--xxl
  font-size: 2rem
.u-fs--xxlh
  font-size: 2rem
  line-height: 2.6rem
.u-fs--xxlh--contents
  font-size: 2rem
  line-height: 3rem
.u-fs--xl
  font-size: 1.8rem
.u-fs--xlh
  font-size: 1.8rem
  line-height: 2.6rem
.u-fs--l
  font-size: 1.6rem
.u-fs--lh
  font-size: 1.6rem
  line-height: 2.6rem
//.u-fs--lh--secret
//  font-size: 1.6rem
//  line-height: 2.6rem
.u-fs--lh--contents
  font-size: 1.6rem
  line-height: 2.6rem !important
 //指示ミスによるモディファイヤ
.u-fs--lh--contents--other
  font-size: 1.6rem
  line-height: 2.6rem
.u-fs--m
  font-size: 1.5rem
.u-fs--s
  font-size: 1.4rem
.u-fs--sh
  font-size: 1.4rem
  line-height: 2rem
.u-fs--sh--secret
  font-size: 1.4rem
  line-height: 1.8rem
.u-fs--xs--secret
  font-size: 1.3rem
  line-height: 2.6rem
.u-fs--xs
  font-size: 1.3rem
.u-fs--xs--lh
  font-size: 1.3rem
  line-height: 2.2rem
.u-fs--xs--lh--form
  font-size: 1.4rem
  line-height: 2.2rem
.u-fs--xs--recruit
  font-size: 1.3rem
  line-height: 1.8rem
.u-fs--xxs
  font-size: 1.2rem
.u-fs--xxs-lh
  font-size: 1.2rem
  line-height: 1.8rem
.u-fs--xxxs
  font-size: 1.1rem
.u-fs--xxxxs
  font-size: 1rem
.u-fwb
  font-weight: bold
.u-arrow__text
  margin-right: 5px
.u-txtc
  text-align center
.u-txtl
  text-align left
.u-txt__strike
  text-decoration line-through