- var page = 'contact'
- var title = '食べるんだ'
- var domain = '../'
- var description = ''
- var keywords = ''
- var heading = 'true'
doctype html
html(lang='ja')
	head
		include ../partial/_head
	body
		include ../partial/_header
		.primary-box
			.breadcrumb.u-fs--xxs
				a(href="#")
					span HOME
				span.breadcrumb__arrow__text.u-arrow__text &gt;
				span
					|お問い合わせ
			.primary-box__inner.u-mt20(data-target-maincolumn="target")
				.column-left(data-target-leftcolumn="target")
					h1
						img(src='#{domain}img/support/concierge.jpg',alt='キャリアコンシェルジュが飲食業界への転職を無料でサポート')
					.form--primary
						p.form--primary__repletion.u-fs--xs--lh--form
							| 食べるんだの飲食選任キャリアコンシェルジュが、あなたの経験やキャリアプランに合わせた求人をご紹介します。
							br
							| 応募先企業のご紹介だけでなく、面接のポイントや履歴書の書き方など、転職のプロが無料でトータルサポートします。
						.form--primary__contents.u-mt30
							h2.form--primary__contents__ttl.u-fs--xxl.u-fwb 求人紹介の流れ
							.form--primary__contents__list.u-mt20
								._contents__lists--multi
									p._contents__list__ttl
										span._contents__list__ttl__box STEP.1
										span._contents__list__ttl__main 相談
									p._contents__list__txt メールかお電話で、あなたのご希望をヒアリング、面接設定までサポート！
								._contents__lists--multi
									p._contents__list__ttl
										span._contents__list__ttl__box STEP.2
										span._contents__list__ttl__main お仕事紹介
									p._contents__list__txt 食べるんだの特別求人も紹介できるから、あなたにあった求人がご紹介できます！
								._contents__lists--multi
									p._contents__list__ttl
										span._contents__list__ttl__box STEP.3
										span._contents__list__ttl__main 応募
									p._contents__list__txt キャリアコンシェルジュが応募先の企業・店舗へ書類を提出、面接までサポートします！

						p.form--primary__heading--tip.u-fs--xxl.u-fwb.u-mt40 メールでのご相談はこちらから
						form(novalidate).u-mt15
							table.form--primary__table--noBorder
								tr.-contact__table__row
									td.form--primary__ttl.u-fs--l.u-fwb
										label(for='name')
											|お名前
										span.c-tag--form--required.u-fs--xxs 必須
									td.form--primary__detail
										div
											p.form__error.u-fs--xs--lh--form(data-error="required")
												span.c-icon--triangle--attention.u-fs--xxxs
													span !
												|お名前を入力してください。
										input.form--primary__text.u-fs--l(id='name' type='text' placeholder='お名前を入力してください' data-validate="target" required)
								tr.-contact__table__row
									td.form--primary__ttl.u-fs--l.u-fwb
										label(for='name')
											| 生年月日
										span.c-tag--form--required.u-fs--xxs 必須
									td.form--primary__detail.form--primary__txtr(data-validate-multi="target")
										div
											p.form__error.u-fs--xs--lh--form(data-error-multi="selected")
												span.c-icon--triangle--attention.u-fs--xxxs
													span !
												| 生年月日を入力してください。
										include ../partial/form/_yyyymmdd
								tr.-contact__table__row
									td.form--primary__ttl.u-fs--l.u-fwb
										label(for='mail')
											|メールアドレス
										span.c-tag--form--required.u-fs--xxs 必須
									td.form--primary__detail
										div
											p.form__error.u-fs--xs--lh--form(data-error="mail")
												span.c-icon--triangle--attention.u-fs--xxxs
													span !
												|メールアドレスの入力に誤りがあります。
											p.form__error.u-fs--xs--lh--form(data-error="required")
												span.c-icon--triangle--attention.u-fs--xxxs
													span !
												|メールアドレスを入力してください。
										input.form--primary__text.u-fs--l(id='mail' type='text' placeholder='例） example@runda.com' data-mail="target" data-validate="target" autocomplete="off" required)
										p.form--primary__repletion.u-fs--xxs-lh.u-mt5
											| ※こちらのメールアドレスにご返信させていただきます。
											br
											| 手数ですがメールが受信可能かご確認ください。
								tr.-contact__table__row
									td.form--primary__ttl.u-fs--l.u-fwb
										label(for='tel')
											| 電話番号
										span.c-tag--form--required.u-fs--xxs 必須
									td.form--primary__detail
										div
											p.form__error.u-fs--xs--lh--form(data-error="required")
												span.c-icon--triangle--attention.u-fs--xxxs
													span !
												| 電話を入力してください。
											p.form__error.u-fs--xs--lh--form(data-error="num")
												span.c-icon--triangle--attention.u-fs--xxxs
													span !
												| 半角数字を入力してください。
										input.form--primary__text.u-fs--l(id='tel' type='text' placeholder='09000000000' data-validate="target" data-num="target" required)
								tr.-contact__table__row
									td.form--primary__ttl.u-fs--l.u-fwb
										label(for='view')
											|希望内容
										span.c-tag--form--required.u-fs--xxs 必須
									td.form--primary__detail
										div
											p.form__error.u-fs--xs--lh--form(data-error="required")
												span.c-icon--triangle--attention.u-fs--xxxs
													span !
												|希望内容を入力してください。
										textarea.form--primary__textarea.u-fs--lh--contents(id='view' placeholder='希望勤務地/希望職種 など' data-validate="target" required)
							.form__button__block
								div.u-fs--s.u-mt30.u-txtc
									p.form__text--agreement
										a.form__text--link(href="#") 個人情報の取り扱い
										| に同意の上、確認画面へ進んでください。
									div
										p.form__error.u-fs--xs--lh--form.u-mt20(data-error='required')
											span.c-icon--triangle--attention.u-fs--xxxs
												span !
											| 個人情報の取り扱いに同意してください。
									label.form--primary__checkbox(data-validate="target" required)
										input(type="checkbox" data-trigger-check-agree)
										| 個人情報の取り扱いに同意する
									button.c-button-square--l.u-fs--xxl.u-fwb(type="submit" action="" data-submit='trigger')
										span.button-inner 確認画面へ進む
				.column-right
					.column-right__inner(data-target-rightcolumn="target")
						.column-box--rightTop
							include ../partial/column_right/_column_rightTop
						ul.nav-box.u-fs--xs.u-mt30
							include ../partial/_nav
						.column-box--right__search.u-mt30
							include ../partial/form/_quick_search_right
						include ../partial/column_right/_column_rightContent_new
						include ../partial/column_right/_column_rightContent_popular
		include ../partial/_footer
		script(src='#{domain}js/app.js')
