- var page = 'login'
- var title = '食べるんだ'
- var domain = '../'
- var description = ''
- var keywords = ''
- var heading = 'true'
doctype html
html(lang='ja')
	head
		include ../partial/_head
	body
		include ../partial/_header
		.primary-box
			.breadcrumb.u-fs--xxs
				a(href="#")
					span HOME
				span.breadcrumb__arrow__text.u-arrow__text &gt;
				span
					| ログイン/新規登録
			.primary-box__inner.u-mt20(data-target-maincolumn="target")
				.column-left(data-target-leftcolumn="target")
					h1.column-left__ttl--normal.u-fs--xxl--contents
						|ログイン/新規登録
					.form--login.u-mt10
						.form--login__top
							.-login__top__l
								h2.-login__top__ttl.u-fs--xl.u-fwb SNSアカウントでログイン
								a(href="#").c-button-square--social.c-facebook.u-mt30
									span.u-fs--l.u-fwb Facebookでログイン
								a(href="#").c-button-square--social.c-twitter.u-mt20
									span.u-fs--l.u-fwb Twitterでログイン
							.-login__top__r
								h2.-login__top__ttl.u-fs--xl.u-fwb メールアドレスでログイン
								form
									input.form--primary__text.u-fs--l.u-mt30(type='email' placeholder='メールアドレス' autocomplete="on")
									input.form--primary__text.u-fs--l.u-mt10(type='password' placeholder='パスワード' autocomplete="on")
									button.c-button-square--l.u-fs--xl.u-fwb.u-mt20(type="submit" action="" data-submit='trigger')
										span.button-inner ログイン
									a._top__r__link.u-fs--s.u-mt20(href="#") パスワードを忘れたかたはコチラ
						.form--login__middle.u-mt50
							.-login__middle__ttl.u-fs--xl.u-fwb メールアドレスで新規登録
							form(novalidate)
								input.form--primary__text.u-fs--l.u-mt30(type='email' placeholder='メールアドレス' data-mail="target" autocomplete="on" data-validate-register="target" required)
								div.-login__error.u-txtl
									p.form__error.u-fs--xs--lh--form.u-mt10(data-error="required")
										| メールアドレスを入力して下さい
									p.form__error.u-fs--xs--lh--form.u-mt10(data-error="mail")
										| メールアドレスの入力に誤りがあります。
								input.form--primary__text.u-fs--l.u-mt10(type='password' placeholder='パスワード' autocomplete="on" data-validate-register="target" data-maxlength="8" data-minlength="6" data-alphanumeric="target" required)
								div.-login__error.u-txtl
									p.form__error.u-fs--xs--lh--form.u-mt10(data-error="required")
										| パスワードを入力してください。
									p.form__error.u-fs--xs--lh--form.u-mt10(data-error="minlength")
										| 6桁以上で入力して下さい
									p.form__error.u-fs--xs--lh--form.u-mt10(data-error="maxlength")
										| 8桁以下で入力して下さい
									p.form__error.u-fs--xs--lh--form.u-mt10(data-error="alphanumeric")
										| 半角英数で入力して下さい
								button.c-button-square--l.u-fs--xl.u-fwb.u-mt20(type="submit" data-submit-modal='trigger')
									span.button-inner 新規会員登録
							p.form--login__repletion.u-fs--xs--lh--form.u-mt25
								|ログインまたは新規登録することにより、食べるんだの利用規約、
								br
								|プライバシーポリシーに同意したことになります。
				.column-right
					.column-right__inner(data-target-rightcolumn="target")
						.column-box--rightTop
							include ../partial/column_right/_column_rightTop
						ul.nav-box.u-fs--xs.u-mt30
							include ../partial/_nav
						.column-box--right__search.u-mt30
							include ../partial/form/_quick_search_right
		include ../partial/_footer
		script(src='#{domain}js/app.js')
