.modal.waysidemodal(data-remodal-id='waysidemodal' data-search-id="wayside")
	h1.modal__ttl.modal__ttl--fix.u-fs--l 沿線・駅
	.modal__inner.u-fs--xs
		.modal__checkbox(id="waysite_checkboxes")
		.modal__btn.modal__btn--fixed
			.c-button-square--mm(data-remodal-action='close')
				|閉じる