.table--primary
	background primary__
	padding 0 20px
	color text
.table--primary__ttl
	width 198px
	color base
	.c-tag--form--required
		font-weight: normal
		margin-left: 5px
.table--primary__row
	border-bottom 1px solid line
	display block
	&:nth-last-child(1)
		border-bottom none
.table--primary__detail
	padding 30px 0
	width 452px

