icon(imgUrl)
	display flex
	flex 0 0 auto
	width 60px
	height 60px
	content ''
	border-radius 30px
	background-color color__salesinfo-lp__primary
	background-image url(imgUrl)
	background-repeat no-repeat
	margin-right 20px
	background-size 31px 37px
	background-position 50% 50%

.p-salesinfo-lp__body
	font-size 1.6rem
	line-height 1.6
	color text
	padding-top 121px
.p-salesinfo-lp__emphasis--primary
	color color__salesinfo-lp__primary
.p-salesinfo-lp__btn
	&--primary
		background color__salesinfo-lp__primary
		width 440px
		height 60px
		display flex
		justify-content center
		align-items center
		border-radius 3px
		box-shadow inset -0 -3px 0 0 #cd8000
		margin 30px auto 0
	&--primary__img
		width 370px
	&--submit
		margin 40px auto 0
		width 400px
		height 60px
.p-salesinfo-lp__heading--lv3
	font-size 3.6rem
	color color__salesinfo-lp__secondary
	text-align center
	font-weight bold
	padding-bottom 30px
.p-salesinfo-lp__header
	position fixed
	top 0
	width 100%
	background #fff
	z-index 1
.p-salesinfo-lp__header__wrapper
	max-width pc-width
	height 70px
	display flex
	justify-content center
	align-items center
	margin 0 auto
.p-salesinfo-lp__header__leftcolumn
	display flex
	flex 1
	justify-content flex-start
.p-salesinfo-lp__header__leftcolumn__img
	width auto
	height 35px
.p-salesinfo-lp__header__rightcolumn
	display flex
	flex 1
	justify-content flex-end
	img
		width 229px
.p-salesinfo-lp__nav
	border-top 1px solid #d2d2d2
	box-shadow 0 3px 5px 0 rgba(#000, .1)
	position relative
	z-index 2
.p-salesinfo-lp__nav__wrapper
	display flex
	max-width pc-width
	margin 0 auto
.p-salesinfo-lp__nav__item
	width 100%
	border-left 1px solid #d2d2d2
	&:last-child
		border-left none
		.p-salesinfo-lp__nav__item__inner
			background color__salesinfo-lp__primary
			color #fff
			padding 0 10px 0
			&:before
				content ''
				width 18px
				height 14px
				background url(../img/salesinfo-lp/icon_mail.svg) no-repeat
				margin-right 8px
				display flex
				flex:1 0 auto
			&:after
				display none
	&__inner
		display flex
		justify-content center
		align-items center
		height 50px
		position relative
		box-sizing border-box
		padding-bottom 8px
		font-size 1.4rem
		color text
		&:after
			content '';
			width 5px
			height 3px
			background url(../img/salesinfo-lp/icon_arrow_nav.png) 0 0 no-repeat
			position absolute
			left 50%
			bottom 8px
			margin-left -2.5px;
.p-salesinfo-lp__main
	&__image__wrapper
		height 520px
		background url(../img/salesinfo-lp/img_main-bg_pc.jpg) 50% 50% no-repeat
		display flex
		align-items center
		background-size cover
	&__image__heading
		width pc-width
		height 460px
		border-radius 3px
		background-color rgba(#fff, .9)
		box-shadow 0 0 10px 0 rgba(#000, 0.2)
		margin 0 auto
		padding 36px 90px
	&__image
		width 841px
		height 388px
	&__text
		text-align center
		margin 40px 0
		font-size 1.8rem
.p-salesinfo-lp__contact
	&__wrap
		display flex
		background url(../img/salesinfo-lp/img_operator.jpg) 0 0 no-repeat
		height 196px
		align-items center
		justify-content center
		width 700px
		margin -11px auto 0
		padding-top 5px
	&__image
		width 402px
		height 104px
.p-salesinfo-lp__features
	background color__salesinfo-lp__bg
	padding 60px 0
.p-salesinfo-lp__features__heading--lv4
	font-weight bold
	color #626262
	font-size 3.2rem
	&.p-salesinfo-lp__icon--point1
		display flex
		align-items center
		&:before
			icon("../img/salesinfo-lp/icon_point1.svg")
	&.p-salesinfo-lp__icon--point2
		display flex
		align-items center
		&:before
			icon("../img/salesinfo-lp/icon_point2.svg")
	&.p-salesinfo-lp__icon--point3
		display flex
		align-items center
		&:before
			icon("../img/salesinfo-lp/icon_point3.svg")
.p-salesinfo-lp__features__logo
	display flex
	margin-top 35px
.p-salesinfo-lp__features__logo__item
	width 50%
	border 1px solid line
	display flex
	justify-content center
	align-items center
	&:first-child
		margin-right 15px
		.p-salesinfo-lp__features__logo__img-wrapper
			float right
	&:last-child
		margin-left 15px
.p-salesinfo-lp__features__logo__img--google
	width 180px
.p-salesinfo-lp__features__logo__img--yahoo
	width 203px
.p-salesinfo-lp__features__logo__img-wrapper
	display flex
	width 300px
	height 100px
	justify-content center
	align-items center
	box-sizing border-box
.p-salesinfo-lp__features__copyright
	text-align center
	font-size 1rem
	display block
	margin-top 25px
.p-salesinfo-lp__features__box
	background #fff
	border 2px solid line
	border-radius 3px
	max-width 1020px
	padding 30px
	margin 0 auto
	&:not(:first-of-type)
		margin-top 30px
.p-salesinfo-lp__features__description
	padding 25px 0 0
.p-salesinfo-lp__cost
	display flex
	margin-top 35px
.p-salesinfo-lp__cost__item
	&:nth-child(2)
		margin 0 30px
.p-salesinfo-lp__cost__img
	width 100%
.p-salesinfo-lp__features__siteimg
	text-align center
	margin-top 35px
	&__img
		width 100%

.p-salesinfo-lp__price
	background-image url(../img/salesinfo-lp/img_price_bg.jpg)
	padding 50px 0
	background-size cover
	background-repeat no-repeat
	background-position 50% 50%
	.p-salesinfo-lp__heading--lv3
		background rgba(#fff, .8)
		padding 10px
		display inline-block
		line-height 1
	.p-salesinfo-lp__features__description
		background rgba(#fff, .8)
		padding 20px
		display inline-block
		max-width 1020px
		text-align left
		margin-top 30px
	.p-salesinfo-lp__price__box
		text-align center
.p-salesinfo-lp__price__plan
	display flex
	max-width 1020px;
	margin 30px auto 0
	box-shadow 0 0 10px 0 rgba(#000, 0.2)
.p-salesinfo-lp__price__plan__heading--primary--wrapper
	background color__salesinfo-lp__secondary
	min-width 200px
	border-radius 3px 0 0 3px
	display flex
	align-items center
	padding 0 20px
.p-salesinfo-lp__price__plan__heading--primary
	color #fff
	font-size 2rem
	font-weight bold
	line-height 1.2
	text-align center
.p-salesinfo-lp__price__plan__heading--secondary
	@extend .p-salesinfo-lp__price__plan__heading--primary
	background #062854
	&__emphasis
		color #062854
		background #fff100
		font-size 1.4rem
		height 30px
		display flex
		justify-content center
		align-items center
		padding 0 5px
		border-radius 15px
		margin-bottom 15px
.p-salesinfo-lp__price__plan__heading--secondary--wrapper
	@extend .p-salesinfo-lp__price__plan__heading--primary--wrapper
	background #062854
	padding 0 10px
.p-salesinfo-lp__price__plan__body
	background rgba(#fff, .8)
	border-radius 0 3px 3px 0
	max-width 820px;
	padding 30px 20px
.p-salesinfo-lp__price__plan__note
	background rgba(#fff,0.8)
	display inline-block
	padding 10px 15px
	line-height 1
	margin-top 30px
.p-salesinfo-lp__flow
	padding 60px 0
.p-salesinfo-lp__step-container
	display flex
	max-width 1020px
	margin 0 auto
	justify-content space-between
.p-salesinfo-lp__step-wrapper
	border-radius 3px
	border 2px solid line
	padding 20px
	position relative
	margin-right 60px
	width 210px
	&:last-child
		margin-right 0
	&:not(:last-child):after
		content ''
		display inline-block
		width 0
		height 0
		border-style solid
		border-width 10.5px 0 10.5px 18px
		border-color transparent transparent transparent #f39800
		position absolute
		top 50%
		right -44px
		margin-top -10px
.p-salesinfo-lp__step__title__label
	background color__salesinfo-lp__secondary
	line-height 1
	font-size 1.4rem
	color #fff
	padding 5px 6px
	display inline-flex
	height 20px
	justify-content center
	align-items center
	vertical-align top
.p-salesinfo-lp__step__title__body
	font-size 2.0rem
	line-height 1
.p-salesinfo-lp__step__data
	margin-top 20px
.p-salesinfo-lp__question
	background color__salesinfo-lp__bg
	padding 60px 0
.p-salesinfo-lp__question__box
	max-width 1020px
	margin 0 auto
	border-radius 3px
	background #fff
	border 2px solid line
	margin-top 30px
	padding 30px
	&:first-of-type
		margin-top 0
.p-salesinfo-lp__question__title
	font-size 20px
	position relative
	padding-left 45px
	&:before
		content ''
		width 30px
		height 30px
		border-radius 15px
		background url(../img/salesinfo-lp/icon_question.svg)color__salesinfo-lp__primary
		background-size 15px 18px
		background-repeat no-repeat
		background-position 50% 50%
		margin-right 15px
		position absolute
		left 0
		top 0
.p-salesinfo-lp__question__data
	margin-top 20px
	position relative
	padding-left 45px
	&:before
		content ''
		width 30px
		height 30px
		border-radius 15px
		background url(../img/salesinfo-lp/icon_answer.svg) #a3a3a3
		background-size 15px 18px
		background-repeat no-repeat
		background-position 50% 50%
		margin-right 15px
		position absolute
		left 0
		top -4px
.p-salesinfo-lp__contact
	padding 60px 0
.p-salesinfo-lp__footer
	padding 20px;
.p-salesinfo-lp__footer__link
	display flex
	flex 1 100%
	align-items center
.p-salesinfo-lp__footer__link__item__content
	font-size 1.2rem;
	border-right 1px solid #fff;
	color #fff;
	margin-right 10px;
	padding-right 10px;
	display block;
	line-height 1;
.p-salesinfo-lp__footer__link__item
	&:last-child
		.p-salesinfo-lp__footer__link__item__content
			border-right none
.p-salesinfo-lp__footer__copyright
	color #fff;
	font-size 1.2rem;
	display flex;
	flex 1 100%;
	justify-content flex-end;
	align-items center
.p-salesinfo-lp__footer__box
	display flex
	max-width 1024px
	margin 0 auto

.p-salesinfo-lp__form
	max-width 1020px
	margin 40px auto 0
.p-salesinfo-lp__form__box
	display flex
	border-top 1px solid line
	&:last-of-type
		border-bottom 1px solid line
.p-salesinfo-lp__form__title
	background color__salesinfo-lp__bg
	padding 0 20px
	width 280px
	display flex
	align-items center
	box-sizing border-box
	&--inquiry-detail
		align-items flex-start
		padding-top 20px
.p-salesinfo-lp__form__title__label
	display flex
	flex:1
	padding-right 20px
.p-salesinfo-lp__form__require
	font-size 1.2rem
	color #fff
	background color__salesinfo-lp__primary
	border-radius 3px
	display flex
	justify-content:center
	align-items center
	width 40px
	height 20px
	&--inquiry-detail
		position relative
		top 2px
.p-salesinfo-lp__form__data
	padding 20px
	display flex
	flex 1 1 100%
	flex-wrap wrap
	word-break break-word
.p-salesinfo-lp__form__data__error
	width 100%
.p-salesinfo-lp__form__input
	border solid 1px line !important
	min-height 40px
	font-size 1.6rem
	font-weight normal
	color text !important
	placeholderColor(#aaa,1.6rem)
.p-salesinfo-lp__form__select
	height 40px
	font-size 1.6rem
	color text
	position relative
	border 1px solid line
	border-right 40px solid #a3a3a3
	width 380px
	&:invalid
		color #aaa
.p-salesinfo-lp__form__select-wrapper
	position relative
	&:after
		content ''
		display block;
		width 0;
		height 0;
		border-style solid;
		border-width 8px 5px 0 5px;
		border-color #fff transparent transparent transparent;
		position absolute
		right 15px
		top 50%
		margin-top -4px
.p-salesinfo-lp__link
	color color__salesinfo-lp__secondary !important
.p-salesinfo-lp__form__agreement
	font-size 1.4rem
	margin-top 30px
.p-salesinfo-lp__form__input
	&--company-name
		width 500px
	&--person-name
		width 500px
	&--mail
		width 500px
	&--address
		width 100%
	&--tel
		width 300px
	&--inquiry-detail
		width 100%
		min-height 180px
		padding 12px
.p-salesinfo-lp__form__error
	&:before
		content ''
		background-image url(../img/salesinfo-lp/icon_error.svg)
		background-repeat no-repeat
		display inline-block
		width 18px
		height 18px
		background-size 100%
		position relative
		top 2px
		margin-right 5px
.p-salesinfo-lp__price__plan__body__table
	border 2px solid line
	border-width 2px 0 0 2px
	margin-top 25px
.p-salesinfo-lp__price__plan__body__table-head
	font-size 1.8rem
	background color__salesinfo-lp__bg
	border 2px solid line
	border-width 0 2px 2px 0
	text-align center
	padding 10px
.p-salesinfo-lp__price__plan__body__table-data
	border 2px solid line
	border-width 0 2px 2px 0
	padding 10px
	background #fff
	color #1b1b1b
	&__content
		color #1b1b1b
	.u-emphasis--primary
		color #000
	.u-emphasis--secondary
		color #e60012
	.u-note
		font-size 1.2rem
		color text
	.u-size--midium
		font-size 1.6rem
	.u-size--large
		font-size 2.4rem
	.u-size--fuge
		font-size 3.6rem
	.u-note__list
		padding-left 1em
	.u-note__list li
		list-style-type disc
.p-salesinfo-lp__pagetop
	width 60px
	height 60px
	background-color color__salesinfo-lp__secondary
	background-image url(../img/salesinfo-lp/icon_arrow_pagetop.svg)
	background-size 24px 14px
	background-position 50% 50%
	background-repeat no-repeat
	position fixed
	right 5%
	bottom 5%
	border-radius 30px
	cursor pointer
	transition opacity .4s
.p-salesinfo-lp__btn--call-wrap
	display: none

// hover
.p-salesinfo-lp__nav__item__inner
.p-salesinfo-lp__btn--primary
.p-salesinfo-lp__pagetop
	&:hover
		text-decoration none
		opacity .7


// animation
.is-hide
	display none
	opacity 0
.is-show
	display block
	opacity 1
.is-fade-out
	animation a .5s
.is-fade-in
	animation b .5s;
	animation-fill-mode forwards

@keyframes a
	0%
		opacity 1

	to
		opacity 0
@keyframes b
	0%
		opacity 0
	to
		opacity 1


// media query
@media (min-width 750px)
	.p-salesinfo-lp__btn--call
		display none
		padding 0

@media (max-width 1093px)
	.p-salesinfo-lp__main__image
		width 100%
		height auto
		&__heading
			width auto
			height auto
			margin 30px
		&__wrapper
			height auto
	.p-salesinfo-lp__header
		&__leftcolumn
			padding-left 20px
		&__rightcolumn
			padding-right 20px

@media (max-width 1035px)
	.p-salesinfo-lp__question__box
		border-width 2px 0
		border-radius 0
	.p-salesinfo-lp__features__box
		border-width 2px 0
		border-radius 0
	.p-salesinfo-lp__form__agreement
	.p-salesinfo-lp__contact__description
		padding 0 20px
	.p-salesinfo-lp__heading--lv3
		padding 0 20px 30px
	.p-salesinfo-lp__price__plan
		&__heading--primary--wrapper
		&__heading--secondary--wrapper
		&__plan__body
			border-radius 0

@media (max-width 750px)
	.p-salesinfo-lp__body
		padding-top 0
		font-size 1.3rem
	.p-salesinfo-lp__header__wrapper
		width 100%
		height auto
	.p-salesinfo-lp__header
		position static
	.p-salesinfo-lp__header__rightcolumn
	.p-salesinfo-lp__nav
		display none
	.p-salesinfo-lp__header__leftcolumn__img
		width 100%
	.p-salesinfo-lp__header__leftcolumn
		padding 15px 37px
	.p-salesinfo-lp__main__image__wrapper
		background url(../img/salesinfo-lp/img_main-bg_sp.jpg) 0 0 no-repeat
		display flex
		background-size cover
		height auto
	.p-salesinfo-lp__main__image
		width 100%
		height auto
	.p-salesinfo-lp__main__image__heading
		width 100%
		height auto
		margin 20px 15px
		padding 20px 15px
	.p-salesinfo-lp__main__text
		margin 20px
		text-align left
		font-size 1.3rem
	br
		display none
	.p-salesinfo-lp__contact__wrap
		display none
	.p-salesinfo-lp__btn--primary-wrapper
		margin 0 15px
	.p-salesinfo-lp__btn--primary
		width auto
		margin 20px 0 0
		padding 0 25px
		height 45px
	.p-salesinfo-lp__btn--primary__img
	.p-salesinfo-lp__btn--secondary__img
		max-width 100%
	.p-salesinfo-lp__btn--call-wrap
		display block
		padding 0 15px
	.p-salesinfo-lp__btn--call
		@extend .p-salesinfo-lp__btn--primary
		background color__salesinfo-lp__secondary
		box-shadow inset -0 -3px 0 0 #289270
		width 100%
		margin 0 0 0
		padding 5px 25px
		&__img
			width 100%
			height 100%
	.p-salesinfo-lp__features
		padding 30px 0
	.p-salesinfo-lp__heading--lv3
		padding-bottom 15px
		font-size 1.8rem
	.p-salesinfo-lp__price
		.p-salesinfo-lp__heading--lv3
			background none
			padding 0
	.p-salesinfo-lp__features__heading--lv4
		font-size 1.6rem
		&.p-salesinfo-lp__icon--point1
		&.p-salesinfo-lp__icon--point2
		&.p-salesinfo-lp__icon--point3
			&:before
				width 30px
				height 30px
				background-size 15px auto
				margin-right 10px
	.p-salesinfo-lp__features__box
		border-radius 0
		border-width 1px 0
		padding 20px
	.p-salesinfo-lp__cost__item
		flex:0 1 48%
		&:nth-child(1)
			margin 0 0 15px 0
		&:nth-child(2)
			margin 0
		&:nth-child(3)
			margin 0 auto
	.p-salesinfo-lp__cost
		justify-content space-between
		flex-wrap wrap
		margin-top 15px
	.p-salesinfo-lp__features__logo
		margin-top 15px
		&__img-wrapper
			width auto
			height auto
			padding 15px 30px
		&__logo__item
			width 50%
			&:first-child
				margin-right 15px
				.p-salesinfo-lp__features__logo__img-wrapper
					float none
			&:last-child
				margin-left 0
		&__img--google
		&__img--yahoo
			max-width 100%
	.p-salesinfo-lp__price
		background none
		padding 30px 0
		border-bottom 1px solid line
		.p-salesinfo-lp__features__description
			margin-top:0
			padding 15px 15px 0
	.p-salesinfo-lp__price__plan
		display block
		margin 20px 15px 0;
		box-shadow 0 0 5px 0 rgba(#000, 0.2)
	.p-salesinfo-lp__price__plan__heading--secondary--wrapper
		min-width:auto
		padding 0
		border-radius 3px 3px 0 0
	.p-salesinfo-lp__price__plan__heading--primary
	.p-salesinfo-lp__price__plan__heading--secondary
		text-align center
		width 100%
		font-size 1.6rem
		padding 10px 0
		border-radius 3px 3px 0 0
	.p-salesinfo-lp__price__plan__heading--secondary__emphasis
		display inline-flex;
		margin-bottom 10px;
		padding 0 8px
		font-size 1rem
		height 15px
		& + span
			display block
	.p-salesinfo-lp__price__plan__body
		padding 15px
		min-width auto
	.p-salesinfo-lp__price__plan__body__table
		width 100%
		border 1px solid line
		margin-top 15px
	.p-salesinfo-lp__price__plan__body__table-head-wrapper
		display none
	.u-txtc--sp
		text-align center
	.p-salesinfo-lp__price__plan__body__table-data
		display block
		width 100%
		border none
		padding 0 0 15px
		&:first-child
			&:before
				border-width 0 0 1px
		&:before
			content attr(data-title)
			display block
			padding 7px
			font-weight bold
			text-align center
			font-size 1.3rem
			color text
			background color__salesinfo-lp__bg
			border 1px solid line
			border-width 1px 0
			margin-bottom 15px
		.u-note
			font-size 1rem
			color text
			text-align center
			padding 0 15px
		.u-size--midium
			font-size 1.3rem
		.u-size--large
			font-size 1.6rem
			text-align center
		.u-size--fuge
			font-size 1.6rem
		.u-note__list
			padding-left 1em
		.u-tac-wrapper
			text-align left
			display inline-block
	.p-salesinfo-lp__price__plan__note
		display none
	.p-salesinfo-lp__flow
		padding-top 30px
	.p-salesinfo-lp__step-container
		display block
		width auto
		margin 0
	.p-salesinfo-lp__step-wrapper
		padding 15px
		margin-right 0
		margin 0 15px 35px
		width auto
		border 1px solid line
		&:last-child
			margin 0 15px 0
		&:not(:last-child):after
			content ''
			display inline-block
			width 0
			height 0
			border-style solid
			border-width 15px 10px 0 10px
			border-color #f39800 transparent transparent transparent
			position absolute
			top auto
			right auto
			left 50%
			bottom -26px
			margin-left -10px
	.p-salesinfo-lp__step__title
		display flex
		align-items center
	.p-salesinfo-lp__step__title__label
		font-size 1.3rem
		display flex
		justify-content center
		align-items center
		padding 0 7px
		margin-right 5px
	.p-salesinfo-lp__step__title__body
		font-size 1.6rem
	.p-salesinfo-lp__step__data
		margin-top 15px
	.p-salesinfo-lp__flow
		padding 30px 0
	.p-salesinfo-lp__question
		padding 30px 0
		&__box
			border-radius 0
			border 1px solid line
			border-width:1px 0
			padding 15px
			margin-top 15px
		&__title
			font-size 1.6rem
			padding-left 40px
			&:before
				margin-right 10px
		&__data
			padding-left 40px
		.p-salesinfo-lp__contact
			padding 30px 0
	.p-salesinfo-lp__contact__description
		margin 0 15px
		padding 0
		text-align left
		&.u-txtc
			text-align left
	.p-salesinfo-lp__form
		margin 20px 0 0;
		width 100%
		&__box
			display block
		&__box:last-of-type
			border-bottom none
		&__title
			width 100%
			padding 10px 15px
			border-bottom 1px solid line
		&__title__label
			flex initial
			margin-right 15px
		&__require
			height auto
		&__data
			padding 15px
		&__input
		&__select
			width 100%
			&:invalid
				font-size 1.3rem
		&__select-wrapper
			width 100%
		&__input
			font-size 1.3rem
			placeholderColor(#aaa,1.3rem)
			display flex
			justify-content center
			align-items center
			&::-webkit-input-placeholder
				line-height 1.8
		&__input--inquiry-detail
			min-height 150px
		&__agreement
			padding 5px 15px 0
			margin-top 0
	.p-salesinfo-lp__btn--submit
		font-size 1.8rem !important
		margin 0
		width 100%
		height 45px
	footer
		background #fff
	.p-salesinfo-lp__footer
		padding 0
		&__box
			width 100%
			display block
		&__link
			background color__salesinfo-lp__bg
			border-top 1px solid line
			padding 15px 0
		&__link__item
			flex 1 1 50%
			color text
		&__link__item__content
			text-align center
			margin-right 0
			padding-right 0
			border-right 1px solid line
			box-sizing  border-box
		&__copyright
			background color__salesinfo-lp__secondary
			padding 5px 0
			justify-content center
	.p-salesinfo-lp__price__plan__heading--primary--wrapper
	.p-salesinfo-lp__price__plan__heading--secondary--wrapper
		border-radius:3px 3px 0 0
	.p-salesinfo-lp__btn--submit-wrapper
		padding 0 15px
		margin-top 20px
	.p-salesinfo-lp__features
		&__copyright
			margin-top 15px
		&__description
			padding 15px 0 0
		&__siteimg
			margin-top 15px

	// hover
	.p-salesinfo-lp__nav__item__inner
	.p-salesinfo-lp__btn--primary
	.p-salesinfo-lp__pagetop
		&:hover
			text-decoration none
			opacity 1

@media (max-width 430px)
	.p-salesinfo-lp__features__logo__item
		height 55px