- var page = 'contents_trend'
- var title = '食べるんだ'
- var domain = '../'
- var description = ''
- var keywords = ''
- var heading = 'true'

doctype html
html(lang='ja')
	head
		include ../partial/_head
	body
		.globalmenu__wrap(data-target-wrap='hamburger')
			include ../partial/_header
			.primary-box--noPadding
				h1.primary-box__ttl.u-fwb.u-fs--m
					img.primary-box__ttl__img(src='#{domain}img/support/concierge.jpg', alt='キャリアコンシェルジュが飲食業界への転職を無料でサポート')
				.form--primary.form--primary--support
					.primary-box__topBlock--noPadding.u-pb20
						p._topBlock__inner--padding.u-fs--mh
							|食べるんだの飲食選任キャリアコンシェルジュが、
							|あなたの経験やキャリアプランに合わせた求人をご紹介します。<br>
							|応募先企業のご紹介だけでなく、面接のポイントや履歴書の書き方など、
							|転職のプロが無料でトータルサポートします。

					.form--primary__repletion--top
						h2.contents-box__ttl--sub.u-fs--xlh.u-mt20 求人紹介の流れ
						dl.list__flowBlock
							dt.list__flowBlock__ttl
								span.c-tag--step--l STEP.1
								span._flowBlock__ttl__inner 相談
							dd.list__flowBlock__txt メールかお電話で、あなたのご希望をヒアリング、面接設定までサポート！
							dt.list__flowBlock__ttl
								span.c-tag--step--l STEP.2
								span._flowBlock__ttl__inner お仕事紹介
							dd.list__flowBlock__txt 食べるんだの特別求人も紹介できるから、あなたにあった求人がご紹介できます！
							dt.list__flowBlock__ttl
								span.c-tag--step--l STEP.3
								span._flowBlock__ttl__inner 応募
							dd.list__flowBlock__txt キャリアコンシェルジュが応募先の企業・店舗へ書類を提出、面接までサポートします！
					.primary-box__topBlock
						.primary-box__img
							img(src='#{domain}img/support/callnumber.png', alt='お電話からも受付中。ご相談・ご質問、お気軽にお問合せください。')
						.c-button-square--ms--orange.u-mt20
							a(href='tel:0120907365')
								span.c-icon--phone--l
								| 電話で申し込む（無料）
					.form--primary__repletion--top.u-mt20
						.contents-box__balloon.u-fs--xl--contents
							span._balloon__inner メールでのご相談はこちらから

					form(novalidate).u-mt20
						table.form--primary__table
							tr.-contact__table__row
								td.form--primary__ttl.u-fs--s.u-fwb.u-mt20
									label(for='name')
										| お名前
									span.c-tag--form--required.u-fs--xxs 必須
								td.form--primary__detail.u-mt15
									div
										p.form__error.u-fs--xs(data-error="required")
											span.c-icon--triangle--attention.u-fs--xxxs
												span !
											| お名前を入力してください。
									input.form--primary__text.u-fs--l(id='name' type='text' placeholder='お名前を入力してください' data-validate="target" required)
							tr.-contact__table__row.u-mt20.-contact__table__row--ovh
								td.form--primary__ttl.u-fs--s.u-fwb.u-mt20
									label(for='name')
										| 生年月日
									span.c-tag--form--required.u-fs--xxs 必須
								td.form--primary__detail.form--primary__txtr(data-validate-multi="target")
									div
										p.form__error.u-fs--xs.u-mt5(data-error-multi="selected")
											span.c-icon--triangle--attention.u-fs--xxxs
												span !
											| 生年月日を入力してください。
									include ../partial/form/_yyyymmdd
							tr.-contact__table__row.u-mt20
								td.form--primary__ttl.u-fs--s.u-fwb.u-mt20
									label(for='mail')
										| メールアドレス
									span.c-tag--form--required.u-fs--xxs 必須
								td.form--primary__detail.u-mt15
									div
										p.form__error.u-fs--xs(data-error="mail")
											span.c-icon--triangle--attention.u-fs--xxxs
												span !
											| メールアドレスの入力に誤りがあります。
										p.form__error.u-fs--xs(data-error="required")
											span.c-icon--triangle--attention.u-fs--xxxs
												span !
											| メールアドレスを入力してください。
									input.form--primary__text.u-fs--l(id='mail' type='text' placeholder='例） example@runda.com' data-mail="target" data-validate="target" autocomplete="off" required)
									p.form--primary__repletion.u-fs--xsh.u-mt5
										| ※こちらのメールアドレスにご返信させていただきます。
										br
										| 手数ですがメールが受信可能かご確認ください。
							tr.-contact__table__row.u-mt20
								td.form--primary__ttl.u-fs--s.u-fwb.u-mt20
									label(for='tel')
										| 電話番号
									span.c-tag--form--required.u-fs--xxs 必須
								td.form--primary__detail
									div
										p.form__error.u-fs--xs.u-mt5(data-error="required")
											span.c-icon--triangle--attention.u-fs--xxxs
												span !
											| 電話を入力してください。
										p.form__error.u-fs--xs.u-mt5(data-error="num")
											span.c-icon--triangle--attention.u-fs--xxxs
												span !
											| 半角数字を入力してください。
									input.form--primary__text.u-fs--l.u-mt10(id='tel' type='tel' placeholder='09000000000' data-validate="target" data-num="target" required)
							tr.-contact__table__row.u-mt20
								td.form--primary__ttl.u-fs--s.u-fwb.u-mt20
									label(for='view')
										| 希望内容
									span.c-tag--form--required.u-fs--xxs 必須
								td.form--primary__detail.u-mt15
									div
										p.form__error.u-fs--xs(data-error="required")
											span.c-icon--triangle--attention.u-fs--xxxs
												span !
											| 希望内容を入力してください。
									textarea.form--primary__textarea.u-fs--sh(id='view' placeholder='希望勤務地/職種 など' data-validate="target" required)
						.form__button__block.u-mt30
							p.u-fs--s.u-mt30.u-txtc._button__block__text
								a.form__text--link(href="#{domain}about/privacypolicy/#privacy") 個人情報の取り扱い
								| に同意の上、確認画面へ進んでください。
							div
								p.form__error.form__error.u-fs--xs.u-mt20(data-error='required')
									span.c-icon--triangle--attention.u-fs--xxxs
										span !
									| 個人情報の取り扱いに同意してください。
							label.form--primary__checkbox.u-fs--s(data-validate="target" required)
								input(type="checkbox" data-trigger-check-agree)
								| 個人情報の取り扱いに同意する
							button.c-button-square--l.u-fs--xs.u-fwb(type="submit" data-submit='trigger')
								span.button-inner 確認画面へ進む
			include ../partial/_footer
			.overlay(data-target-close="target")
		ul.nav-box.u-fs--xs(data-target-hamburgermenu='hamburger')
			include ../partial/_nav
		//下記必要なくなるかも
		ul.nav-box--left.u-fs--xs(data-target-searchmenu='search')
			include ../partial/_leftNav
		include ../partial/modal/_login
		script(src='#{domain}js/app.js')

