input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="checkbox"],
textarea,
select
	line-height: 1
	border-radius 3px
	padding-left 10px
	color base
	cursor pointer
select
	background-color #fff
	border 1px solid base
	border-right solid 18px base
input[type="text"]
	background-color #fff
	border 1px solid base
.form__error
	color form
	.c-icon--triangle--attention
		color #fff
		position relative
		> span
			position: absolute
			left -1px
			top -1px







