header.header--primary
  width 100%
  background-color base
  position fixed
  z-index 100
  top 0
  .header--primary__inner
    height 60px
    width pc-width
    margin auto
    //display flex
    //align-items center
    //justify-content space-between
  .header--primary__logo
    @extend $hover
    width 140px
    margin auto
    img
      width 100%
    position: absolute
    right 0
    left 0
    top 12px
    margin auto

  .header--primary__search
    display block
    vertical-align middle
    color primary__
    width 60px
    cursor pointer
    @extend $hover
    padding 1rem
    margin -1rem
    position relative
    float left
    margin-top 0
  .c-icon--search
    display block
    margin 0 auto 4px
  .-primary__search__text
    display block
    text-align center
    word-wrap normal
  .header--primary__right
    display flex
    float right
    height 100%
    align-items center





