- var page = ''
- var title = '食べるんだ'
- var domain = '../../'
- var description = ''
- var keywords = ''
- var heading = 'true'

doctype html
html(lang='ja')
	head
		include ../../partial/_head
	body
		.globalmenu__wrap(data-target-wrap='hamburger')
			include ../../partial/_header
			.primary-box--noPadding
				//.contents-box--recruit__top
				.primary-box__topBlock
					h1.list__ttl--normal.u-fs--m.u-fwb
						| 運営会社
				.list--primary.u-mt15
					ul
						li.list--primary__row.u-mt15
							h3.u-fs--s.u-fwb
								| 商
								| &nbsp;
								| 号
							.list--primary__text.u-mt15
								span.u-fs--sh
									| 株式会社Wiz
						li.list--primary__row.u-mt15
							h3.u-fs--s.u-fwb
								| 所在地
							.list--primary__text.u-mt15
								span.u-fs--sh
									| 東京都豊島区南大塚2-25-15 South新大塚ビル12F
						li.list--primary__row.u-mt15
							h3.u-fs--s.u-fwb
								| 設
								| &nbsp;
								| 立
							.list--primary__text.u-mt15
								span.u-fs--sh
									| 2012年4月18日
						li.list--primary__row.u-mt15
							h3.u-fs--s.u-fwb
								| 所在地
							.list--primary__text.u-mt15
								span.u-fs--sh
									| 東京都豊島区南大塚2-25-15 South新大塚ビル12F
						li.list--primary__row.u-mt15
							h3.u-fs--s.u-fwb
								| 事業内容
							.list--primary__text.u-mt15
								span.u-fs--sh
									| NTT事業、モバイル事業、ヘルスケア事業、オフィスコンサル事業、人事コンサル事業、求人メディア運営事業、比較メディア事業、VNO事業、VNOサポート事業、社内システム構築事業、クリエイティブ制作事業
						li.list--primary__row.u-mt15
							h3.u-fs--s.u-fwb
								| 代表取締役
							.list--primary__text.u-mt15
								span.u-fs--sh
									| 山﨑
									| &nbsp;
									| 俊
						li.list--primary__row.u-mt15
							h3.u-fs--s.u-fwb
								| 資本金
							.list--primary__text.u-mt15
								span.u-fs--sh
									| 6,000万円 (資本準備金含む)
						li.list--primary__row.u-mt15
							h3.u-fs--s.u-fwb
								| 決算期
							.list--primary__text.u-mt15
								span.u-fs--sh
									| 11月30日
						li.list--primary__row.u-mt15
							h3.u-fs--s.u-fwb
								| HP
							.list--primary__text.u-mt15
								a(href="http://012grp.co.jp/")
									span.u-fs--sh
										| http://012grp.co.jp/

			include ../../partial/_footer
			.overlay(data-target-close="target")
		ul.nav-box.u-fs--xs(data-target-hamburgermenu='hamburger')
			include ../../partial/_nav
		//下記必要なくなるかも
		ul.nav-box--left.u-fs--xs(data-target-searchmenu='search')
			include ../../partial/_leftNav
		include ../../partial/modal/_login
		script(src='#{domain}js/app.js')
