*
	box-sizing border-box

html
	font-size 62.5%

figure
	img
		display block
		width 100%
body
	color #000
	font-family "游ゴシック", "Yu Gothic", YuGothic, Hiragino Kaku Gothic ProN, "ヒラギノ角ゴ ProN W3",  Meiryo, "メイリオ"
	padding-top 60px
	word-wrap break-word
	@media all and (-ms-high-contrast:none)
		font-family Meiryo, "メイリオ"
a
	cursor pointer
	&:link
		color inherit
		text-decoration none
	&:visited
		text-decoration: none
		color inherit
	&:hover
		text-decoration: underline
		color inherit
	&:active
		text-decoration: none
		color inherit
