$hover
	&:hover
		opacity .7
		text-decoration none

$ellipsis
	overflow: hidden
	white-space: nowrap
	text-overflow: ellipsis

lineClamp(height = 100%, line = 2)
	height height
	display -webkit-box
	-webkit-line-clamp line
	line-clamp line
	-webkit-box-orient: vertical
	overflow hidden
	box-orient: vertical
	word-wrap break-word
	@media all and (-ms-high-contrast:none)
		display flex

placeholderColor(color,size)
	&:placeholder-shown
		color: color
		font-size:size

	/* Google Chrome, Safari, Opera 15+, Android, iOS */
	&::-webkit-input-placeholder
		color:color
		font-size:size

	/* Firefox 18- */
	&:-moz-placeholder
		color:color
		font-size:size
		opacity: 1

	/* Firefox 19+ */
	&::-moz-placeholder
		color:color
		font-size:size
		opacity: 1

	/* IE 10+ */
	&:-ms-input-placeholder
		color:color
		font-size:size
