- var page = 'contents_trend'
- var title = '食べるんだ'
- var domain = '../../'
- var description = ''
- var keywords = ''
- var heading = 'true'
doctype html
html(lang='ja')
	head
		include ../../partial/_head
	body
		include ../../partial/_header
		.primary-box
			.breadcrumb.u-fs--xxs
				a(href="#")
					span HOME
				span.breadcrumb__arrow__text.u-arrow__text &gt;
				a(href="#")
					span コンテンツまとめ
				span.breadcrumb__arrow__text.u-arrow__text &gt;
				span 食トレンド
			.primary-box__inner.u-mt20(data-target-maincolumn="target")
				.column-left(data-target-leftcolumn="target")
					.column-left__heading
						h1.column-left__ttl.u-fs--xxxl--contents
							span.column-left__ttl__inner 食トレンド
							span.u-mt10.column-left__text.u-fs--xs TREND
						p.column-left__ttl__right.u-fs--sh
							|飲食に関する最新の食トレンド情報を食べるんだが独自にピックアップ！海外ネタや健康・オーガニックまで役立つ情報を随時更新中！
					h3.column-box--new__ttl.u-fs--xl.u-fwb.u-mt20
						i.c-icon--star
						| 新着コンテンツ
					.column-box--new.u-mt10
						include ../../partial/column_left/_column_new
						h3.nav-box--category__ttl.u-fs--xl.u-fwb
							i.c-icon--circle--text__ttl
							| コンテンツカテゴリー
						ul.nav-box--category.u-fs--xs
							include ../../partial/_nav_bottom
					.pager.u-mt30
						include ../../partial/_pager
				.column-right
					.column-right__inner(data-target-rightcolumn="target")
						.column-box--rightTop
							include ../../partial/column_right/_column_rightTop
						ul.nav-box.u-fs--xs.u-mt30
							include ../../partial/_nav
						.column-box--right__search.u-mt30
							include ../../partial/form/_quick_search_right
						include ../../partial/column_right/_column_rightContent_popular
		include ../../partial/_footer
		script(src='#{domain}js/app.js')

