$tag
	display inline-block
	width 87px
	height 20px
	line-height 18px
	text-align center
$tag-l
	display inline-block
	width 105px
	height 24px
	line-height 22px
	text-align center
$tag-s
	display inline-block
	width 78px
	height 20px
	line-height: 20px
	text-align center

$tag-xs
	display inline-block
	width 48px
	height 20px
	line-height: 20px
	text-align center

$tag-padding
	display inline-block
	height 20px
	line-height: 20px
	text-align center
	padding 0 10px
$tag-padding-s
	display inline-block
	height 18px
	line-height: 18px
	text-align center
	padding 0 5px

$tag-padding-high
	display inline-block
	height 33px
	line-height: 31px
	text-align center
	padding 0 10px

+prefix-classes('c-tag--')
	.trend
		@extend $tag
		color contents
		border 1px solid contents
	.trend--l
		@extend $tag-l
		color contents
		border 1px solid contents
	.trend--l--contents
		@extend $tag-l
		line-height 24px
		color primary__
		background-color contents
	.interview--article
		@extend $tag-padding
		background-color tag_
		color primary__
	.interview
		@extend $tag
		color tag_
		border 1px solid tag_
	.interview--l
		@extend $tag-l
		color tag_
		border 1px solid tag_
	.interview--l--contents
		@extend $tag-l
		line-height 24px
		color primary__
		background-color tag_
	.skill
		@extend $tag
		color secondary_
		border 1px solid secondary_
	.skill--l
		@extend $tag-l
		color secondary_
		border 1px solid secondary_
	.skill--l--contents
		@extend $tag-l
		line-height 24px
		color primary__
		background-color secondary_
	.career
		@extend $tag
		color tag
		border 1px solid tag
	.career--l
		@extend $tag-l
		color tag
		border 1px solid tag
	.career--l--contents
		@extend $tag-l
		line-height 24px
		color primary__
		background-color tag

	.chopsticks
		@extend $tag
		color tag__
		border 1px solid tag__
	.chopsticks--l
		@extend $tag-l
		color tag__
		border 1px solid tag__
	.chopsticks--l--contents
		@extend $tag-l
		line-height 24px
		color primary__
		background-color tag__

	.qa
		@extend $tag
		color secondary
		border 1px solid secondary
	.qa--l
		@extend $tag-l
		color secondary
		border 1px solid secondary
	.qa--l--contents
		@extend $tag-l
		line-height 24px
		color primary__
		background-color secondary
	.qa--s--contents
		@extend $tag-padding
		width auto
		height 30px
		line-height 30px
		color primary__
		background-color secondary

	.secret
		@extend $tag-s
		background-color primary_
		color primary__

	.secret--flow
		@extend $tag-padding
		background-color disable
		color primary__
	.new
		@extend $tag-s
		background-color base
		color primary__
	.new--flow
		@extend $tag-padding
		background-color base
		color primary__

	.celebration
		@extend $tag-padding
		background-color primary_
		color primary__

	.secret--detail
		@extend $tag-padding-high
		background-color primary__
		color base
		border 1px solid base
		border-radius 3px
	.detail--table
		@extend $tag-padding-high
		background-color back
		color base
		line-height: 33px
		border-radius 3px
		cursor pointer
	.secret--notice
		@extend $tag-padding
		background-color base
		color primary__
	.form--required
		color primary__
		background-color base
		@extend $tag-padding-s
		border-radius 2px











