//.c-btn
$btn-primary
	display block
	border-radius 3px
	display flex
	justify-content center
	align-items center
	cursor pointer
	font-weight: bold

$btn-inner-tandem
	flex-wrap wrap
	text-align center

$btn-secondary
	display block
	border-radius 20px
	display flex
	justify-content center
	align-items center
	cursor pointer
	font-weight: bold

$btn-link
	display inline-block
	width 100%
	text-align center

$btn-full
	width 100%
	height 40px

$btn-l
	width 230px
	height 45px

$btn-mm
	width 170px
	height 45px

$btn-m
	width 100%
	height 50px

$btn-ms
	width 140px
	height 45px

$btn-s
	width 100px
	height 30px
$btn-s--padding
	min-width 80px
	padding 0 10px
	height 30px

$btn-ss
	width 100px
	height 35px
	
$btn-social
	width  100%
	height 30px

$btn-color-primary
	background-color primary__
	color base

$btn-color-secondary
	background-color base
	color primary__

$btn-color-tertiary
	background-color disable
	color primary__

$btn-color-quaternary
	background-color #f39800
	color primary__

$btn-color-circle
	color base
	border 1px solid base

$btn-color-facebook
	background-color social
	color primary__

$btn-color-twitter
	background-color social_
	color primary__

$btn-color-hatena
	background-color social__
	color primary__

$btn-color-line
	background-color social___
	color primary__

$btn-hover-area
	display block
	width 100%
	height 100%
//$btn-color-primary
//.c-button-square

$btn-color-qa
	background-color primary__
	color text

.c-button-square--s
	@extend $btn-s--padding
	@extend $btn-color-secondary
	@extend $btn-primary
a
	&.c-button-square--s
		@extend $hover
		@extend $btn-color-primary

.c-button-square--m
	@extend $btn-primary
	@extend $btn-m
	@extend $btn-color-secondary
	@extend $hover
	//border-bottom shadow 4px solid
	box-shadow:0px -4px 0px -1px shadow inset

a
	&.c-button-square--m
		color primary__

.c-button-square--mm
	@extend $btn-primary
	@extend $btn-mm
	@extend $btn-color-secondary
	@extend $hover
	border-bottom shadow 4px solid
	> a
		@extend $btn-hover-area

.c-button-square--mm--gray
	@extend $btn-primary
	@extend $btn-color-tertiary
	@extend $btn-mm
	@extend $hover
	//border-bottom shadow_ 4px solid
	box-shadow:0px -4px 0px -1px shadow_ inset
.c-button-square--ms--gray
	@extend $btn-primary
	@extend $btn-color-tertiary
	@extend $btn-ms
	@extend $hover
	//border-bottom shadow_ 4px solid
	box-shadow:0px -4px 0px -1px shadow_ inset

.c-button-square--l
	@extend $btn-primary
	@extend $btn-l
	@extend $btn-color-secondary
	@extend $hover
	//border-bottom shadow 4px solid
	box-shadow:0px -4px 0px -1px shadow inset
	> a
		@extend $btn-hover-area
		display flex
		justify-content center
		align-items center

.c-button-square--l--gray
	@extend $btn-primary
	@extend $btn-l
	@extend $btn-color-tertiary
	@extend $hover
	//border-bottom shadow_ 4px solid
	box-shadow:0px -4px 0px -1px shadow_ inset

.c-button-square--full
	@extend $btn-primary
	@extend $btn-full
	@extend $btn-color-secondary
	@extend $hover
	//border-bottom shadow 4px solid
	box-shadow:0px -4px 0px -1px shadow inset

.c-button-square--social
	@extend $btn-primary
	@extend $btn-social
	@extend $btn-inner-tandem
	@extend $hover
	//> i
	//	padding-top 5px
	> span
		color primary__
	&.c-facebook
		@extend $btn-color-facebook
	&.c-twitter
		@extend $btn-color-twitter
	&.c-hatena
		@extend $btn-color-hatena
	&.c-line
		@extend $btn-color-line
	._social__block__icon
		width 100%
.c-button-square--social--wide
	height 45px

.c-button-circle
	@extend $btn-secondary
	@extend $btn-full
	@extend $btn-color-circle

a
	&.c-button-circle
		color base
		

.c-button-square--qa
	@extend $btn-primary
	@extend $btn-color-qa
	@extend $hover
	height: 25px
	
.c-button-square--ss
	@extend $btn-primary
	//@extend $btn-ss
	width 100%;
	height 35px;
	@extend $hover
	@extend $btn-color-secondary
	a
		@extend $btn-link
		line-height 35px
	*[class^="c-icon--"]
		vertical-align middle

.c-button-square--ss--orange
	@extend $btn-primary
	@extend $hover
	@extend $btn-color-quaternary
	width 100%;
	height 35px;
	a
		@extend $btn-link
		line-height 35px
	*[class^="c-icon--"]
		vertical-align middle

.c-button-square--ms--orange
	@extend $btn-primary
	@extend $hover
	@extend $btn-color-quaternary
	a
		@extend $btn-link
		line-height 45px
		font-size 18px
	*[class^="c-icon--"]
		vertical-align middle
		margin-right 5px

//border-bottom shadow_ 4px solid
	//box-shadow:0px -4px 0px -1px shadow_ inset


//.c-button-square--toTop
//	@extend $btn-primary
//	@extend $hover
//	@extend $btn-ss
//	@extend $btn-color-secondary
//	border-radius 5px 5px 0 0







