@import "sprite/sprite";
sprite($sprite)
	background url(../img/sprite/sprite.png) no-repeat ($sprite[2]/2) ($sprite[3]/2)
	width ($sprite[4]/2)
	height ($sprite[5]/2)
	background-size ($spritesheet_width/2) ($spritesheet_height/2)

$icon
	display inline-block


//todo $spritesheet_sprites の名前replaceしてforinでclass吐くようなfunction

+prefix-classes('c-icon--')
	.home
		@extend $icon
		sprite($icon_home)
	.secret
		@extend $icon
		sprite($icon_secret)
	.gentei
		@extend $icon
		sprite($icon_gentei)
	.content
		@extend $icon
		sprite($icon_content)
	.work
		@extend $icon
		sprite($icon_work)
	.interview
		@extend $icon
		sprite($icon_interview)
	.trend
		@extend $icon
		sprite($icon_trend)
	.career
		@extend $icon
		sprite($icon_career)
	.skill
		@extend $icon
		sprite($icon_skill)
	.chopsticks
		@extend $icon
		sprite($icon_chopsticks)
	.search
		sprite($icon_search)
	.search--gray
		sprite($icon_search_gray)
	.close
		@extend $icon
		sprite($icon_close)
	.people
		@extend $icon
		sprite($icon_people)
	.eye
		@extend $icon
		sprite($icon_eye)
	.heart
		@extend $icon
		sprite($icon_heart)
	.star
		@extend $icon
		sprite($icon_star)
	.tag
		@extend $icon
		sprite($icon_tag)
	.map
		@extend $icon
		sprite($icon_map)
	.triangle
		@extend $icon
		background transparent
		border-left 7px solid primary
		border-top 4px solid transparent
		border-bottom 4px solid transparent
		border-right 4px solid transparent
	.triangle--rotate
		@extend $icon
		position absolute
		background transparent
		width 20px
		height 20px
		border-left 10px solid transparent
		border-top 10px solid transparent
		border-bottom 10px solid transparent
		border-right 15px solid base
		transform rotate(-36deg)
	.triangle--top
		@extend $icon
		background transparent
		width 12px
		height 12px
		border-left 6px solid transparent
		border-top 6px solid transparent
		border-bottom 12px solid primary__
		border-right 6px solid transparent
	.triangle--bottom
		background transparent
		border-left 4px solid transparent
		border-top 5px solid primary__
		border-bottom 4px solid transparent
		border-right 4px solid transparent
	.triangle--attention
		@extend $icon
		width 16px
		height 16px
		background transparent
		border-left 10px solid transparent
		border-top 0px solid transparent
		border-bottom 16px solid form
		border-right 10px solid transparent
	.circle--baloon
		background-color base
		width 75px
		height 75px
		border-radius 100%
	.circle--s
		background-color base
		border-radius 100%
		width 28px
		height 28px
	.circle--m
		background-color base
		border-radius 100%
		width 30px
		height 30px
	.circle--text__ttl
		@extend $icon
		border-radius 100%
		background-color text
		width: 11px
		height: 11px
	.l
		background transparent
		width 9px
		height 11px
		border-bottom 2px solid primary
		border-left 2px solid primary
	.radio
		sprite($icon_radio)
	.radio--on
		sprite($icon_radio_on)
	.check
		sprite($icon_check)
	.check--on
		sprite($icon_check_on)
	.attention
		@extend $icon
		sprite($icon_attention)
	.flow--l
		@extend $icon
		sprite($icon_flow_l)
		&--is
			@extend $icon
			sprite($icon_flow_l_is)
			color primary__
	.flow--c
		@extend $icon
		sprite($icon_flow_c)
		&--is
			@extend $icon
			sprite($icon_flow_c_is)
			color primary__
	.flow--r
		@extend $icon
		sprite($icon_flow_r)
		&--is
			@extend $icon
			sprite($icon_flow_r_is)
			color primary__
	.mobile
		@extend $icon
		sprite($icon_mobile)
	.phone
		@extend $icon
		sprite($icon_phone)
	.phone--l
		@extend $icon
		sprite($icon_phone_l)

.nav-box__list.is-selected
	.c-icon--l
		border-bottom 2px solid base
		border-left 2px solid base

.c-icon__wrapper--triangle
	position: relative
	&:after
		@extend .c-icon--triangle--bottom
		position: absolute
		display block
		content ''
		right 5px
		top 20px




