for i in range(5px, 75px, 5)
	.u-mt{i}
		margin-top: i

.u-mr5
	margin-right 5px

.u-mb15
	margin-bottom: 15px

.u-pb20
	padding-bottom 20px
.u-pb55
	padding-bottom 55px
	
.u-pt8
	padding-top 8px
	
.u-pl10
	padding-left 10px