- var page = 'contact'
- var title = '食べるんだ'
- var domain = '../../'
- var description = ''
- var keywords = ''
- var heading = 'true'
doctype html
html(lang='ja')
	head
		include ../../partial/_head
	body
		include ../../partial/_header
		.primary-box
			.breadcrumb.u-fs--xxs
				a(href="#")
					span HOME
				span.breadcrumb__arrow__text.u-arrow__text &gt;
				span
					|お問い合わせ
			.primary-box__inner.u-mt20(data-target-maincolumn="target")
				.column-left(data-target-leftcolumn="target")
					h1.column-left__ttl--normal.u-fs--xxl--contents
						|お問い合わせ
					.form--primary.u-mt10
						p.form--primary__repletion.u-fs--xs--lh--form
							|お問い合わせ内容に関しては、編集部にて確認し対応を行っておりますが、
							|ご返信にお時間をいただく場合がございます。また、お問い合せの内容によっては対応できない場合もございますので、
							|ご了承ください。
						table.form--primary__table.u-mt15
							tr.-contact__table__row
								td.form--primary__ttl.u-fs--l.u-fwb
									|種
									| &nbsp;
									|別
									span.c-tag--form--required.u-fs--xxs 必須
								td.form--primary__detail
									div
										span.u-fs--l 法人
											|&nbsp;
										span.u-fs--l 株式会社Wiz
							tr.-contact__table__row
								td.form--primary__ttl.u-fs--l.u-fwb
									|お名前
									span.c-tag--form--required.u-fs--xxs 必須
								td.form--primary__detail
									div
										span.u-fs--l 田中一郎
							tr.-contact__table__row
								td.form--primary__ttl.u-fs--l.u-fwb
									|メールアドレス
									span.c-tag--form--required.u-fs--xxs 必須
								td.form--primary__detail
									span.u-fs--l example@runda.com
							tr.-contact__table__row
								td.form--primary__ttl.u-fs--l.u-fwb
									|お問い合わせ内容
									span.c-tag--form--required.u-fs--xxs 必須
								td.form--primary__detail
									div
										span.u-fs--lh--contents
											| お問い合わせ内容お問い合わせ内容
											| お問い合わせ内容お問い合わせ内容お問い合わせ内容
											| お問い合わせ内容
						.-contact__button__block
							a.c-button-square--l--gray.u-fs--xxl.u-fwb
								| 修正する
							button.c-button-square--l.u-fs--xxl.u-fwb(type="submit" action="" data-submit='trigger')
								span.button-inner 送信する
				.column-right
					.column-right__inner(data-target-rightcolumn="target")
						.column-box--rightTop
							include ../../partial/column_right/_column_rightTop
						ul.nav-box.u-fs--xs.u-mt30
							include ../../partial/_nav
						.column-box--right__search.u-mt30
							include ../../partial/form/_quick_search_right
		include ../../partial/_footer
		script(src='#{domain}js/app.js')
