.form--primary
	background primary__
	color text
	.form--primary__text
		display block
		border 1px solid primary
		border-radius 3px
		height 40px
		line-height: 40px
		width 100%
		color text
	.form--primary__textarea
		display block
		border 1px solid primary
		border-radius 3px
		height 100px
		line-height: 40px
		width 100%
		color text
		padding-top: 5px
.form--primary--contact,
.form--primary--recruit,
.form--primary--support
	padding-bottom: 40px
.form--primary__table
	width 100%
.form--primary__ttl
	.c-tag--form--required
		font-weight: normal
		margin-left: 5px
		position: relative
		top -1px
.form--primary__detail
	width 100%
	.-contact__radio__block
		margin-bottom: 15px
		> label
			margin-right: 30px
	.-contact__radio__block--secondary
		display: flex
		flex-wrap: wrap
		> label
			width 50%
			margin-bottom: 10px
		+below(321px)
			.u-fs--l
				font-size: 1.2rem
				
	.form--primary__radio
		display none
		& + label
			&:before
				content ''
				display inline-block
				position: relative
				margin-right: 5px
				@extend .c-icon--radio
				top 3px
		&:checked
			& + label
				&:before
					@extend .c-icon--radio--on
	.quick-search__select__wrap//selectのみ上書き
		display block
		margin-right 2%
		width 24%
		&:nth-last-of-type(1)
			margin-right: 0
		> select
			border-color primary
			color text
			padding-right: 10px
			width 100%
			height 40px
		&:nth-last-child(1)
			margin-right: 0
	.quick-search__select__wrap--l
		display block
		margin-right 2%
		width 48%
		> select
			border-color primary
			color text
			padding-right: 10px
			width 100%
			height 40px
	._select__wrap--float
		float: left
.form--primary__detail--select
	display flex
	flex-wrap wrap
.form--primary__txtr
	text-align right
	.form__error
		text-align left
.-contact__table__row
	border-top 1px solid line
	@extend $sidepadding
	display block
	&:nth-last-child(1)
		border-bottom none
	> td
		display block
.-contact__table__row--noborder
	border none
.-contact__table__row--ovh
	overflow hidden
.-contact__button__block
	display flex
	justify-content center
	@extend $sidepadding
	.c-button-square--l--gray
		margin-right: 10px
.form--primary__thanks
	text-align center
	color base
.-contact__thanks__text
	text-align center

.form__error
	margin-bottom: 5px
	.c-icon--attention
		position: relative
		top 2px
.form__error--negativeMargin
	margin-bottom: -15px

.form--primary__repletion
	color text
	> span
		display inline-block
		margin-right 2%
.form--primary__repletion--top
	@extend .form--primary__repletion
	@extend $sidepadding
	> span
		display inline-block
		width 48%
		@extend $ellipsis


.form--primary__heading
	background-color back
	color text
	padding 10px

.-primary__table__check
	@extend $sidepadding
	.search-checkbox__label
		width auto
		margin-right 30px
	.search-checkbox__label--recruit
		width 47%
		margin-right 2%
		display inline-block
		+below(321px)
			font-size: 1.2rem

.form__button__block
	text-align center
	border-top 1px solid line
	.c-button-square--l
		margin 10px auto 0
		text-align center
		direction: inherit
	.form__text--link
		color base
	.form__text--agreement
		margin-bottom 20px
	._button__block__text
		padding 0 15px;
.form__button__block--noborder
	text-align center
	.c-button-square--l
		margin 10px auto 0
		text-align center
		direction: inherit
		color primary__
	&.form__button__block--thanks
		margin-bottom: 30px

.form__button__block--multi
	@extend $sidepadding
	border-top 1px solid line
	text-align center
	.form__text--link
		color base
		display block
	._block--multi__inner
		display flex
		justify-content center
		align-items center
		.c-button-square--l--gray
			margin-right: 15px
			color primary__

.form--primary__topBlock
	display flex
	justify-content: space-between
	align-items center
	background-color back
	@extend $sidepadding
	padding-top: 15px
	padding-bottom: 15px
	+below(321px)
		display block
		.form--primary__topBlock__ttl
			margin-bottom: 15px
.form--primary__topBlock__ttl
	color text
.flow__arrow
	color text
	span
		text-align center
		line-height: 21px
.form--primary__checkbox
	width 230px
	height 40px
	border-radius 6px
	background-color #f3f3f3
	display flex
	justify-content center
	align-items center
	margin 15px auto 20px
	user-select none

//ログインフォーム
.form--login
	padding 40px 0
	background-color primary__
	.form--primary__text
		color text
		border 1px solid primary
	input
		width 300px
		height 40px
		//line-height: 40px
	.c-button-square--l
		width 300px
		height 50px
		line-height: 50px
		margin-right: auto
		margin-left: auto
.form--login__top
	width 100%
	display flex
	.-login__top__l
		width 50%
		border-right 1px solid line
	.-login__top__r
		width 50%
		text-align center
	.c-button-square--social
		color primary__
		margin-left auto
		margin-right auto
		width: 300px
		height: 50px
	.-login__top__ttl
		text-align center
		color text
	._top__r__link
		display block
		width: 300px
		margin-right auto
		margin-left: auto
		text-align right
		color text
.form--login__middle
	text-align center
	input
		display block
		margin-left: auto
		margin-right: auto
	.-login__middle__ttl
		color base
	.form--login__repletion
		color text



.-primary__table__check__ttl
	@extend $sidepadding