- var page = 'home'
- var title = '食べるんだ'
- var domain = '../../'
- var description = ''
- var keywords = ''
- var heading = 'false'

doctype html
html(lang='ja')
	head
		include ../../partial/_head
	body
		.globalmenu__wrap(data-target-wrap='hamburger')
			include ../../partial/_header
			.secondary-box
				.secondary-box__inner
					ul.result-box.u-mt15
						li.result-box__list
							a(href="#")
								span.result-box__list__category.u-fs--m 職種
								span.result-box__list__job.u-fs--m.u-fwb パティシエ
								span.result-box__list__change.u-fs--xs 変更 &gt;
						li.result-box__list
							a(href="#")
								span.result-box__list__category.u-fs--m 勤務地
								span.result-box__list__job.u-fs--m.u-fwb 東京都
								span.result-box__list__change.u-fs--xs 変更 &gt;
						li.result-box__list
							a(href="#")
								span.result-box__list__category.u-fs--m 雇用形態
								span.result-box__list__job.u-fs--m.u-fwb 正社員
								span.result-box__list__change.u-fs--xs 変更 &gt;
						li.result-box__list
							a(href="#")
								span.result-box__list__category.u-fs--m こだわり
								span.result-box__list__job.u-fs--m.u-fwb 未経験歓迎
								span.result-box__list__change.u-fs--xs 変更 &gt;
						li.result-box__list
							a(href="#")
								span.result-box__list__category.u-fs--m キーワード
								span.result-box__list__job.u-fs--m.u-fwb テキスト
								span.result-box__list__change.u-fs--xs 変更 &gt;
					p.result__text__list.u-fs--mh.u-mt10.u-fwb
						|パティシエ/東京都/正社員/未経験歓迎/の求人転職情報
					p.result__num__block.u-mt5
						span.result__num.u-fs--xl.u-fwb 0000
						span.u-fs--xs 件の求人
			.column-box--gray.u-pb55
				.column-box--wide__list
					h2.u-fs--xlh.-wide__list__ttl.u-fwb
						span._list__multiTag__text 路地裏の一軒家リストランテ☆上質食材と300種以上のワインが自慢★完全週休2日制も選べます♪
					h3.-wide__list__subTtl.u-fs--xs.u-mt10.u-fwb
						| 株式会社carta bianca
					.-wide__list__bottom.u-mt15
						.-wide__list__img(style="background-image:url(#{domain}img/media/media01.jpg)")
						ul.-wide__list__details.u-fs--sh
							li.-wide__list__detail.u-fs--s
								span._list__detail__title 職種
								span ：調理スタッフ サービス・ホール ソムリエ 店長候補・マネージャー
							li.-wide__list__detail
								span._list__detail__title 給与
								span ：月給23万円〜30万円【フルタイム】月給：23～30万円（未経験者、経験浅い方は月給20万円〜）
							li.-wide__list__detail--multiline
								span._list__detail__title 勤務地
								span ：東京都渋谷区代々木2-20-15テキストテキストテキストテキスト
							li.-wide__list__detail
								span._list__detail__title 雇用形態
								span ：正社員
							li.-wide__list__detail
								span._list__detail__title こだわり
								span ：未経験歓迎/独立支援/まかないつき
					._list__button__block.u-mt15
						.c-button-square--mm--gray.u-fs--xs
							span.c-font-icon--attachment
							| キープする
						.c-button-square--mm.u-fs--xs
							| もっと詳しくみる
					p.-wide__list__footer.u-fs--xxs.u-mt10 提供元：求人@飲食店.COM
				.column-box--wide__list.u-mt15
					h2.u-fs--xlh.-wide__list__ttl.u-fwb
						span._list__multiTag__text 路地裏の一軒家リストランテ☆上質食材と300種以上のワインが自慢★完全週休2日制も選べます♪
					h3.-wide__list__subTtl.u-fs--xs.u-mt10.u-fwb
						| 株式会社carta bianca
					.-wide__list__bottom.u-mt15
						.-wide__list__img(style="background-image:url(#{domain}img/media/media01.jpg)")
						ul.-wide__list__details.u-fs--sh
							li.-wide__list__detail.u-fs--s
								span._list__detail__title 職種
								span ：調理スタッフ サービス・ホール ソムリエ 店長候補・マネージャー
							li.-wide__list__detail
								span._list__detail__title 給与
								span ：月給23万円〜30万円【フルタイム】月給：23～30万円（未経験者、経験浅い方は月給20万円〜）
							li.-wide__list__detail--multiline
								span._list__detail__title 勤務地
								span ：東京都渋谷区代々木2-20-15テキストテキストテキストテキスト
							li.-wide__list__detail
								span._list__detail__title 雇用形態
								span ：正社員
							li.-wide__list__detail
								span._list__detail__title こだわり
								span ：未経験歓迎/独立支援/まかないつき
					._list__button__block.u-mt15
						.c-button-square--mm--gray.u-fs--xs
							span.c-font-icon--attachment
							| キープする
						.c-button-square--mm.u-fs--xs
							| もっと詳しくみる
					p.-wide__list__footer.u-fs--xxs.u-mt10 提供元：求人@飲食店.COM
				.pager
					include ../../partial/_pager
			include ../../partial/_supportBnr
			include ../../partial/_footer
			.overlay(data-target-close="target")
		ul.nav-box.u-fs--xs(data-target-hamburgermenu='hamburger')
			include ../../partial/_nav
		//下記必要なくなるかも
		ul.nav-box--left.u-fs--xs(data-target-searchmenu='search')
			include ../../partial/_leftNav
		include ../../partial/modal/_login
		script(src='#{domain}js/app.js')








































