- var page = 'entry'
- var title = '食べるんだ'
- var domain = '../../'
- var description = ''
- var keywords = ''
- var heading = 'true'
doctype html
html(lang='ja')
	head
		include ../../partial/_head
	body
		include ../../partial/_header
		.primary-box
			.breadcrumb.u-fs--xxs
				a(href="#")
					span HOME
				span.breadcrumb__arrow__text.u-arrow__text &gt;
				span
					| キャリアコンシェルジュの転職支援サービス
			.primary-box__inner.u-mt20(data-target-maincolumn="target")
				.column-left(data-target-leftcolumn="target")
					.form--primary__topBlock
						h1.column-left__ttl--normal.u-fs--xxl--contents
							| 転職支援サービスお申込み
					.form--primary.u-mt10
						p.form--primary__thanks.u-fs--xxlh--contents.u-fwb.u-mt35
							| お申込みが完了しました。
							br
							| 誠にありがとうございます。
						p.-contact__thanks__text.u-fs--lh--contents.u-mt50
							| キャリアコンシェルジュからご連絡いたしますので、
							br
							| 今しばらくお待ちください。
						.-contact__button__block.u-mt50
							.c-button-square--l.u-fs--xxl.u-fwb
								a(href="#") HOMEへ
				.column-right
					.column-right__inner(data-target-rightcolumn="target")
						.column-box--rightTop
							include ../../partial/column_right/_column_rightTop
						ul.nav-box.u-fs--xs.u-mt30
							include ../../partial/_nav
						.column-box--right__search.u-mt30
							include ../../partial/form/_quick_search_right
						include ../../partial/column_right/_column_rightContent_new
						include ../../partial/column_right/_column_rightContent_popular
		include ../../partial/_footer
		script(src='#{domain}js/app.js')
