- var page = 'contents_trend'
- var title = '食べるんだ'
- var domain = '../../'
- var description = ''
- var keywords = ''
- var heading = 'true'

doctype html
html(lang='ja')
	head
		include ../../partial/_head
	body
		.globalmenu__wrap(data-target-wrap='hamburger')
			include ../../partial/_header
			.primary-box--noPadding
				.primaryImg-box(style="background-image:url(#{domain}img/media/trend-01.jpg)")
					span.u-fs--xs--contents.c-tag--qa--l--contents 労務Q&A
				.contents-box.interview
					h1.contents-box__ttl.u-fs--xlh--contents.u-mt30.u-fwb 今が食べごろ！ふわっとやわらかな春キャベツの魅力
					ul.contents-box--social.u-mt10
						li.contents-box--social__list
							a(href="#").c-button-square--social.c-facebook
								i.c-font-icon--facebook._social__block__icon.u-fs--xxxl
						li.contents-box--social__list
							a(href="#").c-button-square--social.c-twitter.u-mt10
								i.c-font-icon--twitter._social__block__icon.u-fs--xxxl
						li.contents-box--social__list
							a(href="#").c-button-square--social.c-line.u-mt10
								i.c-font-icon--line._social__block__icon.u-fs--xxxxl
						li.contents-box--social__list
							a(href="#").c-button-square--social.c-hatena.u-mt10
								i.c-font-icon--hatebu._social__block__icon.u-fs--xxxl
					.contents-box__num.u-mt10
						span.c-icon--eye
						span.u-fs--xxs 2368
					.contents-box__qa.u-mt20
						span.c-tag--qa--s--contents.u-fs--xs.u-fwb Question
						h2.u-fs--xlh.u-fwb.u-mt10 先日内定を頂いたのですが、口約束で採用されただけで不安です。大丈夫でしょうか？
						p.u-fs--mh.contents-box__qa__text.u-mt15
							| とある飲食店で採用され、25万円の給与で働き始めました。
							| 労働条件は給与額のみ口頭で聞いていますがそれ以外聞かされていません。
							| 後々トラブルにならないか不安です。
						span.c-tag--qa--s--contents.u-fs--xs.u-fwb.u-mt30 Answer
						h2.u-fs--xlh.u-fwb.u-mt10 会社は従業員を雇う時に、労働条件を明らかにする項目を書面で渡すことが労働基準法で義務づけられています。
						p.u-fs--mh.contents-box__qa__text.u-mt25
							| “毎日繰り返すことだから、できるだけ楽しく、できるだけおいしく、できるだけ体にいいものがいい。
							| ”をモットーに新鮮で美味しい野菜や果物をたくさん取り入れたメニューがいっぱい！
							| 一階にテラスがあり、ソファやオシャレなテーブルに囲まれながらオープンな空間を楽しむことができます。
							| 都会の中にあるリバーテラスカフェでちょっとヘルシーなランチしていきませんか？
					p.contents-box__text.u-fs--mh.u-mt15
						|ロールキャベツはタネ作りに少し手聞がかかるイメージがあります。でも薄切り肉を使えばもっと簡単！
						|春キャベツは生のまま、適当な大きさに切って薄切り肉を巻きます。火の通りも早いのでサッと煮こむのはもちろん、焼いたり蒸したり、
						|衣をつけて揚げたりすれば、お好みのロールキャベツに。食感も楽しい新感覚の口ールキャベツールキャベツをお試しください。
					.contents-box__overview.u-mt20.u-fs--mh
						h3.u-fwb.contents-box__overview__otherTtl [店舗情報]
						ul
							li 店舗:クロスカーサ
							li 住所:東京都新宿区歌舞伎町1-23-13　第一大滝ビルB1
							li アクセス:JR新宿駅東口から徒歩3分　西武新宿線から徒歩1分
							li TEL:03-6380-3661
							li URL:http://r.gnavi.co.jp/jep0000/
							li 生ハム食べ放題会員も募集中
							li http://hogehoge.com/
					.contents-box__overview.u-mt20.u-fs--mh
						h3.u-fwb.contents-box__overview__otherTtl [会社概要]
						ul
							li 称号:株式会社スペースワン
							li 代表者:代表取締役　松林大吾
							li 所在地:〒150-0043　東京都道玄坂1-22-8-5F
							li 設立: 2006(平成18)12月
					._contents__qa__adviser__block.u-mt35
						._contents__qa__adviser__top
							._contents__qa__adviser__l
								figure
									img(data-normal="#{domain}img/media/qa-01.jpg" alt="テスト")
							._contents__qa__adviser__r
								p._contents__qa__adviser.u-fs--xs--qa.u-mt15
									| きらめき社労士事務所
									br
									| 飲食業専門 人事労務アドバイザー
								h4._contents__qa__adviser__subTtl.u-fs--mh.u-fwb.u-mt5 小野里　実
						h3._contents__qa__adviser__ttl.u-fs--mh.u-fwb.u-mt10
							| 飲食チェーンの人事部出身の社労士事務所です。飲食店の労務管理は、きらめき社労士事務所におまかせください。
						._contents__qa__adviser__text.u-fs--xs--qa.u-mt10
							|証券会社、製造業で人事労務の業務に携わり、その後、外食産業にて人事労務の管理職を6年経験。外食産業では、
							|どこでも頭をいためている「長時間労働」、「残業問題」、「名ばかり管理職」などの問題を次々と解消。
							|2012年に飲食業専門の社会保険労務士事務所　きらめき社労士事務所を開業。
						.contents-box__overview.u-fs--xs--qa.u-mt10
							h3.u-fwb ＜きらめき社労士事務所＞
							ul
								li 〒169-0075東京都新宿区高田馬場4丁目8-9 NY企画ビル3Ｆ
								li TEL:03-6304-0468 FAX:03-6304-0469
							._contents__overview__btnBlock.u-mt5
								a.c-button-square--qa.u-fs--xs--qa
									|> ホームページはコチラ
								a.c-button-square--qa.u-fs--xs--qa
									|> メールはコチラ

				h3.column-box--new__ttl.u-fs--xs--contents.u-fwb.u-mt20
					i.c-icon--star
					| 新着コンテンツ
				ul.column-box--new__list
					li.column-box--new__lists
						a(href="#")
							.-new__list__img(style="background-image:url(#{domain}img/media/media-m01.jpg)")
								span.c-icon--circle--m
									span.u-fwb NEW
							.-new__list__right
								p.-new__list__text.u-fs--sh--contents.u-fwb
									| 世界の料理をアルファベット順にご紹介！第13弾”M”「モモ」「マフェ」って知ってますか？
								._list__right__bottom
									span._list__right__tag.c-tag--career--l.u-fs--xs.u-fwb
										| 労務Q&A
									._right__bottom__num
										span.c-icon--eye
										span.u-fs--xxs 2368
					li.column-box--new__lists
						a(href="#")
							.-new__list__img(style="background-image:url(#{domain}img/media/media-m01.jpg)")
								span.c-icon--circle--m
									span.u-fwb NEW
							.-new__list__right
								p.-new__list__text.u-fs--sh--contents.u-fwb
									| 世界では“板チョコ革命”が起きていた？！チョコレートの本当の美味しさを届ける「Bean to bar（ビーン・トゥ・バー）」
								._list__right__bottom
									span._list__right__tag.c-tag--trend--l.u-fs--xs.u-fwb
										| 食トレンド
									._right__bottom__num
										span.c-icon--eye
										span.u-fs--xxs 2368
					li.column-box--new__lists
						a(href="#")
							.-new__list__img(style="background-image:url(#{domain}img/media/media-m01.jpg)")
								span.c-icon--circle--m
									span.u-fwb NEW
							.-new__list__right
								p.-new__list__text.u-fs--sh--contents.u-fwb
									| 世界の料理をアルファベット順にご紹介！第13弾”M”「モモ」「マフェ」って知ってますか？
								._list__right__bottom
									span._list__right__tag.c-tag--skill--l.u-fs--xs.u-fwb
										| スキルアップ
									._right__bottom__num
										span.c-icon--eye
										span.u-fs--xxs 2368
					li.column-box--new__lists
						a(href="#")
							.-new__list__img(style="background-image:url(#{domain}img/media/media-m01.jpg)")
								span.c-icon--circle--m
									span.u-fwb NEW
							.-new__list__right
								p.-new__list__text.u-fs--sh--contents.u-fwb
									| 世界の料理をアルファベット順にご紹介！第13弾”M”「モモ」「マフェ」って知ってますか？テストテストテストテストテスト
								._list__right__bottom
									span._list__right__tag.c-tag--interview--l.u-fs--xs.u-fwb
										| インタビュー
									._right__bottom__num
										span.c-icon--eye
										span.u-fs--xxs 2368
					li.column-box--new__lists
						a(href="#")
							.-new__list__img(style="background-image:url(#{domain}img/media/media-m01.jpg)")
								span.c-icon--circle--m
									span.u-fwb NEW
							.-new__list__right
								p.-new__list__text.u-fs--sh--contents.u-fwb
									| 世界の料理をアルファベット順にご紹介！第13弾”M”「モモ」「マフェ」って知ってますか？テストテストテストテストテスト
								._list__right__bottom
									span._list__right__tag.c-tag--career--l.u-fs--xs.u-fwb
										| 就食ノウハウ
									._right__bottom__num
										span.c-icon--eye
										span.u-fs--xxs 2368
				h3.column-box--new__ttl.u-fs--xs--contents.u-fwb.u-mt20
					i.c-icon--heart
					| 人気コンテンツ
				ul.column-box--new__list
					li.column-box--new__lists
						a(href="#")
							.-new__list__img(style="background-image:url(#{domain}img/media/media-m01.jpg)")
								span.c-icon--tag
									span.u-fwb 人気
							.-new__list__right
								p.-new__list__text.u-fs--sh--contents.u-fwb
									| 世界の料理をアルファベット順にご紹介！第13弾”M”「モモ」「マフェ」って知ってますか？
								._list__right__bottom
									span._list__right__tag.c-tag--trend--l.u-fs--xs.u-fwb
										| 食トレンド
									._right__bottom__num
										span.c-icon--eye
										span.u-fs--xxs 2368
					li.column-box--new__lists
						a(href="#")
							.-new__list__img(style="background-image:url(#{domain}img/media/media-m01.jpg)")
								span.c-icon--tag
									span.u-fwb 人気
							.-new__list__right
								p.-new__list__text.u-fs--sh--contents.u-fwb
									| 世界では“板チョコ革命”が起きていた？！チョコレートの本当の美味しさを届ける「Bean to bar（ビーン・トゥ・バー）」
								._list__right__bottom
									span._list__right__tag.c-tag--trend--l.u-fs--xs.u-fwb
										| 食トレンド
									._right__bottom__num
										span.c-icon--eye
										span.u-fs--xxs 2368
					li.column-box--new__lists
						a(href="#")
							.-new__list__img(style="background-image:url(#{domain}img/media/media-m01.jpg)")
								span.c-icon--tag
									span.u-fwb 人気
							.-new__list__right
								p.-new__list__text.u-fs--sh--contents.u-fwb
									| 世界の料理をアルファベット順にご紹介！第13弾”M”「モモ」「マフェ」って知ってますか？
								._list__right__bottom
									span._list__right__tag.c-tag--trend--l.u-fs--xs.u-fwb
										| 食トレンド
									._right__bottom__num
										span.c-icon--eye
										span.u-fs--xxs 2368
					li.column-box--new__lists
						a(href="#")
							.-new__list__img(style="background-image:url(#{domain}img/media/media-m01.jpg)")
								span.c-icon--tag
									span.u-fwb 人気
							.-new__list__right
								p.-new__list__text.u-fs--sh--contents.u-fwb
									| 世界の料理をアルファベット順にご紹介！第13弾”M”「モモ」「マフェ」って知ってますか？テストテストテストテストテスト
								._list__right__bottom
									span._list__right__tag.c-tag--trend--l.u-fs--xs.u-fwb
										| 食トレンド
									._right__bottom__num
										span.c-icon--eye
										span.u-fs--xxs 2368
					li.column-box--new__lists
						a(href="#")
							.-new__list__img(style="background-image:url(#{domain}img/media/media-m01.jpg)")
								span.c-icon--tag
									span.u-fwb 人気
							.-new__list__right
								p.-new__list__text.u-fs--sh--contents.u-fwb
									| 世界の料理をアルファベット順にご紹介！第13弾”M”「モモ」「マフェ」って知ってますか？テストテストテストテストテスト
								._list__right__bottom
									span._list__right__tag.c-tag--trend--l.u-fs--xs.u-fwb
										| 食トレンド
									._right__bottom__num
										span.c-icon--eye
										span.u-fs--xxs 2368
				h3.nav-box--category__ttl.u-fs--xs--contents.u-fwb
					span
						i.c-icon--circle--text__ttl
						|コンテンツカテゴリー
				ul.nav-box--category.u-fs--s.u-mt10
					include ../../partial/_footerNav
			include ../../partial/_footer
			.overlay(data-target-close="target")
		ul.nav-box.u-fs--xs(data-target-hamburgermenu='hamburger')
			include ../../partial/_nav
		//下記必要なくなるかも
		ul.nav-box--left.u-fs--xs(data-target-searchmenu='search')
			include ../../partial/_leftNav
		include ../../partial/modal/_login
		script(src='#{domain}js/app.js')






































