- var page = ''
- var title = '応募が無い、採用できないでお困りの方、飲食店の採用は"食べるんだ"'
- var domain = '../'
- var description = '飲食求人掲載数No.1クラス｜飲食特化型求人情報サイト【食べるんだ】。飲食・フード業界に特化型だからこそスピーディーな人材採用をご提案いたします。応募が来ない、採用できないでお困りの方はぜひお問い合わせください。'
- var keywords = '飲食,フード,ホール,求人,採用,人材紹介,求人掲載,アルバイト,正社員,食べるんだ'
- var heading = 'false'
doctype html
html(lang='ja')
	head
		include ../partial/_head
	body.p-salesinfo-lp__body(data-target-rightcolumn data-target-salesinfo)
		header.p-salesinfo-lp__header(data-target-header)
			.p-salesinfo-lp__header__wrapper
				h1.p-salesinfo-lp__header__leftcolumn
					img.p-salesinfo-lp__header__leftcolumn__img(src='#{domain}img/salesinfo-lp/logo.svg', alt='食べるんだ 求人広告掲載ガイド')
				p.p-salesinfo-lp__header__rightcolumn
					img(src='#{domain}img/salesinfo-lp/img_callnumber.png', alt='03-5931-0700 10:00~18:00（土日祝日は除く）')

			nav.p-salesinfo-lp__nav
				ul.p-salesinfo-lp__nav__wrapper
					li.p-salesinfo-lp__nav__item
						a.p-salesinfo-lp__nav__item__inner(href="#features") 食べるんだの特徴
					li.p-salesinfo-lp__nav__item
						a.p-salesinfo-lp__nav__item__inner(href="#price") 料金プラン
					li.p-salesinfo-lp__nav__item
						a.p-salesinfo-lp__nav__item__inner(href="#flow") ご掲載までの流れ
					li.p-salesinfo-lp__nav__item
						a.p-salesinfo-lp__nav__item__inner(href="#question") よくあるご質問
					li.p-salesinfo-lp__nav__item
						a.p-salesinfo-lp__nav__item__inner(href="#contact") 資料請求・お問い合わせ

		main.p-salesinfo-lp__main
			section
				.p-salesinfo-lp__main__image__wrapper
					h2.p-salesinfo-lp__main__image__heading
						picture
							source(media="(max-width:750px)" srcset="#{domain}img/salesinfo-lp/img_main_sp.png")
							img.p-salesinfo-lp__main__image(src="#{domain}img/salesinfo-lp/img_main_pc.png" alt="飲食特化型求人サイト 食べるんだ 限定求人オープン記念キャンペーン 掲載料（1ヶ月）今なら半年間ゼロ円")
			p.p-salesinfo-lp__main__text 4月よりスタートした食べるんだの「限定求人」リリースを記念して
				br
				span.p-salesinfo-lp__emphasis--primary 掲載料無料キャンペーン
				| を実施いたします。
				br
				| 現状ご利用中の求人サイトで、なかなか採用に至らずお困り中の企業様、店舗様、
				br
				| この機会にぜひ「食べるんだ」の限定求人をお試しください！
			p.p-salesinfo-lp__btn--primary-wrapper
				a.p-salesinfo-lp__btn--primary(href="#contact")
					img.p-salesinfo-lp__btn--primary__img(src='#{domain}img/salesinfo-lp/btn_contact.svg', alt='資料請求・お問い合わせはこちら')
			p.p-salesinfo-lp__contact__wrap
				img.p-salesinfo-lp__contact__image(src="#{domain}img/salesinfo-lp/img_callnumber02.png" alt="お電話からもお気軽にお問い合わせください 03-5931-0700 10:00〜18:00（土日祝日は除く）")
			.p-salesinfo-lp__btn--call-wrap.u-mt15
				a.p-salesinfo-lp__btn--call(href="tel:0359310700")
					img.p-salesinfo-lp__btn--call__img(src='#{domain}img/salesinfo-lp/btn_contact_sp.svg', alt='お電話からのお問合わせはこちら')

			section.p-salesinfo-lp__features(id="features")
				h3.p-salesinfo-lp__heading--lv3 食べるんだの特徴
				.p-salesinfo-lp__features__box
					h4.p-salesinfo-lp__features__heading--lv4.p-salesinfo-lp__icon--point1 集客、ランニングコスト削減商材でお得に求人！
					p.p-salesinfo-lp__features__description 「食べるんだ」では 採用活動をしつつ日々の店舗のランニングコストを下げたいお客様向けの料金プランを用意。集客、ランニングコスト削減対策をご検討中のお客様は、無料で求人掲載できるプランが断然お得！詳しくヒアリングさせて頂いたうえで、お客様に合った最適なプランをご提案いたします。
					ul.p-salesinfo-lp__cost
						li.p-salesinfo-lp__cost__item
							img.p-salesinfo-lp__cost__img(src="#{domain}img/salesinfo-lp/img_feature1.jpg" alt="フリーWi-Fi導入で集客UP")
						li.p-salesinfo-lp__cost__item
							img.p-salesinfo-lp__cost__img(src="#{domain}img/salesinfo-lp/img_feature2.jpg" alt="節水でランニングコスト削減")
						li.p-salesinfo-lp__cost__item
							img.p-salesinfo-lp__cost__img(src="#{domain}img/salesinfo-lp/img_feature3.jpg" alt="毎月の電気代がお得に")
					a.p-salesinfo-lp__btn--primary(href="#contact")
						img.p-salesinfo-lp__btn--primary__img(src='#{domain}img/salesinfo-lp/btn_contact.svg', alt='資料請求・お問い合わせはこちら')

				.p-salesinfo-lp__features__box
					h4.p-salesinfo-lp__features__heading--lv4.p-salesinfo-lp__icon--point2 求職者を効率良く集めるためのオプションサービス！
					p.p-salesinfo-lp__features__description オンライン広告等広告運用を行い、お客様の求人情報詳細ページに誘導。
						br
						| より多くの求職者を効率よく集めることで応募率を上げ、採用確立をアップします！
					ul.p-salesinfo-lp__features__logo
						li.p-salesinfo-lp__features__logo__item
							p.p-salesinfo-lp__features__logo__img-wrapper
								img.p-salesinfo-lp__features__logo__img--google(src="#{domain}img/salesinfo-lp/img_logo_google.png" alt="Google")
						li.p-salesinfo-lp__features__logo__item
							p.p-salesinfo-lp__features__logo__img-wrapper
								img.p-salesinfo-lp__features__logo__img--yahoo(src="#{domain}img/salesinfo-lp/img_logo_yahoo.png" alt="YAHOO JAPAN!")
					a.p-salesinfo-lp__btn--primary(href="#contact")
						img.p-salesinfo-lp__btn--primary__img(src='#{domain}img/salesinfo-lp/btn_contact.svg', alt='資料請求・お問い合わせはこちら')
					small.p-salesinfo-lp__features__copyright &copy; 2015 Google Inc. All rights reserved. Google および Google ロゴは Google Inc. の登録商標です。

				.p-salesinfo-lp__features__box
					h4.p-salesinfo-lp__features__heading--lv4.p-salesinfo-lp__icon--point3  意識の高い飲食希望の求職者を集客できるサイト設計！
					p.p-salesinfo-lp__features__description 飲食系求人のみを掲載。業種特化型ならではの分類で一括検索が可能。さらに飲食業界の就職に役立つ情報から労務相談コンテンツまで、飲食だから働きたい！！という求職者にリーチしやすいサイト構成になっています。
					a.p-salesinfo-lp__link(href="/" target="_blank") > 食べるんだサービスサイトはこちらから
					p.p-salesinfo-lp__features__siteimg
						img.p-salesinfo-lp__features__siteimg__img(src="#{domain}img/salesinfo-lp/img_site.jpg" alt="サイトイメージ")
					a.p-salesinfo-lp__btn--primary(href="#contact")
						img.p-salesinfo-lp__btn--primary__img(src='#{domain}img/salesinfo-lp/btn_contact.svg', alt='資料請求・お問い合わせはこちら')

			section.p-salesinfo-lp__price(id="price")
				.p-salesinfo-lp__price__box
					h3.p-salesinfo-lp__heading--lv3 料金プラン
				.p-salesinfo-lp__price__box
					p.p-salesinfo-lp__features__description 「食べるんだ」では２つの料金プランをご用意。求人原稿を掲載して採用活動をスタートされたいお客様向けの「シンプル求人プラン」と、採用活動をしつつ、日々の店舗経営のランニングコストを下げたいお客様向けの「コスト削減セットプラン」。
						br
						| お客様のご要望、期間等に合わせて選んでいただくことができます。
				.p-salesinfo-lp__price__plan
					.p-salesinfo-lp__price__plan__heading--primary--wrapper
						h4.p-salesinfo-lp__price__plan__heading--primary シンプル求人掲載
							br
							| プラン
					.p-salesinfo-lp__price__plan__body
						p.p-salesinfo-lp__price__plan__body__description 求人掲載のみを行いたい人向け。求人情報の掲載料のみ

						table.p-salesinfo-lp__price__plan__body__table
							thead.p-salesinfo-lp__price__plan__body__table-head-wrapper
								tr.p-salesinfo-lp__price__plan__body__table-row
									th.p-salesinfo-lp__price__plan__body__table-head 掲載期間
									th.p-salesinfo-lp__price__plan__body__table-head(width="25%") 求人掲載料
									th.p-salesinfo-lp__price__plan__body__table-head(width="29%") 原稿料
									th.p-salesinfo-lp__price__plan__body__table-head 備考
							tbody.p-salesinfo-lp__price__plan__body__table-body
								tr.p-salesinfo-lp__price__plan__body__table-row
									td.p-salesinfo-lp__price__plan__body__table-data.u-txtc(data-title="掲載期間")
										p.u-emphasis--primary.u-size--large.u-fwb 1ヵ月
									td.p-salesinfo-lp__price__plan__body__table-data(data-title="求人掲載料")
										p.u-emphasis--primary__emphasis--strike.u-size--large.u-txt__strike.u-fwb.u-txtc ¥50,000
										p.u-emphasis--secondary.u-size--large.u-fwb.u-txtc 今なら半年間
											br
											span.u-emphasis--secondary.u-size--fuge.u-fwb 無料
									td.u-txtc--sp.p-salesinfo-lp__price__plan__body__table-data(data-title="原稿料")
										p.u-emphasis--primary.u-size--large.u-fwb 初回無料サービス
										.u-tac-wrapper
											p 初回：
												span.u-emphasis--secondary 無料サービス
											p 2回目以降修正も含め、
												br
												span.u-emphasis--secondary 1回¥30,000
										p.u-note.u-mt15 ※店舗の写真・原稿に必要な情報を予めご用意いただきます。
									td.u-txtc--sp.p-salesinfo-lp__price__plan__body__table-data(data-title="備考")
										.u-tac-wrapper
											p ※1求人広告につき、
												br
												| 1店舗1職種
				.p-salesinfo-lp__price__plan
					.p-salesinfo-lp__price__plan__heading--secondary--wrapper
						h4.p-salesinfo-lp__price__plan__heading--secondary
							span.p-salesinfo-lp__price__plan__heading--secondary__emphasis コスト削減してお得に求人
							span コスト削減セット
								br
								| プラン
					.p-salesinfo-lp__price__plan__body
						p.p-salesinfo-lp__price__plan__body__description 当社の商材をお申し込みいただい後、1年間は求人掲載料が無料。
						table.p-salesinfo-lp__price__plan__body__table
							thead.p-salesinfo-lp__price__plan__body__table-head-wrapper
								tr.p-salesinfo-lp__price__plan__body__table-row
									th.p-salesinfo-lp__price__plan__body__table-head 掲載期間
									th.p-salesinfo-lp__price__plan__body__table-head(width="25%") 求人掲載料
									th.p-salesinfo-lp__price__plan__body__table-head(width="29%") 原稿料
									th.p-salesinfo-lp__price__plan__body__table-head 備考
							tbody.p-salesinfo-lp__price__plan__body__table-body
								tr.p-salesinfo-lp__price__plan__body__table-row
									td.p-salesinfo-lp__price__plan__body__table-data.u-emphasis--primary.u-txtc.u-fwb(data-title="掲載期間") Wiz商材の
										br
										| お申し込み後
										br
										span.u-size--large   1年間
									td.p-salesinfo-lp__price__plan__body__table-data.u-emphasis--secondary.u-size--fuge.u-txtc(data-title="求人掲載")
										span.u-emphasis--secondary.u-size--fuge.u-fwb 無料
									td.u-txtc--sp.p-salesinfo-lp__price__plan__body__table-data(data-title="原稿料")
										.u-tac-wrapper
											p.u-fwb.u-size--large 初回：¥30,000
											p 初回：
												span.u-emphasis--secondary ¥30,000
											p 2回目以降修正も含め、
												br
												span.u-emphasis--secondary 1回¥30,000
										p.u-note.u-mt15 ※店舗の写真・原稿に必要な情報を予めご用意いただきます。
									td.u-txtc--sp.p-salesinfo-lp__price__plan__body__table-data(data-title="備考")
										.u-tac-wrapper
											p 例）
												ul.u-note__list
													li JETセット
													li ギガらくWiFiセット
													li LEDセット
													li ドライブ光セット
													li ハルエネセット......など。
				.p-salesinfo-lp__price__box
					p.p-salesinfo-lp__price__plan__note ※全て税抜き価格です。
				p.p-salesinfo-lp__btn--primary-wrapper
					a.p-salesinfo-lp__btn--primary(href="#contact")
						img.p-salesinfo-lp__btn--primary__img(src='#{domain}img/salesinfo-lp/btn_contact.svg', alt='資料請求・お問い合わせはこちら')

			section.p-salesinfo-lp__flow(id="flow")
				h3.p-salesinfo-lp__heading--lv3 ご掲載までの流れ
				.p-salesinfo-lp__step-container
					.p-salesinfo-lp__step-wrapper
						dl.p-salesinfo-lp__step__item
							dt.p-salesinfo-lp__step__title
								p.p-salesinfo-lp__step__title__label Step1
								p.p-salesinfo-lp__step__title__body お問い合わせ
							dd.p-salesinfo-lp__step__data お客様のご要望をお伺いします。まずはお気軽にお問い合わせください。
					.p-salesinfo-lp__step-wrapper
						dl.p-salesinfo-lp__step__item
							dt.p-salesinfo-lp__step__title
								p.p-salesinfo-lp__step__title__label Step2
								p.p-salesinfo-lp__step__title__body お打ち合わせ
							dd.p-salesinfo-lp__step__data 弊社スタッフがお客様のご要望をヒアリングし、最適なプランをご提案させていただきます。
					.p-salesinfo-lp__step-wrapper
						dl.p-salesinfo-lp__step__item
							dt.p-salesinfo-lp__step__title
								p.p-salesinfo-lp__step__title__label Step3
								p.p-salesinfo-lp__step__title__body お申込み
							dd.p-salesinfo-lp__step__data ご検討いただいた後、お申込み手続きを致します。掲載する情報を作成する求人原稿作成フォーマットをお送りし、ご記入いただきます。
					.p-salesinfo-lp__step-wrapper
						dl.p-salesinfo-lp__step__item
							dt.p-salesinfo-lp__step__title
								p.p-salesinfo-lp__step__title__label Step4
								p.p-salesinfo-lp__step__title__body ご掲載&フォロー
							dd.p-salesinfo-lp__step__data お客様に最終的なご確認をいただき、問題がなければ、掲載スタートとなります。掲載後は、状況をヒアリングし、フォローさせていただきます。
				p.p-salesinfo-lp__btn--primary-wrapper
					a.p-salesinfo-lp__btn--primary(href="#contact")
						img.p-salesinfo-lp__btn--primary__img(src='#{domain}img/salesinfo-lp/btn_contact.svg', alt='資料請求・お問い合わせはこちら')

			section.p-salesinfo-lp__question(id="question")
				h3.p-salesinfo-lp__heading--lv3 よくあるご質問
				dl.p-salesinfo-lp__question__box
					dt.p-salesinfo-lp__question__title 採用コストをかけずに、いい人材を取るにはどうすれば？
					dd.p-salesinfo-lp__question__data 食べるんだなら1年間掲載無料のプランがあります。
						br
						| 採用コストをかけずに応募者を募ることができます。
				dl.p-salesinfo-lp__question__box
					dt.p-salesinfo-lp__question__title 他社求人サイトで掲載中だが、まったく採用できない
					dd.p-salesinfo-lp__question__data 食べるんだならお客様の求人だけに集客できるオプションプランを用意しています。
				p.p-salesinfo-lp__btn--primary-wrapper
					a.p-salesinfo-lp__btn--primary(href="#contact")
						img.p-salesinfo-lp__btn--primary__img(src='#{domain}img/salesinfo-lp/btn_contact.svg', alt='資料請求・お問い合わせはこちら')

			section.p-salesinfo-lp__contact(id="contact")
				h3.p-salesinfo-lp__heading--lv3 資料請求・お問い合わせはこちらから
				p.p-salesinfo-lp__contact__description.u-txtc 必須事項を入力後、確認画面が表示されます。内容に間違いがなければ、ページ下部の確認ボタンを押してください。
				div(data-target-maincolumn="target").p-salesinfo-lp__form
					form(novalidate)
						dl.p-salesinfo-lp__form__box
							dt.p-salesinfo-lp__form__title
								label.p-salesinfo-lp__form__title__label(for='name')
									| 貴社名・店舗名
								p.p-salesinfo-lp__form__require 必須
							dd.p-salesinfo-lp__form__data
								div.p-salesinfo-lp__form__data__error
									p.form__error.p-salesinfo-lp__form__error(data-error="required") 会社名か店舗名を入力してください
								input.p-salesinfo-lp__form__input.p-salesinfo-lp__form__input--company-name(id='name' type='text' placeholder='会社名か店舗名を入力してください' data-validate="target" required)
						dl.p-salesinfo-lp__form__box
							dt.p-salesinfo-lp__form__title
								label.p-salesinfo-lp__form__title__label(for='name')
									| ご担当者様名
								p.p-salesinfo-lp__form__require 必須
							dd.p-salesinfo-lp__form__data
								div.p-salesinfo-lp__form__data__error
									p.form__error.p-salesinfo-lp__form__error(data-error="required") ご担当者様のお名前を入力してください
								input.p-salesinfo-lp__form__input.p-salesinfo-lp__form__input--person-name(id='name' type='text' placeholder='ご担当者様のお名前を入力してください' data-validate="target")
						dl.p-salesinfo-lp__form__box
							dt.p-salesinfo-lp__form__title
								label.p-salesinfo-lp__form__title__label(for='mail')
									| メールアドレス（半角）
								p.p-salesinfo-lp__form__require 必須
							dd.p-salesinfo-lp__form__data
								div.p-salesinfo-lp__form__data__error
									p.form__error.p-salesinfo-lp__form__error(data-error="mail") メールアドレスの入力に誤りがあります
									p.form__error.p-salesinfo-lp__form__error(data-error="required") メールアドレスを入力してください。
								input.p-salesinfo-lp__form__input.p-salesinfo-lp__form__input--mail(id='mail' type='text' placeholder='例：example@runda-taberu.jp' data-mail="target" data-validate="target" autocomplete="off" required)
						dl.p-salesinfo-lp__form__box
							dt.p-salesinfo-lp__form__title
								label.p-salesinfo-lp__form__title__label(for='tel')
									| ご住所
								p.p-salesinfo-lp__form__require 必須
							dd.p-salesinfo-lp__form__data
								div.p-salesinfo-lp__form__data__error
									p.form__error.p-salesinfo-lp__form__error(data-error="required") ご住所を入力してください
								input.p-salesinfo-lp__form__input.p-salesinfo-lp__form__input--address(id="address" type="text" data-validate="target" required)
						dl.p-salesinfo-lp__form__box
							dt.p-salesinfo-lp__form__title
								label.p-salesinfo-lp__form__title__label(for='tel')
									| 電話番号
								p.p-salesinfo-lp__form__require 必須
							dd.p-salesinfo-lp__form__data
								div.p-salesinfo-lp__form__data__error
									p.form__error.p-salesinfo-lp__form__error(data-error="required") 電話番号を入力してください
									p.form__error.p-salesinfo-lp__form__error(data-error="num") 半角数字を入力してください
								input.p-salesinfo-lp__form__input.p-salesinfo-lp__form__input--tel(id='tel' type='text' placeholder='半角数字（ハイフンなし）' data-validate="target" data-num="target" required)
						dl.p-salesinfo-lp__form__box
							dt.p-salesinfo-lp__form__title
								label.p-salesinfo-lp__form__title__label(for='view')
									| お問い合わせ内容
								p.p-salesinfo-lp__form__require 必須
							dd.p-salesinfo-lp__form__data(data-validate-multi="target")
								div.p-salesinfo-lp__form__data__error
									p.form__error.p-salesinfo-lp__form__error(data-error-multi="selected") お問い合わせ内容を入力してください
								.p-salesinfo-lp__form__select-wrapper
									select.p-salesinfo-lp__form__select(name="content" required)
										option(value='') お問い合わせ内容を選択してください
										option(value='資料請求') 資料請求
										option(value='詳細が聞きたい') 詳細が聞きたい
										option(value='お申し込み希望') お申し込み希望
										option(value='その他お問い合わせ') その他お問い合わせ
						dl.p-salesinfo-lp__form__box
							dt.p-salesinfo-lp__form__title.p-salesinfo-lp__form__title--inquiry-detail
								label.p-salesinfo-lp__form__title__label(for='name')
									| お問い合わせ内容詳細
								p.p-salesinfo-lp__form__require.p-salesinfo-lp__form__require--inquiry-detail 必須
							dd.p-salesinfo-lp__form__data
								div.p-salesinfo-lp__form__data__error
									p.form__error.p-salesinfo-lp__form__error(data-error="required") お問い合わせ内容の詳細を入力してください
								textarea.p-salesinfo-lp__form__input.p-salesinfo-lp__form__input--inquiry-detail(id='detail' type='text' placeholder='' data-validate="target" required)
						p.p-salesinfo-lp__form__agreement お預かりするお客様の個人情報は、弊社の『 個人情報保護管理規定 』に基いて厳重に管理し、お客様の同意がない限りお問い合わせ・ご相談への対応以外には使用いたしません。お問い合わせ・ご相談内容に応じて、後日、各担当者より電話またはメールにてご回答させていただきます。
							br
							| 尚、上記フォームのご利用に際しまして「
							a.p-salesinfo-lp__link(href="/about/privacypolicy" target="_blank") 個人情報保護方針
							| 」にご同意いただく必要がございますことを予めご了承ください。
						.p-salesinfo-lp__btn--submit-wrapper
							button.c-button-square--l.u-fs--xxl.u-fwb.p-salesinfo-lp__btn--submit(type="submit" action="" data-submit='trigger')
									span.button-inner 入力内容を確認する

		footer.p-salesinfo-lp__footer
			.p-salesinfo-lp__footer__box
				ul.p-salesinfo-lp__footer__link
					li.p-salesinfo-lp__footer__link__item
						a.p-salesinfo-lp__footer__link__item__content(href="/" target="_blank") HOME
					li.p-salesinfo-lp__footer__link__item
						a.p-salesinfo-lp__footer__link__item__content(href="/about/company" target="_blank") 会社概要
					li.p-salesinfo-lp__footer__link__item
						a.p-salesinfo-lp__footer__link__item__content(href="/about/privacypolicy" target="_blank") プライバシーポリシー
				small.p-salesinfo-lp__footer__copyright &copy;2017 Wiz Co.,Ltd.

		.p-salesinfo-lp__pagetop.is-hide(data-trigger-totop="target")
		script(src='#{domain}js/app.js')