- var page = 'contents_trend'
- var title = '食べるんだ'
- var domain = '../../'
- var description = ''
- var keywords = ''
- var heading = 'true'

doctype html
html(lang='ja')
	head
		include ../../partial/_head
	body
		.globalmenu__wrap(data-target-wrap='hamburger')
			include ../../partial/_header
			.primary-box--noPadding
				.form--primary__topBlock
					h1.form--primary__topBlock__ttl.u-fs--m.u-fwb
						| 応募フォーム
					.flow__arrow.u-fs--xs--contents
						span.c-icon--flow--l
							| 1.登録
						span.c-icon--flow--c--is
							| 2.確認
						span.c-icon--flow--r
							| 3.応募完了
				.form--primary.form--primary--recruit.u-mt10
					h2.form--primary__heading.u-fs--sh 基本情報
					table.form--primary__table
						tbody
							tr.-contact__table__row.-contact__table__row--noborder
								td.form--primary__ttl.u-fs--s.u-fwb.u-mt20
									| お名前
									span.c-tag--form--required.u-fs--xxs 必須
								td.form--primary__detail.u-mt10
									span.u-fs--l 田中一郎
							tr.-contact__table__row.u-mt20
								td.form--primary__ttl.u-fs--s.u-fwb.u-mt20
									| フリガナ
									span.c-tag--form--required.u-fs--xxs 必須
								td.form--primary__detail.u-mt10
									span.u-fs--l タナカイチロウ
							tr.-contact__table__row.u-mt20
								td.form--primary__ttl.u-fs--s.u-fwb.u-mt20
									| 性別
									span.c-tag--form--required.u-fs--xxs 必須
								td.form--primary__detail.u-mt10
									div.-contact__radio__block
										span.u-fs--l 男
							tr.-contact__table__row.u-mt20.-contact__table__row--ovh
								td.form--primary__ttl.u-fs--s.u-fwb.u-mt20
									| 生年月日
									span.c-tag--form--required.u-fs--xxs 必須
								td.form--primary__detail.u-mt10
									span.u-fs--l 0000年00月00日
							tr.-contact__table__row.u-mt20
								td.form--primary__ttl.u-fs--s.u-fwb.u-mt20
									| メールアドレス
									span.c-tag--form--required.u-fs--xxs 必須
								td.form--primary__detail.u-mt10
									span.u-fs--l example@runda.com
							tr.-contact__table__row.-contact__table__row--ovh.u-mt20
								td.form--primary__ttl.u-fs--s.u-fwb.u-mt20
									| 住所
									span.c-tag--form--required.u-fs--xxs 必須
								td.form--primary__detail.u-mt10
									span.u-fs--l 東京都足立区
							tr.-contact__table__row.u-mt20
								td.form--primary__ttl.u-fs--s.u-fwb.u-mt20
									| 電話番号
									span.c-tag--form--required.u-fs--xxs 必須
								td.form--primary__detail.u-mt10
									span.u-fs--l
										| 09000000000
							tr.-contact__table__row.u-mt20
								td.form--primary__ttl.u-fs--s.u-fwb.u-mt20
									| 現在の就業状況
									span.c-tag--form--required.u-fs--xxs 必須
								td.form--primary__detail.u-mt10
									span.u-fs--l 在職中（飲食関係）
							tr.-contact__table__row.u-mt20
								td.form--primary__ttl.u-fs--s.u-fwb.u-mt20
									| 入社可能時期
									span.c-tag--form--required.u-fs--xxs 必須
								td.form--primary__detail.u-mt10
									span.u-fs--l 1ヶ月以内
							tr.-contact__table__row.u-mt20
								td.form--primary__ttl.u-fs--s.u-fwb.u-mt20
									| 希望連絡時間・連絡方法
								td.form--primary__detail.u-mt10
									span.u-fs--l 平日午前中/メール連絡希望
							tr.-contact__table__row.u-mt20
								td.form--primary__ttl.u-fs--s.u-fwb.u-mt20
									| 取得資格
								td.form--primary__detail.u-mt10
									span.u-fs--l 調理師/栄養士/ソムリエ
							tr.-contact__table__row.u-mt20
								td.form--primary__ttl.u-fs--s.u-fwb.u-mt20
									| 職務経歴・自己PR
								td.form--primary__detail.u-mt10
									span.u-fs--lh
										| テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
										| テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
					h2.form--primary__heading.u-fs--sh.u-mt20 希望職種
					p.-primary__table__check__ttl.u-fs--s.u-fwb.u-mt30 Liquor Importers株式会社
					.-primary__table__check.u-fs--xs
						.u-fs--l.u-mt20
							| パティシエ
							|/
							| 販売スタッフ
					h2.form--primary__heading.u-fs--sh.u-mt20 希望雇用形態
					.-primary__table__check.u-fs--l.u-mt20
							| アルバイト
					.form__button__block--multi.u-mt30
						a.form__text--link.u-mt10(href="#") 利用規約
							| に同意して
						._block--multi__inner.u-mt10
							a.c-button-square--l--gray.u-fs--xs.u-fwb(href="#")
								| 修正する
							button.c-button-square--l.u-fs--xs.u-fwb(type="submit" action="" data-submit='trigger')
								span.button-inner 送信する
			include ../../partial/_footer
			.overlay(data-target-close="target")
		ul.nav-box.u-fs--xs(data-target-hamburgermenu='hamburger')
			include ../../partial/_nav
		//下記必要なくなるかも
		ul.nav-box--left.u-fs--xs(data-target-searchmenu='search')
			include ../../partial/_leftNav
		include ../../partial/modal/_login
		script(src='#{domain}js/app.js')

