- var page = 'entry'
- var title = '食べるんだ'
- var domain = '../../'
- var description = ''
- var keywords = ''
- var heading = 'true'
doctype html
html(lang='ja')
	head
		include ../../partial/_head
	body
		include ../../partial/_header
		.primary-box
			.breadcrumb.u-fs--xxs
				a(href="#")
					span HOME
				span.breadcrumb__arrow__text.u-arrow__text &gt;
				span
					| キャリアコンシェルジュの転職支援サービス
			.primary-box__inner.u-mt20(data-target-maincolumn="target")
				.column-left(data-target-leftcolumn="target")
					.form--primary__topBlock
						h1.column-left__ttl--normal.u-fs--xxl--contents
							| 転職支援サービスお申込み
					.form--primary.u-mt10.pt0
						form
							table.form--primary__table--noBorder
								tbody
									tr.-contact__table__row
										td.form--primary__ttl.u-fs--l.u-fwb
											| お名前
											span.c-tag--form--required.u-fs--xxs 必須
										td.form--primary__detail
											span.u-fs--l 山田 太郎
									tr.-contact__table__row
										td.form--primary__ttl.u-fs--l.u-fwb
											| 生年月日
											span.c-tag--form--required.u-fs--xxs 必須
										td.form--primary__detail
											span.u-fs--l 1990年4月1日
									tr.-contact__table__row
										td.form--primary__ttl.u-fs--l.u-fwb
											| メールアドレス
											span.c-tag--form--required.u-fs--xxs 必須
										td.form--primary__detail
											span.u-fs--l 1990年4月1日
									tr.-contact__table__row
										td.form--primary__ttl.u-fs--l.u-fwb
											| 電話番号
											span.c-tag--form--required.u-fs--xxs 必須
										td.form--primary__detail
											span.u-fs--l 08012345678
									tr.-contact__table__row
										td.form--primary__ttl.u-fs--l.u-fwb
											| 希望内容
											span.c-tag--form--required.u-fs--xxs 必須
										td.form--primary__detail
											span.u-fs--lh
												|テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
												|テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
							.form__button__block--multi.u-mt30
								a.c-button-square--l--gray.u-fs--xxl.u-fwb
									| 修正する
								button.c-button-square--l.u-fs--xxl.u-fwb(type="submit" action="" data-submit='trigger')
									span.button-inner 送信する
				.column-right
					.column-right__inner(data-target-rightcolumn="target")
						.column-box--rightTop
							include ../../partial/column_right/_column_rightTop
						ul.nav-box.u-fs--xs.u-mt30
							include ../../partial/_nav
						.column-box--right__search.u-mt30
							include ../../partial/form/_quick_search_right
						include ../../partial/column_right/_column_rightContent_new
						include ../../partial/column_right/_column_rightContent_popular
		include ../../partial/_footer
		script(src='#{domain}js/app.js')
