li.column-box--normal__lists
	a(href="#")
		.-normal__list__img(data-normal="bg" data-layzr-bg="#{domain}img/media/media-m01.jpg")
			span.c-icon--circle--m
				span.u-fwb.u-fs--xxs NEW
		.-normal__list__right
			p.-normal__list__text.u-fs--xxlh--contents.u-fwb
				| 世界の料理をアルファベット順にご紹介！第13弾”M”「モモ」「マフェ」って知ってますか？
			._list__right__bottom
				span._list__right__tag.c-tag--chopsticks--l.u-fs--xs.u-fwb
					| しゃべるんだ
				._right__bottom__num
					span.c-icon--eye--l
					span.u-fs--l 2368
li.column-box--normal__lists
	a(href="#")
		.-normal__list__img(data-normal="bg" data-layzr-bg="#{domain}img/media/media-m01.jpg")
			span.c-icon--circle--m
				span.u-fwb.u-fs--xxs NEW
		.-normal__list__right
			p.-normal__list__text.u-fs--xxlh--contents.u-fwb
				| 世界では“板チョコ革命”が起きていた？！チョコレートの本当の美味しさを届ける「Bean to bar（ビーン・トゥ・バー）」
			._list__right__bottom
				span._list__right__tag.c-tag--career--l.u-fs--xs.u-fwb
					| 就食ノウハウ
				._right__bottom__num
					span.c-icon--eye--l
					span.u-fs--l 2368
li.column-box--normal__lists
	a(href="#")
		.-normal__list__img(data-normal="bg" data-layzr-bg="#{domain}img/media/media-m01.jpg")
		.-normal__list__right
			p.-normal__list__text.u-fs--xxlh--contents.u-fwb
				| 世界では“板チョコ革命”が起きていた？！チョコレートの本当の美味しさを届ける「Bean to bar（ビーン・トゥ・バー）」
			._list__right__bottom
				span._list__right__tag.c-tag--career--l.u-fs--xs.u-fwb
					| 就食ノウハウ
				._right__bottom__num
					span.c-icon--eye--l
					span.u-fs--l 2368
li.column-box--normal__lists
	a(href="#")
		.-normal__list__img(data-normal="bg" data-layzr-bg="#{domain}img/media/media-m01.jpg")
		.-normal__list__right
			p.-normal__list__text.u-fs--xxlh--contents.u-fwb
				| 世界では“板チョコ革命”が起きていた？！チョコレートの本当の美味しさを届ける「Bean to bar（ビーン・トゥ・バー）」
			._list__right__bottom
				span._list__right__tag.c-tag--career--l.u-fs--xs.u-fwb
					| 就食ノウハウ
				._right__bottom__num
					span.c-icon--eye--l
					span.u-fs--l 2368
li.column-box--normal__lists
	a(href="#")
		.-normal__list__img(data-normal="bg" data-layzr-bg="#{domain}img/media/media-m01.jpg")
		.-normal__list__right
			p.-normal__list__text.u-fs--xxlh--contents.u-fwb
				| 世界では“板チョコ革命”が起きていた？！チョコレートの本当の美味しさを届ける「Bean to bar（ビーン・トゥ・バー）」
			._list__right__bottom
				span._list__right__tag.c-tag--career--l.u-fs--xs.u-fwb
					| 就食ノウハウ
				._right__bottom__num
					span.c-icon--eye--l
					span.u-fs--l 2368
