.column-box--search.u-fs--l.u-mt30
	h3.column-box__ttl.u-fwb 職種で検索
	dl.column-box__list.column-box__list--first
		dt.column-box__list__ttl 調理
		dd.column-box__list__right
			ul
				li
					a(href="#")
						i.c-icon--triangle
						|シェフ・キッチン
				li
					a(href="#")
						i.c-icon--triangle
						|パティシエ
				li
					a(href="#")
						i.c-icon--triangle
						|ソムリエ
				li
					a(href="#")
						i.c-icon--triangle
						|ブランジェ・製パン
				li
					a(href="#")
						i.c-icon--triangle
						|バリスタ
				li
					a(href="#")
						i.c-icon--triangle
						|ピッツアイオーロ
				li
					a(href="#")
						i.c-icon--triangle
						|製造・加工
				li
					a(href="#")
						i.c-icon--triangle
						|寿司職人
				li
					a(href="#")
						i.c-icon--triangle
						|その他
	dl.column-box__list.column-box__list--second
		dt.column-box__list__ttl 接客・販売
		dd.column-box__list__right
			ul
				li
					a(href="#")
						i.c-icon--triangle
						|店長・マネージャー
				li
					a(href="#")
						i.c-icon--triangle
						|ホールスタッフ
				li
					a(href="#")
						i.c-icon--triangle
						|販売スタッフ
				li
					a(href="#")
						i.c-icon--triangle
						|デリバリースタッフ
				li
					a(href="#")
						i.c-icon--triangle
						|レセプショニスト
	dl.column-box__list.column-box__list--third
		dt.column-box__list__ttl 企画・運営
		dd.column-box__list__right
			ul
				li
					a(href="#")
						i.c-icon--triangle
						|経営幹部
				li
					a(href="#")
						i.c-icon--triangle
						|SV・営業
				li
					a(href="#")
						i.c-icon--triangle
						|本部スタッフ
				li
					a(href="#")
						i.c-icon--triangle
						|栄養士・管理栄養士
.column-box--search.u-fs--l.u-mt30
	h3.column-box__ttl.u-fwb こだわりで検索
	dl.column-box__list.column-box__list--first
		dt.column-box__list__ttl 応募条件
		dd.column-box__list__right
			ul
				li
					a(href="#")
						i.c-icon--triangle
						|未経験OK
				li
					a(href="#")
						i.c-icon--triangle
						|年齢不問
				li
					a(href="#")
						i.c-icon--triangle
						|外国人歓迎
				li
					a(href="#")
						i.c-icon--triangle
						|WワークOK
	dl.column-box__list.column-box__list--second
		dt.column-box__list__ttl 待遇
		dd.column-box__list__right
			ul
				li
					a(href="#")
						i.c-icon--triangle
						|社会保険あり
				li
					a(href="#")
						i.c-icon--triangle
						|寮・社宅あり
				li
					a(href="#")
						i.c-icon--triangle
						|各種手当充実
				li
					a(href="#")
						i.c-icon--triangle
						|交通費支給
				li
					a(href="#")
						i.c-icon--triangle
						|研修あり
				li
					a(href="#")
						i.c-icon--triangle
						| 制服貸与
				li
					a(href="#")
						i.c-icon--triangle
						| 週休2日
				li
					a(href="#")
						i.c-icon--triangle
						| 社員登用あり
	dl.column-box__list.column-box__list--third
		dt.column-box__list__ttl 特徴
		dd.column-box__list__right
			ul
				li
					a(href="#")
						i.c-icon--triangle
						|オープニング
				li
					a(href="#")
						i.c-icon--triangle
						|高収入
				li
					a(href="#")
						i.c-icon--triangle
						|定休日あり
				li
					a(href="#")
						i.c-icon--triangle
						|服装自由
				li
					a(href="#")
						i.c-icon--triangle
						|まかないあり
				li
					a(href="#")
						i.c-icon--triangle
						|個人経営
				li
					a(href="#")
						i.c-icon--triangle
						|海外勤務あり
				li
					a(href="#")
						i.c-icon--triangle
						|リゾート
				li
					a(href="#")
						i.c-icon--triangle
						|独立希望者歓迎



